/*
	alerts.less

-------------------------------------------------------------------*/

/*
	@template app/assets/alerts/*.html
*/


/* Header */

.alert-notifications{
  padding: 5px 15px 0;
  line-height: 50px;
  background: @color-menu-lighter;
  color: @color-menu-light;
  position: relative;
  cursor: pointer;
  .transition(.35s color ease-in-out);

  @media @MQ-M {
    line-height: 38px;
  }

  &:hover,
  &:focus{
    color: #FFF;
  }

  &.alerts-present{
    border-bottom: 5px solid @color-danger;
  }

  &.no-alerts{
    border-bottom: 5px solid @color-success;
  }

  &.no-alert-count{
    i.fa-bell {
      top: 2px;
      left: 0;
    }
  }

  i.fa-bell{
    font-size: 1.4em;
    position: relative;
    top: 4px;
    left: -2px;
  }

  .alert-count{
    position: absolute;
    z-index: 1;
    top: 12px;
    left: 22px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    .border-radius(10px);

    @media @MQ-M{
      top: 9px;
      height: 16px;
      width: 16px;
      line-height: 16px;
      font-size: 10px;
    }
  }
}

/* Right Sidebar - Quickview */
.alertview-header{
  height: 60px;
  background-color: @color-menu;
  text-align: center;

  span{
    line-height:60px;
    text-transform: uppercase;
    color: #FFF;
  }

  .quickview-toggle{
    right: 0;
    top: 0;
    width: 50px;
    height: 60px;
    line-height: 60px;
    padding: 0;
    background: @color-menu-lighter;
    opacity: 1;
    color: #CCC;
    .transition(.35s color ease-in-out);

    &:hover,
    &:focus{
      color: #FFF;
    }
  }

  @media @MQ-M{
    height: 48px;

    span{
      line-height:48px;
    }

    .quickview-toggle{
      height: 48px;
      line-height:48px;
    }
  }
}

.alertview-subheader{
  height: 40px;
  background-color: @color-primary;
  text-align: center;

  span{
    line-height:40px;
    text-transform: uppercase;
    color: #FFF;
    font-size: 12px;
  }
}


.list-alerts{
  .alert-list {
    background-color: @color-menu-lighter;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0;

    &:hover,
    &focus{
      background-color: @color-menu-lighter;
    }

    &:last-child{
      border-bottom: none;
    }

    a{
      color: #CCC;
      padding: 0 0 0 15px;

      &:hover,
      &focus{
        color: #FFF;
      }

    }

    .date{
      width: 60px;
    }

    .group-name{
      line-height: 1;
      display: block;
      font-family: Montserrat;
      text-transform: uppercase;
      font-size: 75%;
      font-weight: bold;
    }

    .alert-specs{
      line-height: 1.4;
      display: block;
    }
  }

  ul{
    border-bottom: none;
  }
}


  /* Panels */

.alerts-tab-content{
  min-height: 475px;
}

/* Content */
.alert-info-list{
  list-style: none;
  padding: 0;
  margin: 0;

  li{
    @media @MQ-M {
      margin-bottom: 10px;
    }
  }
}

.sim-radius{
  .border-radius(4px 12px 4px 4px);
}

.alerts-customize-wrapper{
  border-bottom: 1px dashed rgb(229, 229, 229);

  .acw-sim-info,
  .acw-alert-info,
  .acw-type-info,
  .acw-group-info{
    padding: 20px;

    @media @MQ-XL{
      padding: 20px 0;
    }

    @media @MQ-S{
      padding: 10px 0;
    }
  }

  .col-xs-6{
    @media @MQ-S{
      width: 100%;
    }
  }

  .acw-type-info{

    @media @MQ-XL{
      position: relative;

      .info-question-circle{
        position: absolute;
        top: 25px;
        left: -29px;
      }
    }

    @media @MQ-M{
      padding: 0;
      margin-bottom: 25px;
      white-space: nowrap;

      .info-question-circle{
        position: static;
      }

      button{
        width: calc(~"100% - 24px");
      }
    }

    @media @MQ-S{
      padding: 10px 0;
      margin-bottom: 15px;
    }
  }
}

.sim-association-wrapper{
  border-top: 1px dashed #e5e5e5;
  background-color: #fafafa;
  padding: 5px 10px;
}

.sim-association{
  display: inline-block;
  white-space: nowrap;

  .assoc-title{
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 12px;
    color: #626262;
    font-weight: bold;
    vertical-align: middle;
  }

  .assoc-value{
    margin: 0 10px 0 5px;
    font-size: 12px;
    vertical-align: middle;

    @media @MQ-S{
      text-overflow: ellipsis;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 185px;
    }
  }
}

/* Table Data */
.alert-level-id{
  text-transform: uppercase;
  font-size: 10px;
  color: #888888;
  font-weight: 600;
  line-height: 1;
}

.alert-target-id{
  line-height: 1.2;
}
#enterpriseBulkMsgAlert{
  max-height: 550px !important;
  overflow: auto !important;
}
#enterpriseBulkMsgAlert > .close{
  position: absolute !important;
  right:20px !important;
}
.pgn-wrapper[data-position="top-right"]{
  height: auto !important;
  top:92px !important;
  right:0px !important;
}
.pgn-wrapper[data-position="top-right"]>.pgn-simple{
  height: inherit !important;
}