/*
	auth.less

-------------------------------------------------------------------*/

/*
	@template tpl/auth.html
*/
.header-authentication {
	height: 60px !important;
    padding-right: 0 !important;
    position: relative;

	.login-logo {
		float: left;
		line-height: 60px;
		text-align: center;
	}

	.center-app-logo{
      position: absolute;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      top: 0;
      left: 50%;

      @media only screen and (max-width: 767px){
        display: none;
      }
	}

	@media @MQ-M{
		padding-left: 20px !important;
	}
}
        
.login-wrapper{
	//background-color: @color-complete;
	background-color: #fafafa;
	position: relative;
	
	.auth-header{
		text-align: center;
	    padding: 15px 0;
	    background-color: @color-menu;
	}

	/*
		@template tpl/auth/login.html
	*/
	
	.login-container{
		.translate(-50%, -50%);
		position: absolute;
		top: 50%;
		left: 50%;
		height: auto;
		width: 496px;


		@media only screen and (max-height: 600px){
			position: relative;
			left: 0;
			top: 60px;
			height: auto;
			width: 100%;
			max-width: 496px;
			float: none;
			margin: 0 auto;
			.translate(0%, 0%);
		}

		@media @MQ-M{
			position: relative;
			left: 0;
			top: 60px;
			margin: 0 auto;
			height: auto;
			width: 100%;
			.translate(0%, 0%);
		}
	}
	
	.form-group-default{
		label{
			display: inline-block;
			
			&.error{
				font-size: 11px;
				text-transform: uppercase;
				font-weight: 600;
			}
		}
	}

	/*
		@template tpl/auth/select-account.html
	*/

	.select-account-header{
		text-align: left;
	    padding: 8px 50px;
	    
	    h3,h4,h5{
		    margin: 0;
	    }
	}
	
	.select-account-container{
		max-height: 388px;
		overflow-y: auto;
	    -webkit-overflow-scrolling: touch;
		border: 1px solid rgba(0,0,0,.07);

		&::-webkit-scrollbar-track {
			border-top: none;
			border-right: none;
			border-bottom: none;
		}
	
		.select-account-list{
			list-style: none;
			margin: 0;
			padding: 0;
			
			li{
				text-align: left;
				margin: 0;
				padding: 0;
							
				&:last-child a{
					border-bottom: none;
				}
				
				a{
					font-size: 16px;
					line-height: 1.2;
					border-bottom: 1px solid rgba(0, 0, 0, 0.07);
				    padding: 15px 50px;
				    display: block;
				    position: relative;
				    
				    .transition(.3s ease-in-out);
				    
				    &:hover,
				    &:active{
					    background-color: rgba(0,0,0,.035);
				    }
				    
				    &::before{
					    content: "\e62a";
						display: inline-block;
						font: normal normal normal 14px/1 pages-icon;
						font-size: inherit;
						text-rendering: auto;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						position: absolute;
						right: 35px;
						top: 50%;
						margin-top: -7px;
						font-size: 14px;
				    }
				    
				    i{
					    margin-right: 15px;
					    font-size: 80%;
				    }
				}
			}
		}

		@media @MQ-M{
			max-height: none;
			height: auto;
			overflow: auto;
		}
	}


	/*
		@template tpl/auth/login.html,
		@template tpl/auth/reset-password.html,
		@template tpl/auth/change-password.html,
		@template tpl/auth/forgot-password.html,
		@template tpl/auth/select-account.html
	*/

	.auth-view-header{
		text-align: left;
		padding: 0px 50px;
		
		h3,h4,h5{
			margin: 0;
		}

		@media @MQ-M{
			
			padding: 0px 20px;
			
		}
	}
}
