/*
	_dashboard.less

-------------------------------------------------------------------*/

/*
	@template tpl/app/home.html
*/
	
.panel{
	.costs-body{
		padding: 15px 15px 0;
		
		.estimated-cost{
			padding: 20px 25px 35px;
			border-bottom: 1px dashed rgba(0,0,0,.07);
		}
	}

	&.zones-panel{
		min-height: 511px;
	}

	.panel-heading{
		.with-sub-title{
			display: block;
		}
	}
			
	.panel-sub-title{
		color: #626262;
		font-size: 10px;
		line-height: 1;
	}
}

/* Menu Pinned State */

body{
	&.menu-pin{
		@media @MQ-XL{
			.zone-panel-wrapper,
			.estimated-cost-wrapper{
				width: 100% !important;
			}
		}
	}
}

.noDataMessage{
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.overflow-wrapper{
	max-height: 500px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	position: relative;
	
	&.pricing-wrapper{
		min-height: 232px;
		height: 231px;
	}
	
	&.usage-table-wrapper{
		height: 350px;

		@media only screen and (max-width: 1199px){
			height: 100%;
		}
	}
	
	.no-data{
		margin-top: 24px; /* Offset for the table header */
		text-align: center;
		color: #2b6a94;
		opacity: .6;
		position: absolute;
		top: 50%;
		left: 50%;
		.translate(-50%, -50%);
	}
}

.spend-line-height{
	line-height: 28px;
}

.gs-mock-table{
	display: table;
	width: 100%;
	
	&.mt-row-hover{
		.mt-row{
			&:hover{
				background-color: #FFFBDF !important;
				cursor: pointer;
			}
		}
	}
	
	&.gs-fixed{
		table-layout: fixed;
	}
	
	&.striped{
		.mt-row{
			&:nth-child(even){
				background-color: #f9f9f9;
			}
		}
	}
	
	&.mt-row-hover-border-left{
		
		.mt-row{
			> div{
				&:first-child{
					border-left: 5px solid transparent;
					.transition(border .20s ease-in-out);
				}
			}
			
			&:hover{
				> div{
					&:first-child{
						border-left: 5px solid @color-warning-light;
					}
				}
			}
		}
		
	}
	
	&.sim-table{
		.mt-header,
		.mt-row{
			> div{
				&:first-child{
					width: 125px;
				}
			}
		}
		
	}
	
	&.zone-usage-table{
		table-layout: fixed;
		
		.mt-header{
			.usage{
				&::after{
					display: block;
				}
			}
		}	
	}
	
	.usage{
		&::after{
		    vertical-align: baseline;
		    text-transform: uppercase;
		    line-height: 1;
		    font-size: 80%;
		    font-weight: 600;
		    margin-left: 3px;
		    content: 'in mb';
		    display: inline-block;
		    opacity: 0.7;
		}
	}
	
	.mt-header,
	.mt-row{
		position: relative;
		
		> div{
			display: table-cell;
			border-bottom: 1px solid rgba(235,235,235,.7);
			padding: 12px 15px;
			vertical-align: middle;
			line-height: 1;	
			
			&:first-child,
			&:last-child{
				padding: 12px 15px 12px 20px;
			}		
		}
	}
	
	.mt-header{
		display: table-row;
		
		> div{
			text-transform: uppercase;
		    font-weight: 600;
		    font-family: 'Montserrat';
		    font-size: 13px;
		    color: rgba(44, 44, 44, 0.35);

			&.checkbox-header{
				width: 30px;
				padding: 12px 5px;
			}
		}
	}
	
	.mt-row{
		display: table-row;
		.transition(background-color .20s ease-in-out);
		
		> div{
			&.checkbox-cell{
				width: 30px;
				padding: 12px 5px;

				.checkbox{
					margin: 0 auto;
				}

				label{
					margin-left: 5px;
					margin-right: 0px !important;
				}
			}
		}
	}
}

.rd-alert{
    padding: 8px 0px 6px;
    border-top: 1px dashed #bce8f1;
    background-color: #daeffd;
    color: #2b6a94;
    opacity: .6;
    text-align: center;
    
	.rd-message{
		font-size: 10px;
		line-height: 1;
		margin: 0;
	}
}

@media @MQ-M{
	
	.overflow-wrapper{
		&.sim-wrapper,
		&.user-wrapper,
		&.pricing-wrapper{
			height: 100% !important;
			min-height: 100% !important;
			max-height: 100% !important;
			overflow: hidden;
			-webkit-overflow-scrolling: inherit;
		}
		
		.no-data{
			margin-top: 0;
			padding: 20px;
			position: static;
			.translate(0%, 0%);
		}

	}
	
	.gs-mock-table{
		&.sim-table,
		&.user-table{
			display: block;
			width: 100%;
				
			&.mt-row-hover-border-left{
		
				.mt-row{
					> div{
						border-left: 5px solid transparent;
						.transition(border .20s ease-in-out);
					}
					
					&:hover{
						> div{
							border-left: 5px solid @color-warning-light;
						}
					}
				}
				
			}
			
			.mt-header{
				display: none;
			}
			
			
			.mt-row{
				display: block;
				
				/* Removed until functionality is added
				&::after{
					display: inline-block;
					font: normal normal normal 14px/1 FontAwesome;
					font-size: inherit;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					transform: translate(0,0);
					
					content: "\f0c1";
					color: #3a8fc8;
					
					position: absolute;
				    right: 15px;
				    top: 15px;
				    padding: 6px;
				    background-color: #fafafa;
				    border: 1px solid rgba(0,0,0,.07);
				    .border-radius(99px);
				}*/
				
				&:nth-child(2n+2){
					background-color: #fafafa;
				}
				
				> div{
					position: relative;
					display: block;
					width: 100% !important;
					padding: 7px 15px 7px 115px;
					border-bottom: 0;
					
					&::before{
						text-transform: uppercase;
						font-weight: 600;
						font-family: 'Montserrat';
						font-size: 13px;
						color: rgba(44, 44, 44, 0.35);
						width: 100px;
						position: absolute;
						left: 20px;
						top: 7px;
					}
					
					&:first-child{
						padding-top: 27px; /* 12px + 20px additional */
						
						border-top: 1px solid rgba(0,0,0,.07);
						
						&::before{
							content: 'Usage';
							display: inline-block;
							top: 23px !important;
							left: 20px !important;
						}
						&::after{
						    vertical-align: baseline;
						    text-transform: uppercase;
						    line-height: 1;
						    font-size: 80%;
						    font-weight: 600;
						    content: 'in mb';
						    display: inline-block;
						    opacity: 0.3;
						    position: absolute;
						    top: 36px;
						    left: 20px; 
						}
					}

					
					&:last-child{
						padding-bottom: 27px; /* 12px + 20px additional */
					}
				}
			}
		}
		
		&.sim-table{
			.mt-row{	
				> div{				
					&:nth-child(2)::before{
						content: 'ICCID';
						display: inline-block;
					}
					
					&:nth-child(3)::before{
						content: 'User';
						display: inline-block;
					}
					
					&:last-child{
						&::before{
							content: 'Group';
							display: inline-block;
						}
					}
				}
			}
		}
		
		&.user-table{
			.mt-row{			
				> div{									
					&:nth-child(2)::before{
						content: 'User';
						display: inline-block;
					}
					
					&:nth-child(3)::before{
						content: 'Group';
						display: inline-block;
					}
					
					&:last-child{
						&::before{
							content: 'Location';
							display: inline-block;
						}
					}
				}
			}
		}
	}

	.spend-line-height{
		line-height: 24px;
	}

}