/*
	datatable-controls.less

-------------------------------------------------------------------*/

/*
	@templates
		tpl/app/users.html
		tpl/app/sims.html
		tpl/app/groups.html
		tpl/app/assets/alerts/enterprise-spend-alerts.html
*/

#datatable-controls,
#overridetable .datatable-controls{
	display: block;
	
	/*
	
	 - Removed
	 
	Reason: dataTables downloadable options for CSV, spreadsheet, and PDF
	have been disabled.
	
	div:not(:last-child){
		margin-right: 15px;
	}
	
	*/
  .defaultBtnGroup {
    @media @MQ-L{
      width: 50%;
    }
  }

  .btn-group{
    @media @MQ-L{
      width: 100%;
    }
    &.sm-btn-halves{
      button{
        @media @MQ-L {

          &:nth-child(2n+1){
            .border-radius(2px 0 0 2px);
          }
          &:nth-child(2n+2){
            .border-radius(0 2px 2px 0);
          }
        }
      }
    }

    button{
      @media @MQ-M{
        width: 100%;
      }
    }
  }

  /*
  todo - This is not needed, remove once reviewed.
  #dt-noofrecords-dd{
    .ui-select-bootstrap{
      .ui-select-choices-row.active > span,
      .ui-select-choices-row:focus,
      .ui-select-choices-row:hover {
        background: #f0f0f0;
        color: #626262;
        opacity: 1;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
      }

      width: 60px;
    }
  }
*/
  #dt-action-dd{
      display: inline-block;
      vertical-align: middle;

      .dt-dropdown-toggle{
          background-color: #fff;
          border: 1px solid rgba(0, 0, 0, 0.07);
          padding: 0;
          height: 36px;
          width: 80px;
          .transition("color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s");

          &:hover,
          &:focus{
              background-color: #fafafa;
              border-color: rgba(98, 98, 98, 0.27);
          }

          .checkbox{
              margin: 0;
              top: -1px;
              text-align: center;

              label{
                  margin-right: 0;
                  top: 5px;
              }

              i{
                  line-height: 36px;
                  font-size: 14px;
                  width: 20px;
              }
          }
      }

      .dropdown-menu{
          background-color: #fff;
          top: 40px;

          > li > a{
              opacity: .5;
              color: @color-master !important;
              .transition(opacity ease 0.3s);

              &:hover,
              &:focus{
                  opacity: 1;
                  background-color: #f0f0f0;
                  .border-radius(0);
              }
          }
      }
  }

  #search-table{
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 5px;
      padding: 0;

      label{
          padding: 6px 12px;
      }

      input{
          width: auto;
          margin-left: 5px;
          display: inline-block;
      }

      .search-icon{
        display:block;
        position:absolute;
        top:0;
        right:0
      }
  }

  .filter-table{
    font-size: initial;
    display: inline-block;
    vertical-align: middle;

    &.w-smaller{
      .form-group{
        .ui-select-container{
          min-width: 60px;
        }
      }
    }

    &.w-small{
      .form-group{
          .ui-select-container{
              min-width: 75px;
          }
      }
    }

    &.w-medium{
      .form-group{
          .ui-select-container{
              min-width: 150px;
          }
      }
    }

    .form-group{
      padding: 4px 12px 5px;

      .form-control{
        margin-top: 0;
      }

      label{
        display: inline-block;
        vertical-align: middle;
        color: #333;
      }

      .ui-select-container{
        display: inline-block;
        height: 25px;
        vertical-align: middle;



        .ui-select-match{
          padding-top: 0;
          line-height: 25px;

          .ui-select-toggle{
            line-height: inherit;
          }
        }

        .ui-select-search{
          letter-spacing: .14px;
        }
      }
    }
  }

  #user-addition,
  #group-addition, #invoice-upload{
      button{
          position: relative;
          padding-top: 7px;

          i:not(.fa-plus){
              padding-right: 5px;
          }

          i.fa-plus{
              position: absolute;
              top: 5px;
              right: 15px;
              font-size: 10px;
          }
      }

  }

  .w-smaller{
    .ui-select-bootstrap {
      width:60px;
    }
  }

}

.edit-ico{
    font-size: 10px;
    vertical-align: text-top;
    line-height: 13.5px;
}

.bulk-search-wrapper{
  @media @MQ-L-UP{
    position: relative;
    display: inline-block;
    float: left;
    left: -179px;

    &.for-users{
      left: -290px;
    }

    &.for-groups{
      left: -105px;
    }
  }
}

.bulk-search-wrapper,
.other-actions-wrapper{
  @media only screen and (max-width: 1010px){
    &.reset-at-1010{
      position: static;
      left: 0;
      float: none;
      display: block;
    }
  }
}

.other-actions-wrapper{
  @media @MQ-L-UP {
    position: relative;
    display: inline-block;
    float: left;
    left: 335px;
  }
}

@media @MQ-L{
  #datatable-controls,
  #overridetable .datatable-controls{
    font-size: 0px;

    [class*="col-"]{
      padding-left: 0;
      padding-right: 0;
    }

    #dt-action-dd{
      vertical-align: top;
      margin-right: 10px;
      float: left;
    }

    #search-table{
      vertical-align: top;
      margin-right: 0;
      width: calc(~"100% - 91px");
      float: left;

      input{
        width:85%;
      }
    }

    .btn-group{
      .btn.btn-small {
        display: table-cell;
        width: 30%;
      }

      .btn.icon-btn {
        display: table-cell;
        width: 20%;
      }
    }

    .defaultBtnGroup{
      .btn.btn-small {
        display: table-cell;
        width: 50% !important;
      }
    }

    #user-addition{
      display: table;
      vertical-align: top;
      width: 100%;
      margin-right: 10px;

      button{
        i.fa-plus{
          right: calc(~"50% - 9px");
        }

        i.fa-group{
          padding-right: 7px;

          + i.fa-plus{
            right: calc(~"50% - 12px");
          }
        }
      }
    }

    #group-addition, #invoice-upload{
      width: 50%;

      > .btn:first-child{
        width: 100%;
      }
    }

  }
}

@media @MQ-M{

	.users-table-panel{
		padding-bottom: 10px !important;
	}

    .searchControlStyle{
      margin-bottom: 32px;
    }

    .itemsPerPageStyle{
      margin-bottom: 1%;
    }
}

.users-table-panel{
  @media @MQ-S {
    padding-right: 15px !important;
  }
}

@media (max-width: 400px){
	#datatable-controls,
    #overridetable .datatable-controls{
		#search-table{
			input{
				width: 105px;
			}
		}
	}
}

.controls-button-wrapper{
	display: inline-block;

	@media @MQ-M{

		display: block;

		&.no-search{
			display: inline-block;
			width: calc(~"100% - 90px");
            float: left;
		}

		.btn{
			width: 100%;
		}
	}
}

@media (min-width: 991px) {
  .verticalCenter {
	display: inline-block;
	float: none;
  }

  .textCenterAlign{
	text-align: center;
  }

  .itemsPerPageStyle{
    width : auto;
  }

  .searchControlStyle{
    width : auto;
  }
}

@media only screen and (max-width: 320px) {

  #datatable-controls ,
  #overridetable .datatable-controls {
    &.btn-group {

      .btn.icon-btn,
      .btn.btn-small {
        display: table-cell;
        width: 50% !important;
      }
    }
  }
}

@media (min-width: 991px) and (max-width: 1131px) {
  .searchControlStyle{
    right: 0;
    margin-top: 1%;
  }

  .otherControlsStyle{
    left: 0;
    width: 40%;
  }

}

@media (min-width: 1132px){
  .otherControlsStyle{
    left: 340px;
  }
}

/* Menu Pin Layout */

body{
  &.menu-pin{
    .other-actions-wrapper,
    .bulk-search-wrapper{
      @media only screen and (min-width: 992px) and (max-width: 1215px){
        position: static;
        left: 0;
        float: none;
        display: block;
      }
    }

    .bulk-search-wrapper{
      @media only screen and (min-width: 992px) and (max-width: 1215px) {
        margin-top: 10px;
      }
    }
  }
}

#modal-wizard{

  .gs-data-table{

    tbody, thead,
    .table tbody,
    .table thead {
      td, th {
        padding: 8px;
        vertical-align: middle;
      }
    }

  }
}