/*
	forms.less

-------------------------------------------------------------------*/

.fg-wrap{
	.form-group{
		margin-bottom: 0;
	}
	
	.fg-element-error{
		margin: 5px 12px 10px;	
		font-size: 10px;
		line-height: 1;
		vertical-align: middle;
		color: #f55753;
	}
}


.radio,
.checkbox{
	&.large{
		
		input:checked{
			+ label{
				&:before{
					border-width: 10.5px;
				}
			}
		}
		
		label{
			padding-left: 20px;
			
			&:before,
			&:after{
				width: 20px;
				height: 20px;
			}
			
			&:after{
				font-size: 14px;
				left: 0px;
				top: 1px;
			}
		}
	}
	
	&.no-label-text{
		label:before{
			margin-right: 0;
		}
	}
	
}

.editable-with-label{
  background-color: #fff;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 2px;
  padding-top: 7px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  overflow: hidden;

  &.editing{
    background-color: #f0f0f0;
    border-color: rgba(0, 0, 0, 0.1);
  }

  > label{
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
    margin: 0;
  }
}


.editable-wrapper{
	position: relative;
	width: 100%;
	
	&.allocation{		
		.editable-input{
			min-width: 99px;
			position: relative;
			
			input{				
				&[type=number]::-webkit-inner-spin-button, 
				&[type=number]::-webkit-outer-spin-button { 
				  -webkit-appearance: none; 
				  margin: 0; 
				}
			}
		}
	}
	
	.editable-input{
		width: calc(~"100% - 52px");
		min-width: 152px;
		display: table;
		cursor: pointer;
		border: 1px solid transparent;
		.border-radius(2px);
		.transition(all .16s ease-in-out);
		
		.input-ico{
			.transition(all .16s ease-in-out);
			display: table-cell;
			border-right: 1px solid transparent;
			line-height: 26px;
			width: 26px;
			height: 26px;
			text-align: center;
            color: @color-complete-dark;
		}
		
		input{
			display: table-cell;
			width: 100%;
			border: none;
			background: none;
			line-height: 25px;
			padding-left: 6px;
			padding-right: 6px;
			.transition(all .16s ease-in-out);
			text-overflow: clip;
			text-overflow: ellipsis;
		}
		
		&:hover,
		&.focused{
			border-color: rgba(0,0,0,.07);
			
			.input-ico{
				background-color: @color-complete-lighter;
				border-color: rgba(0,0,0,.07);
			}
			
			input{
				background-color: #fff;
			}
		}
	
		+ .updateInputValues{
			position: absolute;
			right: 0;
			top: 0;
			
			button{
				padding: 0;
				height: 29px;
				width: 28px;
				
				&:first-child{
					.border-radius(0);
				}	
			}
		}
		
		.updating-content{
			position: absolute;
			left: 211px;
			top: 0;
			line-height: 28px;
		}
	}
}

.switch-wrapper{
	
	label{
		display: block;
	}
	
	.fg-element-error{
		margin-left: 0;
	}
}

.ui-select-container{
	.ui-select-match{
		.ui-select-toggle{
			overflow: hidden;
			text-overflow: ellipsis;
			padding-right: 18px;
			word-wrap: normal;
			
			.ui-select-match-text{
				overflow: hidden;
				text-overflow: ellipsis;
				padding-right: 18px;
				word-wrap: normal;
				float: none !important;
			}
		}
	}
	
}

.ui-select-bootstrap {
	.ui-select-choices{
		width:auto;
		min-width: 100%;
	}

  .ui-select-match-text {
	span {
		display: inline !important;
	}
  }
}

input[type=number]{
  &.export-range{
	width: 55px;
	text-align: center;
  }
}




































