/*
  Any GEM lite specific styling should be used in two parts:
   1. .gem-lite is added to the body tag to identify that styling should be gem-lite specific
   2. add an additional class like ".my-style" after .gem-lite so it's only applied when GEM lite accounts are active
*/
.gem-lite{

  .sim-man-btn-grp{
    width: 176px;

    @media @MQ-L{
      width: 100%;
    }
  }

  .user-man-btn-grp{
    width: 290px;

    @media @MQ-L{
      width: 100%;

      .sm-btn-halves button:nth-child(2n+2){
        margin-top: 0 !important;
      }
    }
  }

}

.overflow-wrapper-lite{
  .no-data{
    margin-top: 24px; /* Offset for the table header */
    text-align: center;
    color: #2b6a94;
    opacity: .6;
    position: relative;
    top: 50%;
    left: 50%;
    .translate(-50%, -50%);
  }
}