/*
	_nvd3.less

-------------------------------------------------------------------*/

/*
	@template #/app/home
	@template #/app/data-usage
	@template #/app/sims
*/	 

.pie-or-donut{
	
	nvd3{
		.title,
		.subtitle{
			margin: 0 auto;
		}
		
		svg{
			width: auto;
			height: auto;
			margin: 0 auto;

		}
	}
}


.nvd3{ 
	
	.nv-axis{
		line{
			stroke: rgba(0,0,0,.07);
		}
	}
	
	&.nv-noData{
		font: 300 14px "Segoe UI", Arial, sans-serif;
		fill: #2b6a94;
		opacity: .6;
	}
}

.nvtooltip{
	border: 1px solid rgba(0,0,0,.07);
	padding: 7px 12px;
	.box-shadow(0 2px 5px rgba(0,0,0,.16));
	.border-radius(2px);
	
	.nvd3-gs-title{
		display: block;
		max-width: 200px;
		
		p{
			font-size: 12px;
			line-height: 1.2;
			margin: 0;
			padding: 0;
			text-align: left;
			overflow-wrap: break-word;
			word-wrap: break-word;
			.hyphens(auto);
		}
	}
	
	.nvd3-gs-usage{
		display: inline-block;
		font-weight: 600;
			
		.nvd3-gs-usage-unit{
			vertical-align: baseline;
		    text-transform: uppercase;
		    line-height: 1;
		    font-size: 80%;
		    margin-left: 3px;
		}
	}
	
	.nvd3-gs-date{
		display: inline-block;
		opacity: 0.7;
		margin-left: 10px;
		padding-left: 10px;
		border-left: 1px solid rgba(0,0,0, .07);
	}
}

.nvd3-modal-title{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat';
    margin-top: 15px;
    margin-bottom: 0px;
}

.nvd3-modal-subtitle{
 	text-align: center;
    font-size: 10px;
    line-height: 1;
    margin-bottom: 15px;
}