/*
	profile.less

-------------------------------------------------------------------*/

/*
	@templates
		tpl/app/profile.html
*/	    

#user-profile{
	
	.info-list{
		list-style: none;
		margin: 0;
		padding: 0;
		
		li{
			padding-left: 0;
			line-height: 1.4;
			margin-bottom: 5px;
			display: table;
			width: 100%;
					
			span{
			    font-size: 11px;
			    text-transform: uppercase;
			    font-weight: 600;
				font-family: 'Montserrat';
				vertical-align: middle;
				
				&.sim-iccid{
					display: table-cell;
					padding-right: 10px;
					width: 65px;
					border-right: 1px solid rgba(0, 0, 0, 0.07);
					opacity: .7;
				}
				
				&.sim-nickname{
					display: table-cell;
					padding-left: 10px;
					width: calc(~'100% - 155px');
				}
				
				&.association{
					opacity: .7;
					display: inline-block;
					min-width: 55px;
					padding-right: 10px;
					margin-right: 10px;
					border-right: 1px solid rgba(0, 0, 0, 0.07);
				}
			}
		}
	}
	
}

@media (max-width: 500px){
	
	#user-profile{
		.info-list{			
			li{
				margin-right: 0;
				padding-right: 0;
				padding-bottom: 5px;
				border-bottom: 1px solid rgba(0, 0, 0, 0.07);
				
				span{
					&.nickname,
					&.association{
						border-right: none;
						display: block;
					}
				}
			}
		}
	}
	
}
