/*
	settings.less

-------------------------------------------------------------------*/

/*
	@templates
		tpl/app/settings.html
*/

#enterprise-settings,
#pricingDetails{
	.currency-option{
		margin: 15px 0;
		border-top: 1px solid rgba(0, 0, 0, 0.07);
		border-bottom: 1px solid rgba(0, 0, 0, 0.07);
	}
	
	.cs-skin-full{
		width: 100%;
		height: 100%;

		&.no-border{
			.cs-backdrop{
				border: none;
			}
		}
	}
	
	.zone-price{
		opacity: .7;
		float: right;
		margin-right: 15px;
	}
	
	.country-list{
		list-style: none;
		padding-left: 10px;
	}
	
	[id^="zone_"]{
		background-color: #fafafa;
		
		+ .panel-collapse{
			&.in{
				border-top: 1px solid rgba(0, 0, 0, 0.07);	
			}
		}
	}
	
	.badge-date{
		float: right;
		font-size: 10px;
		line-height: 1;
	}
}

#pricingDetails{

	.infinity{
		font-size:18px;
	}

	.basicCommitment{
		border: 1px solid #ddd;
	  	float: right;

		#committedLabel{
			font-weight: 400;
		}
		#committedData{
			font-weight: bold;
			font-size: 120%;
		}
		#committedCost{
			font-size: 100%;
		  	display: inline-block;
		}
	}

	.widget-11-2 .widget-11-2-table{
		height: auto;
	}

	#pricingInfoDataTable{
		th{
			color:#626262 !important;
		}

		#tier{
			width:60px;
		}
		#range, #committed{
			width:100px;
		}
		#price{
			width:160px;
		 }

		.p-l-10-imp{
			padding-left: 10px !important;
		}
	}
}


@media only screen and (max-width: 580px) {
	#pricingDetails #pricingInfoDataTable{
		#range, #committed{
			width:130px;
		}
		#price{
			width:200px;
		}
	}
}

@media (max-width: 480px){

	#enterprise-settings{
	
		[id^="zone_"]{
			+ .panel-collapse{
				.panel-body{
					padding-top: 15px;
				}
			}
			
		}
	}
}

@media (max-width: 561px){
  #pricingDetails{
	.basicCommitment{
	  float: left !important;
	  margin-top: 2%;
	}
  }
}