
.status-wrapper{
  white-space: nowrap;
}

.status-as-link{
  .status-text{
    text-decoration: underline;
  }
}

.status{
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;

  &:before{
    content: '';
    display: table;
    height: 12px;
    height: 12px;
    width: 12px;
    border-width: 2px;
    border-style: solid;
    .border-radius(999px);
  }

  &.active,
  &.full-access{
    .status(@color-success, @color-success-dark);
  }

  &.inactive,
  &.disable,
  &.no-access{
    .status(@color-danger, @color-danger-dark);
  }

  &.email{
    .status(@color-primary, @color-primary-dark);
  }

  &.throttle,
  &.partial-access{
    .status(@color-warning, @color-warning-dark);
  }

  &.installed {
    .status(#10cfbd, #0da899);
  }
  
  &.failed {
    .status(#f55753, #c64643);
  }
  
  &.available {
    .status(#30c2e2, #00a8cc);
  }
  
  &.assigned {
    .status(#918d8d, #707070);
  }
  
  &.deleted {
    .status(#cccccc, #aaaaaa)
  }
  
  &.downloaded {
    .status(#f8d053, #c9a843)
  }
  
}

.status-text{
  display: inline-block;
  vertical-align: middle;
  text-transform: capitalize;

  &.yellow{
     color: #c9a843;
   }

  &.green{
    color: #0da899;
  }

  &.red{
    color: #c64643;
  }
}

.enterprise-status{
  text-transform: capitalize;

  &.inactive{
    color: #c9a843;
  }

  &.active{
    color: #0da899;
  }

  &.suspended{
    color: #c64643;
  }
}

.RP-association-status{
  &.Pending{
    color: #c9a843;

    a{
      color: #c9a843 !important;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }

  &.Inprogress{
    color: #c9a843;

    a{
      color: #c9a843 !important;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }

  &.Complete{
    color: #0da899;

    a{
      color: #0da899 !important;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }

  &.Failed{
    color: #c64643;

    a{
      color: #c64643;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }

  &.Cancelled{
    color: #c64643;

    a{
      color: #c64643 !important;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }

  &.Partial{
    color: #c9a843;

    a{
      color: #c9a843 !important;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }

  &.Skipped{
    color: #c9a843;

    a{
      color: #c9a843 !important;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }

  &.Errors{
    color: #c64643;

    a{
      color: #c64643;
      text-decoration: underline;
    }
  }

  &.Warnings{
    color: #c9a843;

    a{
      color: #c9a843 !important;
      text-decoration: underline;
    }
  }

}

.roaming-profile-status{
  display: inline-block;
  vertical-align: middle;
  text-transform: capitalize;

  &.PENDING{
    color: #c9a843;
  }
  &.PENDING_HLR_UPDATE{
    color: #c9a843;
  }

  &.PUBLISHED{
    color: #0da899;
  }
}