/*
	typography.less

-------------------------------------------------------------------*/

/*
	@template *
*/
@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/gothic.eot');
  src: local('gothic'), url('../fonts/gothic.woff') format('woff'), url('fonts/gothic.ttf') format('truetype');
}

@font-face {
  font-family: 'Century Gothic Bold';
  src: url('../fonts/gothic-bold.eot');
  src: local('gothic-bold'), url('../fonts/gothic-bold.woff') format('woff'), url('../fonts/gothic-bold.ttf') format('truetype');
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700italic);
