<div class="container-fluid container-fixed-lg gs-data-table m-t-25" id="search-field">
    <!-- Search -->
    <div class="row">
        <div class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body sm-p-t-20">
                    <form id="form-search" name="searchFrom" role="form" novalidate gs-form-validation>
                        <!-- Search Filter -->
                        <div class="fg-wrap m-b-10">
                            <div pg-form-group
                                 class="form-group form-group-default form-group-default-select">
                                <label for="searchOn">Search By</label>
                                <ui-select ng-model="dataTableObj.searchOn" id="searchOn" name="searchOn"
                                           theme="bootstrap" required>
                                    <ui-select-match
                                            placeholder="Select a filter">
                                        {{$select.selected.value}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="item in dataTableObj.searchParams | filter: $select.search">

                                        <span ng-bind-html="searchVm.trustAsHtml((item.value | highlight: $select.search))"></span>
                                    </ui-select-choices>
                                    <ui-select-no-choice>
                                        Your search doesn't match any existing filters.
                                    </ui-select-no-choice>
                                </ui-select>
                            </div>
                        </div>
                        <!-- / Search Filter -->

                        <!-- Search Input -->
                        <div class="fg-wrap m-b-10">
                            <div gs-pg-form-group class="form-group form-group-default">
                                <label for="searchValue">Value</label>
                                <div class="controls">
                                    <input class="form-control" type="search" name="searchValue" ng-model="dataTableObj.searchValue" id="searchValue" required/>
                                </div>
                            </div>
                            <div class="fg-element-error"><span style="color: red" ng-show="searchFrom.searchValue.errorStr"> {{ searchFrom.searchValue.errorStr }}</span></div>
                        </div>
                        <!-- / Search Input -->

                        <!-- Submit -->
                        <button class="btn btn-complete" ng-click="searchVm.searchIt(searchFrom)">
                            Search
                        </button>
                        <!-- / Submit -->

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- / Search -->

    <!-- Search Table -->
    <div class="row" ng-if="showDataTable">
        <div class="col-md-12">
            <div class="panel panel-default ">
                <div class="panel-body gs-data-table sm-p-t-20">
                    <table id="{{dataTableObj.tableID}}" class="table table-striped no-leading-checkbox" width="100%" gs-generate-table-body>
                        <thead>
                        <tr>
                            <th ng-repeat="header in dataTableObj.tableHeaders" ng-class="{Usage:'tdth-usage data-unit'}[header.value]">{{header.value}}</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- / Search Table -->

</div>