<div class="container-fixed-lg gs-data-table p-l-15 p-r-15" id="sims-profile">
    <div class="row">

        <div class="tab-content allow-overflow" id="overridetable">
            <ui-view></ui-view>
        </div>
    </div>
</div>