
<div class="alert alert-danger" role="alert" ng-if="zoneDetails.errorMessage">{{zoneDetails.errorMessage}}</div>

<div class="panel panel-default"  id="pricingDetails">
    <div class="panel-heading auto-height">
        <div class=" panel-title p-b-10 panel-title-color">Zone Details</div>
        <div class="p-b-20 p-l-15 RP-association-details">
            <div>Name : <span>{{zoneDetails.zone.name}}</span></div>
            <div>Nickname : <span> {{zoneDetails.zone.nickName}}</span></div>
            <div>Pricing Version : <span>{{zoneDetails.zone.pricingModelVersion}}</span></div>
            <div>Countries : <span ng-if="zoneDetails.zone.zoneCountryList.length"><a ng-click="zoneDetails.showCountries()" class="country-modal">{{zoneDetails.zone.zoneCountryList.length}}</a></span>
                <span  ng-if="!zoneDetails.zone.zoneCountryList.length">0</span>
            </div>
            <div>Last updated (UTC) : <span>{{zoneDetails.zone.lastUpdatedDate}}</span></div>
        </div>
        <div class="line-break m-t-20 m-b-20"></div>
        <div class=" panel-title panel-title-color">Pricing</div>
    </div>

    <div  role="tabpanel" aria-labelledby="zone_{{zoneDetails.zone.zoneId}}" test-arg="zone_{{zoneDetails.zone.zoneId}}" ng-if="!editPricingObj.editMode">
        <div class="panel-body p-t-5">

            <div ng-if="!showPricingDetails">
                <div class="no-padding pull-right" gs-has-permission="ZONE_EDIT">
                    <button type="submit" class="btn btn-complete " ng-click="zoneDetails.editPricing('add')" >Add Pricing</button>
                </div>
                <div class="clearfix"></div>
                <div class="alert alert-info m-t-10" >Pricing details not available.</div>
            </div>

            <div class="widget-11-2 panel no-border panel-condensed no-margin widget-loader-circle" ng-if="showPricingDetails">

                <div class="mb-1-percent">
                    <div class="pull-left  col-lg-10 col-md-6 col-sm-8 no-padding">
                        <div class="pull-left col-middle basicCommitment">
                            <div class="p-l-20 p-r-20 p-t-15 p-b-15">
                                <span id='committedLabel' class="no-margin no-padding" >Zone commitment :</span>
                                <span id='committedData' class="small text-primary no-padding" >{{zoneDetails.zone.minimumCommitmentData}}</span>
                                <span id='committedCost' class="small no-padding p-l-5" >Price - {{zoneDetails.zone.minimumCommitmentCost|currency:zoneDetails.account.currency:2}}</span>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!isSubAccount" class="col-lg-2 col-md-6 col-sm-4 no-padding va-middle" gs-has-permission="ZONE_EDIT">
                        <button type="submit" class="btn btn-complete pull-right" ng-click="zoneDetails.editPricing('edit')">Edit Pricing</button>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="auto-overflow widget-11-2-table gs-data-table">
                    <table class="table table-condensed" id="pricingInfoDataTable">
                        <thead>
                        <tr>
                            <th id='tier' class="font-montserrat all-caps fs-12 col-lg-6 p-l-10-imp" >TIERS</th>
                            <th id='range' class="font-montserrat all-caps fs-12 col-lg-6 no-padding" >RANGE</th>
                            <th id='committed' class="font-montserrat all-caps fs-12 col-lg-6 " ng-show="zoneDetails.zone.minimumCommitmentCost">COMMITTED</th>
                            <th id='price' class="font-montserrat all-caps fs-12 col-lg-6 b-l b-dashed b-grey">PRICE</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="bucket in zoneDetails.zone.buckets" test-arg="tier_{{$index+1}}">
                            <td class="font-montserrat fs-12 col-lg-6">{{bucket.tier}}</td>
                            <td >
                                <span class="hint-text small"><span ng-bind-html="bucket.range"></span></span>
                            </td>
                            <td class="col-lg-3" ng-show="zoneDetails.zone.minimumCommitmentCost">
                                <span class="hint-text small" >{{bucket.committedData}}</span>
                            </td>
                            <td class="col-lg-3 b-l b-dashed b-grey">
                                <span class="font-montserrat fs-18">{{bucket.pricePerUnit|currency:zoneDetails.account.currency:3}}/{{bucket.unitValue}} {{bucket.unitType}}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/pricing/zones/zone/edit-pricing.html'"></div>
</div>