<!-- Bulk Upload -->
<div ng-controller="ImportZonesCtrl as importZonesModal" class="modal fade slide-up disable-scroll" id="{{importZonesModal.modal.id}}" tabindex="-1" role="dialog"
     aria-hidden="false" >
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="importZonesModal.modalCancel()"><i class="pg-close fs-20"></i></button>
                    <h4 class="m-t-0">Import Zones</h4>
                </div>
                <div class="modal-body">
                    <form name="{{importZonesModal.modal.formName}}" action="#" class="dropzone modal-body" method="post" enctype="multipart/form-data" ng-dropzone dropzone="$root.importZoneDropZone"
                          dropzone-config="$root.importZoneDropZoneConfig" modal-id="importZonesModal.modal.id"  preview-upload-obj="importZonesModal.previewUploadObj"></form>
                    <div class="row">
                        <div class="col-sm-12 m-t-10 sm-m-t-10 text-right">
                            <button type="button" id="cancelUpload" class="btn btn-danger m-t-5" ng-click="importZonesModal.cancelUpload()" disabled>Cancel upload</button>
                            <button type="button" id="clearDropzone" class="btn btn-default m-t-5" ng-click="importZonesModal.modalCancel()" disabled>{{importZonesModal.modal.cancel}}</button>
                            <button type="button" id="uploadFiles" class="btn btn-complete m-t-5" ng-click="importZonesModal.modalSubmit()" disabled>{{importZonesModal.modal.submit}}</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Bulk Upload -->