<div class="panel panel-default">
    <div class="panel-heading auto-height">
        <div class=" panel-title p-b-10 panel-title-color">Roaming profile change status</div>
        <div class="p-b-20 p-l-15 RP-association-details">
            <div>Target Roaming Profile : <span>{{entRPAssociationStatus.targetRoamingProfileName}}</span></div>
            <div>Status : <span> {{entRPAssociationStatus.sessionStatus}}</span></div>
            <div>Completed SIM Count : <span>{{entRPAssociationStatus.totalCompletedSimCount}} / {{ entRPAssociationStatus.totalSimCount}}</span></div>
            <div>Changed By : <span>{{entRPAssociationStatus.changedBy}}</span></div>
        </div>

        <div id="datatable-controls" gs-datatable-controls>

            <!-- Search -->
            <gs-data-table-search table-obj="dataTableObj" search-val="sims.searchValue"></gs-data-table-search>
            <div class="clearfix visible-sm visible-xs"></div>

            <!-- Buttons -->
            <div class="btn-group  m-b-5 defaultBtnGroup">
                <button class="btn btn-small btn-default" ng-click="entRPAssociationStatus.refreshEntRPAssocStatusDataTable()" ><i class="fa fa-refresh"></i> Refresh</button>
            </div>

            <!-- Filter -->
            <div class="pull-right">
                <gs-data-table-filter table-obj="dataTableObj" filter="status"  label="Status" list="changeStatusFilters"  enable-search="false" ></gs-data-table-filter>

                <div class="w-smaller inline-block">
                    <gs-data-table-filter table-obj="dataTableObj" filter="selectedDisplayLength"  label="Items per page" list="dataTableObj.displayLengthvalues" disable-select="isPageSizeFilterDisabled" enable-search="false"></gs-data-table-filter>
                </div>
                <div class="clearfix visible-xs"></div>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
    <div class="panel-body gs-data-table">
        <div id="paceTableBlockDiv" class="paceDiv"></div>
        <table id="{{dataTableObj.tableID}}" class="table table-striped no-leading-checkbox" width="100%" gs-generate-table-body>
            <thead>
            <tr>
                <th ng-repeat="header in dataTableObj.tableHeaders" >{{header.value}}</th>
            </tr>
            </thead>
        </table>
    </div>
</div>