<!-- Sidebar -->
<div class="page-sidebar" data-pages="sidebar" gs-pg-sidebar>

    <!-- Mobile Menu Icon -->
    <div id="appMenu" class="sidebar-overlay-slide from-top">
    </div>
    <!-- / Mobile Menu Icon -->


    <!-- Sidebar Header -->
    <div class="sidebar-header">
        <div class="inline" ng-include="lazyLoadURL+'app/assets/common/tpl/ep-logo.html'"></div>
        <div class="sidebar-header-controls">
            <button data-toggle-pin="sidebar" class="btn btn-link visible-lg-inline stick-menu" type="button">
                <span>Stick Menu</span>
                <i class="fa fs-12"></i>
            </button>
        </div>
        <a href="javascript:void(0)" class="btn-link toggle-sidebar toggle-sidebar-tablet">
            <span class="icon-set grey menu-hambuger"></span>
        </a>
    </div>
    <!-- / Sidebar Header -->

    <!-- Sidebar Content -->
    <div class="sidebar-menu">
        <ul class="menu-items body">
            <li class="m-t-30 stand-alone showCursor" ng-click="goToState('support.search')" gs-has-permission="GLOBAL_SEARCH_ALLOWED">
                <a>
                    <span class="title">Search</span>
                </a>
                <span class="icon-thumbnail "><i class="fa fa-search"></i></span>
            </li>
            <li class="showCursor" ng-click="goToState('support.accounts.companies')">
                <a>
                    <span class="title">Enterprises</span>
                </a>
                <span class="icon-thumbnail"><i class="fa fa-university"></i></span>
            </li>
            <li class="showCursor" ng-click="goToState('support.roamingProfile.sets')" gs-has-permission="GET_ROAMING_PROFILE_SET">
                <a>
                    <span class="title">Roaming Profiles</span>
                </a>
                <span class="icon-thumbnail"><i class="fa fa-folder-open-o"></i></span>
            </li>
            <li class="showCursor" ng-click="goToState(getActivityState())" gs-has-permission="READ_CDR_METRICS,SIM_CDR_READ_ADVANCED,READ_LOCATION_METRICS,SIM_LOCATION_READ_ADVANCED">
                <a>
                    <span class="title">Sim Activity</span>
                </a>
                <span class="icon-thumbnail"><i class="fa fa-signal"></i></span>
            </li>
            <li class="">
                <a href="javascript:void(0);" class="dd-sb-menu showCursor">
                    <span class="title">Settings</span>
                    <span class="arrow"></span>
                </a>
                <span class="icon-thumbnail"><i class="fa fa-wrench"></i></span>
                <ul class="sub-menu">
                    <li class="showCursor" ng-click="openView('/support/profile/account-information')">
                        <a>Profile Settings</a>
                        <span class="icon-thumbnail"><i class="fa fa-gear"></i></span>
                    </li>
                </ul>
            </li>
            <li  ng-click="appObj.logout()" class="showCursor">
                <a href="javascript:void(0);">
                    <span class="title">Sign out</span>
                </a>
                <span class="icon-thumbnail"><i class="fa fa-sign-out"></i></span>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <!-- / Sidebar Content -->

</div>
<!-- / Sidebar -->
