<div class="row" ng-controller="InfoCtrl as enterpriseInfo" >
    <form name="enterpriseInfoForm" class="col-lg-6 col-md-6 col-sm-12" role="form" novalidate gs-form-validation>
        <fieldset>
            <div class="alert alert-danger" role="alert" ng-show="enterpriseInfo.errorMessage">{{enterpriseInfo.errorMessage}}</div>
            <div gs-has-permission="ACCOUNT_EDIT,ACCOUNT_READ">
                <div class="fg-wrap">
                    <div gs-pg-form-group class="form-group form-group-default required">
                        <label for="accountName" ng-class="{fade : enterpriseInfo.account.accountName}">Account Name</label>
                        <div class="controls">
                            <input type="text" id="accountName" name="accountName" class="form-control" maxlength="45" ng-model="enterpriseInfo.account.accountName" required>
                        </div>
                    </div>
                    <div class="fg-element-error"><span style="color: red" ng-show="enterpriseInfoForm.accountName.errorStr"> {{ enterpriseInfoForm.accountName.errorStr }}</span></div>
                </div>
                <div class="fg-wrap">
                    <div gs-pg-form-group class="form-group form-group-default required">
                        <label for="companyName" ng-class="{fade : enterpriseInfo.account.companyName}">Company Name</label>
                        <div class="controls">
                            <input type="text" id="companyName" name="companyName" class="form-control" maxlength="45" ng-model="enterpriseInfo.account.companyName" required>
                        </div>
                    </div>
                    <div class="fg-element-error"><span style="color: red" ng-show="enterpriseInfoForm.companyName.errorStr"> {{ enterpriseInfoForm.companyName.errorStr }}</span></div>
                </div>
                <div class="fg-wrap">
                    <div gs-pg-form-group class="form-group form-group-default required">
                        <label for="address1" ng-class="{fade : enterpriseInfo.account.address1}">Address 1</label>
                        <div class="controls">
                            <input type="text" id="address1" name="address1" class="form-control" ng-model="enterpriseInfo.account.address1" required>
                        </div>
                    </div>
                    <div class="fg-element-error"><span style="color: red" ng-show="enterpriseInfoForm.address1.errorStr"> {{ enterpriseInfoForm.address1.errorStr }}</span></div>
                </div>
                <div class="fg-wrap">
                    <div gs-pg-form-group class="form-group form-group-default">
                        <label for="address2" ng-class="{fade : enterpriseInfo.account.address2}">Address 2</label>
                        <div class="controls">
                            <input type="text" id="address2" name="address2" class="form-control" ng-model="enterpriseInfo.account.address2">
                        </div>
                    </div>
                    <div class="fg-element-error"><span style="color: red" ng-show="enterpriseInfoForm.address2.errorStr">Address invalid</span></div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="fg-wrap">
                            <div gs-pg-form-group class="form-group form-group-default required">
                                <label for="city" ng-class="{fade : enterpriseInfo.account.city}">City</label>
                                <div class="controls">
                                    <input type="text" id="city" name="city" class="form-control" ng-model="enterpriseInfo.account.city" maxlength="45" required>
                                </div>
                            </div>
                            <div class="fg-element-error"><span style="color: red" ng-show="enterpriseInfoForm.city.errorStr"> {{ enterpriseInfoForm.city.errorStr }}</span></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="fg-wrap">
                            <div gs-pg-form-group class="form-group form-group-default required">
                                <label for="state" ng-class="{fade : enterpriseInfo.account.state}">Province/State</label>
                                <div class="controls">
                                    <input type="text" id="state" name="state" class="form-control" ng-model="enterpriseInfo.account.state" maxlength="45" required>
                                </div>
                            </div>
                            <div class="fg-element-error"><span style="color: red" ng-show="enterpriseInfoForm.state.errorStr"> {{ enterpriseInfoForm.state.errorStr }}</span></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="fg-wrap">
                            <div gs-pg-form-group class="form-group form-group-default form-group-default-select required">
                                <label for="country" ng-class="{fade : enterpriseInfo.account.country}">Country</label>
                                <ui-select ng-model="enterpriseInfo.account.country" id="country" name="country" theme="bootstrap" skip-focusser="true" ng-disabled="disableCountrySelection" required>
                                    <ui-select-match
                                            placeholder="Select or search for a country">
                                        {{$select.selected.name}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            group-by="'region'"
                                            repeat="item in enterpriseInfo.countries | filter: $select.search">

                                        <span ng-bind-html="enterpriseInfo.account.trustAsHtml((item.name | highlight: $select.search))"></span>
                                    </ui-select-choices>
                                    <ui-select-no-choice>
                                        Your search doesn't match any existing countries.
                                    </ui-select-no-choice>
                                </ui-select>
                            </div>
                            <div class="fg-element-error"><span style="color: red" ng-show="enterpriseInfoForm.country.errorStr"> {{ enterpriseInfoForm.country.errorStr }}</span></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="fg-wrap">
                            <div gs-pg-form-group class="form-group form-group-default required">
                                <label for="postalCode" ng-class="{fade : enterpriseInfo.account.postalCode}">Postal Code</label>
                                <div class="controls">
                                    <input type="text" id="postalCode" name="postalCode" class="form-control" ng-model="enterpriseInfo.account.postalCode" maxlength="45" required>
                                </div>
                            </div>
                            <div class="fg-element-error"><span style="color: red" ng-show="enterpriseInfoForm.postalCode.errorStr"> {{ enterpriseInfoForm.postalCode.errorStr }}</span></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="fg-wrap">
                            <div gs-pg-form-group class="form-group form-group-default form-group-default-select required">
                                <label for="alertVersion"  ng-class="{fade : enterpriseInfo.account.alertVersionSupported}">Alert Version</label>
                                <div class="controls">
                                    <input type="text" id="alertVersion" name="alertVersion" class="form-control" ng-model="enterpriseInfo.account.alertVersionSupported" disabled>
                                </div>
                            </div>
                            <div class="fg-element-error"><span style="color: red" ng-show="enterpriseInfoForm.alertVersion.errorStr"> {{ enterpriseInfoForm.alertVersion.errorStr }}</span></div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="fg-wrap">
                            <div gs-pg-form-group class="form-group form-group-default form-group-default-select required">
                                <label for="pricingModelVersion"  ng-class="{fade : enterpriseInfo.account.pricingModelVersion}">Pricing Model Version</label>
                                <div class="controls">
                                    <input type="text" id="pricingModelVersion" name="pricingModelVersion" class="form-control" ng-model="enterpriseInfo.account.pricingModelVersion" disabled>
                                </div>
                            </div>
                            <div class="fg-element-error"><span style="color: red" ng-show="enterpriseInfoForm.pricingModelVersion.errorStr"> {{ enterpriseInfoForm.pricingModelVersion.errorStr }}</span></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <!-- Account Subscription type --->
                <div class="col-sm-6" gs-has-permission="ACCOUNT_SUBSCRIPTION_TYPE_EDIT,ACCOUNT_READ">
                    <div class="fg-wrap">
                        <div gs-pg-form-group ng-class="enterpriseInfo.isGSAdmin ? 'form-group form-group-default form-group-default-select required': 'form-group form-group-default form-group-default-select required'">
                            <label for="subscriptionType" ng-class="{fade : enterpriseInfo.account.accountSubscriptionType}">Gem Product</label>
                            <ui-select ng-model="enterpriseInfo.account.accountSubscriptionType" ng-disabled="disableSubsSelection" id="subscriptionType" name="subscriptionType" skip-focusser="true" theme="bootstrap">
                                <ui-select-match
                                        placeholder="Select or search subscription type">
                                    {{$select.selected }}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="item in enterpriseInfo.subscriptionTypes | filter: $select.search">

                                    <span ng-bind-html="enterpriseInfo.account.trustAsHtml((item | highlight: $select.search))"></span>
                                </ui-select-choices>
                                <ui-select-no-choice>
                                    Your search doesn't match any predefined subscription types.
                                </ui-select-no-choice>
                            </ui-select>
                        </div>
                        <div class="fg-element-error"><span style="color: red" ng-show="enterpriseInfoForm.subscriptionType.errorStr"> {{ enterpriseInfoForm.subscriptionType.errorStr }}</span></div>
                    </div>

                </div>
                <div class="col-sm-6" gs-has-permission="ACCOUNT_STATUS_EDIT,ACCOUNT_READ">
                    <div class="fg-wrap">
                        <div gs-pg-form-group ng-class="enterpriseInfo.isGSAdmin ? 'form-group form-group-default form-group-default-select required': 'form-group form-group-default form-group-default-select required'">
                            <label for="accStatus" ng-class="{fade : enterpriseInfo.account.status}">Status</label>
                            <ui-select ng-disabled="disableStatusSelection" ng-model="enterpriseInfo.account.status"  search-enabled="false" id="accStatus" name="accStatus" skip-focusser="true" theme="bootstrap"  >
                                <ui-select-match ng-class="">
                                    {{$select.selected }}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="item in enterpriseInfo.statusList | filter: $select.search">

                                    <span ng-bind-html="enterpriseInfo.account.trustAsHtml((item | highlight: $select.search))"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="fg-element-error"><span style="color: red" ng-show="enterpriseInfoForm.subscriptionType.errorStr"> {{ enterpriseInfoForm.subscriptionType.errorStr }}</span></div>
                    </div>

                </div>
            </div>
            <div gs-has-permission="ACCOUNT_EDIT,ACCOUNT_READ" gs-contextual-write-permission={{enterpriseInfo.allowTimeZoneEdit}}>
                <div class="fg-wrap">
                    <div gs-pg-form-group class="form-group form-group-default form-group-default-select required">
                        <label for="timezone" ng-class="{fade : enterpriseInfo.account.timezone}">Timezone</label>
                        <ui-select ng-model="enterpriseInfo.account.timezoneDesc"  id="timezone" name="timezone" skip-focusser="true" theme="bootstrap" ng-disabled="disableTimezoneSelection">
                            <ui-select-match
                                    placeholder="Select or search timezone">
                                {{enterpriseInfo.account.timezoneDesc.description }}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="item in enterpriseInfo.timeZones | filter: $select.search" position="up">

                                <span ng-bind-html="enterpriseInfo.account.trustAsHtml((item.description | highlight: $select.search))"></span>
                            </ui-select-choices>
                            <ui-select-no-choice>
                                Your search doesn't match any predefined timezones.
                            </ui-select-no-choice>
                        </ui-select>
                    </div>
                    <div class="fg-element-error"><span style="color: red" ng-show="enterpriseInfoForm.timezone.errorStr"> {{ enterpriseInfoForm.timezone.errorStr }}</span></div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="fg-wrap">
                            <div gs-pg-form-group class="form-group form-group-default form-group-default-select required">
                                <label for="currency" ng-class="{fade : enterpriseInfo.account.currency}">Currency</label>
                                <ui-select ng-model="enterpriseInfo.account.currency"  id="currency" name="currency" skip-focusser="true" theme="bootstrap" ng-disabled="disableCurrencySelection">
                                    <ui-select-match placeholder="Select or search currency">{{enterpriseInfo.account.currency.code }}</ui-select-match>
                                    <ui-select-choices
                                            repeat="item in enterpriseInfo.supportedCurrencies | filter: $select.search" position="up">

                                        <span ng-bind-html="enterpriseInfo.account.trustAsHtml((item.code | highlight: $select.search))"></span>
                                    </ui-select-choices>
                                    <ui-select-no-choice>
                                        Your search doesn't match any predefined currency.
                                    </ui-select-no-choice>
                                </ui-select>
                            </div>
                            <div class="fg-element-error"><span style="color: red" ng-show="enterpriseInfoForm.currency.errorStr"> {{ enterpriseInfoForm.currency.errorStr }}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="row" gs-has-permission="ACCOUNT_EDIT,ACCOUNT_READ">
            <div class="col-md-12 m-t-10">
                <button type="submit" class="btn btn-complete" ng-click="enterpriseInfo.updateEnterpriseDetails(enterpriseInfoForm)">Update</button>
            </div>
        </div>
    </form>
</div>