
<div class="alert alert-warning" role="alert" ng-if="zoneSpendAlerts.zoneId">
    Only {{zoneSpendAlertsList[0].zoneNickName ? zoneSpendAlertsList[0].zoneNickName : zoneSpendAlertsList[0].zoneName}} actions are shown. <a class="text-match-parent cursor" ng-click="clearFilters()">Click here</a> to see all actions.
</div>

<div id="datatable-controls" gs-datatable-controls>
    <div id="dt-action-dd" class="dropdown hideInReadOnlyMode" data-toggle="tooltip" title="Bulk Actions" gs-tooltip gs-has-permission="EDIT_ALERT,DELETE_ALERT">
        <div id="paceTableCheckBoxDiv" class="paceDiv" ng-class="{disableDiv : (zoneSpendAlertsList.length == 0)}"></div>
        <div class="dt-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="checkbox check-success large no-label-text">
                <input type="checkbox" value="1" id="checkbox_action">
                <label for="checkbox_action" ng-click="dataTableObj.selectAll($event)"></label>
                <i class="fa fa-caret-down"></i>
            </div>
        </div>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" ng-click="dataTableObj.checkRowSelection(zoneSpendAlerts.confirmAlertsEnable);" gs-has-permission="EDIT_ALERT">Enable Action(s)</a></li>
            <li><a href="javascript:void(0)" ng-click="dataTableObj.checkRowSelection(zoneSpendAlerts.confirmAlertsDisable);" gs-has-permission="EDIT_ALERT">Disable Action(s)</a></li>
            <li><a href="javascript:void(0)" ng-click="dataTableObj.checkRowSelection(zoneSpendAlerts.confirmAlertsDeletion);" gs-has-permission="DELETE_ALERT">Delete Action(s)</a></li>
        </ul>
    </div>

    <div class="controls-button-wrapper no-search">
        <button class="btn btn-default hideInReadOnlyMode" gs-has-permission="ADD_ALERT" ng-click="zoneSpendAlerts.showAlertModal({alertType: 'ZONE_CUMULATIVE',isNew: true,isSpendAlert: true,isZoneAlert: true})">Add Action</button>
    </div>

    <div class="clearfix visible-xs"></div>

</div>

<div class="gs-data-table m-t-10">
    <table id="{{dataTableObj.tableID}}" class="table table-striped" width="100%" gs-generate-table-body>
        <thead>
        <tr>
            <th ng-repeat="header in dataTableObj.tableHeaders">{{header.value}}</th>
        </tr>
        </thead>
    </table>
</div>

<div ng-include="lazyLoadURL+'app/assets/alerts/alert-modal.html'"></div>