<div class="row" gs-has-permission="READ_LOCATION_METRICS,SIM_LOCATION_READ_ADVANCED">
    <div class="col-md-12">
        <div class="panel panel-default panel-with-export" ng-controller="LocationDataCtrl as LocationDataCtrl" test-arg="LocationDataCtrl">
            <div class="panel-heading m-b-5">
                <div class="panel-title p-t-10">
                    Country wise Active SIMs
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div ng-include="lazyLoadURL+'app/assets/support/customer-activity/location/location-data/location-data-table.html'"></div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="locationFilters.country" gs-has-permission="SIM_LOCATION_READ_ADVANCED">
    <div class="col-md-12">
        <div class="panel panel-default panel-with-export" ng-controller="LocationEventsCtrl as LocationEventsCtrl" test-arg="LocationEventsCtrl">
            <div class="panel-heading m-b-5">
                <div class="panel-title p-t-10">
                    Location Updates
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div ng-include="lazyLoadURL+'app/assets/support/customer-activity/location/location-events/location-events-table.html'"></div>
            </div>
        </div>
    </div>
</div>