<div class="container-fluid container-fixed-lg gs-data-table m-t-25">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-default customer-activity">
                <ul class="nav nav-tabs nav-tabs-simple nav-tabs-primary sm-t-cell third" role="tablist">
                    <li ui-sref-active="active" gs-has-permission="READ_CDR_METRICS,SIM_CDR_READ_ADVANCED">
                        <a data-toggle="tab" role="tab" data-target="#" ui-sref="support.sim-activity.cdr">Call Data <span class="sm-nxt-ln">Records</span></a>
                    </li>
                    <li ui-sref-active="active" gs-has-permission="READ_LOCATION_METRICS,SIM_LOCATION_READ_ADVANCED">
                        <a data-toggle="tab" role="tab" data-target="#" ui-sref="support.sim-activity.location-updates">Location <span class="sm-nxt-ln">Updates</span></a>
                    </li>
                </ul>
                <form name="activityFiltersForm" novalidate>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="fg-wrap">
                                <div gs-pg-form-group class="form-group form-group-default form-group-default-select">
                                    <label for="imsi">Imsi</label>
                                    <ui-select ng-model="filters.values.imsi" search-enabled="false" id="imsi" name="imsi" theme="bootstrap" skip-focusser="true">
                                        <ui-select-match allow-clear="true" placeholder="All">
                                            {{$select.selected}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in filters.imsiList | filter: $select.search">
                                            <span ng-bind-html="filters.trustAsHtml((item | highlight: $select.search))"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="fg-wrap">
                                <div gs-pg-form-group class="form-group form-group-default form-group-default-select">
                                    <label for="country">Country</label>
                                    <ui-select ng-model="filters.values.country" id="country" name="country" theme="bootstrap" skip-focusser="true">
                                        <ui-select-match allow-clear="true" placeholder="All">
                                            {{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in filters.countryList | filter: $select.search">
                                            <span ng-bind-html="filters.trustAsHtml((item.name | highlight: $select.search))"></span>
                                        </ui-select-choices>
                                        <ui-select-no-choice>
                                            Your search doesn't match any existing countries.
                                        </ui-select-no-choice>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="fg-wrap">
                                <div gs-pg-form-group class="form-group form-group-default account-search">
                                    <label for="account-search">Account</label>
                                    <div class="controls">
                                        <input class="form-control" type="search" id="account-search" name="account-search" placeholder="Search and Select Account" ng-model="accountSearchKey.newValue"
                                               ng-keyup="searchAccount()" autocomplete="off"/>
                                    </div>
                                </div>
                            </div>
                            <div class="fg-wrap ui-select-container ui-select-bootstrap dropdown search-suggestions" ng-show="filters.accountList.length>0">
                                <ul class="ui-select-choices ui-select-choices-content ui-select-dropdown dropdown-menu">
                                    <li ng-repeat="account in filters.accountList" class="ui-select-choices-group" ng-click="setAccountFilter(account)">
                                        <div class="ui-select-choices-row">
                                            <span class="ui-select-choices-row-inner">{{account.accountName}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group form-group-default date-range">
                                <label for="daterangepicker3">Date (UTC)</label>
                                <div class="controls">
                                    <input date-range-picker id="daterangepicker3" options="opts" class="form-control date-picker" type="text" ng-model="datePicker" dp-change="dateChange" readonly style="color:#2c2c2c;"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1 va-middle">
                            <button type="button" class="btn btn-complete" ng-click="broadCastFilterChanges()">Apply</button>
                        </div>
                    </div>
                </form>
                <div id="container" style=""></div>

                <div id="legend">
                    <div class="box high"> </div><span>More than 100 SIMs</span>
                    <div class="box medium"> </div><span>11 to 100 SIMs</span>
                    <div class="box low"></div><span>1 to 10 SIMs</span>
                    <div class="box no-data"> </div><span>No data</span>
                </div>

                <div class="tab-content graphs bg-white allow-overflow">
                    <ui-view></ui-view>
                </div>
            </div>
        </div>
    </div>
</div>
