<div class="tab-pane slide-left active">
    <div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading m-b-5">
            <div id="datatable-controls" gs-datatable-controls>

                <div class="bulk-search-wrapper md-m-t-10" style="left: 0 !important;">
                    <div id="dt-action-dd" class="dropdown" data-toggle="tooltip" title="Bulk Actions" gs-tooltip gs-has-permission="ACCOUNT_EDIT">
                        <div id="paceTableCheckBoxDiv" class="paceDiv" ng-class="{disableDiv : isDisable}"></div>
                        <div class="dt-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="checkbox check-success large no-label-text">
                                <input type="checkbox" value="1" id="checkbox_action">
                                <label for="checkbox_action" ng-click="dataTableObj.selectAll($event)"></label>
                                <i class="fa fa-caret-down"></i>
                            </div>
                        </div>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="javascript:void(0)" ng-click="dataTableObj.checkRowSelection(contactsVm.verifyDeletion)">Delete Contact(s)</a></li>
                        </ul>
                    </div>
                </div>

                <div class="sm-m-t-10">
                    <div id="group-addition" class="btn-group">
                        <button type="button" class="btn btn-default single-user" ng-click="contactsVm.addContact()" gs-has-permission="ACCOUNT_EDIT">Add Contact</button>
                    </div>
                </div>


            </div>
        </div>
        <div class="panel-body gs-data-table">
            <div id="paceTableBlockDiv" class="paceDiv"></div>
            <table id="{{dataTableObj.tableID}}" class="table table-striped" width="100%" gs-generate-table-body>
                <thead>
                <tr>
                    <th ng-repeat="header in dataTableObj.tableHeaders">{{header.value}}</th>
                </tr>
                </thead>

            </table>
        </div>
    </div>
</div>
    </div>
    <div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/contacts/modal-add-contacts.html'"></div>


