<!-- Add contact -->
<form name="addOrEditContact" class="modal fade slide-up disable-scroll" id="{{addContact.modal.id}}" tabindex="-1" role="dialog" aria-hidden="false" ng-controller="AddContactCtrl as addContact" novalidate gs-form-validation>
	<div class="modal-dialog">
		<div class="modal-content-wrapper">
			<div class="modal-content">
				<div class="modal-header clearfix text-left">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="addContact.modalCancel()"><i class="pg-close fs-20"></i>
					</button>
					<h4 class="m-t-0">{{addContact.modal.header}}</h4>
				</div>
				<div class="modal-body">
					<fieldset>
						<div class="alert alert-danger" role="alert" ng-show="addContact.errorMessage">{{addContact.errorMessage}}</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="fg-wrap">
									<div gs-pg-form-group class="form-group form-group-default required">
										<label for="f_name" ng-class="{fade : addContact.contact.firstName}">First Name</label>
										<input id="f_name" type="text" class="form-control" name="f_name" ng-model="addContact.contact.firstName" maxlength="45" required>
									</div>
									<div class="fg-element-error"><span style="color: red" ng-show="addOrEditContact.f_name.errorStr"> {{ addOrEditContact.f_name.errorStr }}</span></div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="fg-wrap">
									<div gs-pg-form-group class="form-group form-group-default required">
										<label for="l_name" ng-class="{fade : addContact.contact.lastName}">Last Name</label>
										<input id="l_name" type="text" class="form-control" name="l_name" ng-model="addContact.contact.lastName" maxlength="45" required>
									</div>
									<div class="fg-element-error"><span style="color: red" ng-show="addOrEditContact.l_name.errorStr"> {{ addOrEditContact.l_name.errorStr }}</span></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="fg-wrap">
									<div gs-pg-form-group class="form-group form-group-default required">
										<label for="emailId" ng-class="{fade : addContact.contact.emailId}">Email</label>
										<input id="emailId" type="email" class="form-control" name="emailId" ng-model="addContact.contact.emailId" required>
									</div>
									<div class="fg-element-error"><span style="color: red" ng-show="addOrEditContact.emailId.errorStr"> {{ addOrEditContact.emailId.errorStr }}</span></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="fg-wrap">
									<div gs-pg-form-group class="form-group form-group-default">
										<label for="jobTitle" ng-class="{fade : addContact.contact.jobTitle}">Job Title</label>
										<input type="text" class="form-control" name="jobTitle" id="jobTitle" ng-model="addContact.contact.jobTitle" maxlength="45">
									</div>
									<div class="fg-element-error"><span style="color: red" ng-show="addOrEditContact.jobTitle.errorStr"> {{ addOrEditContact.jobTitle.errorStr }}</span></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="fg-wrap">
									<div gs-pg-form-group class="form-group form-group-default">
										<label for="phoneNumber" ng-class="{fade : addContact.contact.phoneNumber}">Phone</label>
										<input type="text" class="form-control" name="phoneNumber" id="phoneNumber" ng-model="addContact.contact.phoneNumber" maxlength="16" minlength="6" ng-pattern="/^([0-9\-\+\u0020]{5,15}[0-9]{1,1})$/">
									</div>
									<div class="fg-element-error"><span style="color: red" ng-show="addOrEditContact.phoneNumber.errorStr"> {{ addOrEditContact.phoneNumber.errorStr }}</span></div>
								</div>
							</div>
						</div>
					</fieldset>
					<div class="row">
						<div class="col-sm-12 m-t-10 sm-m-t-10 text-right">
							<button type="button" class="btn btn-default m-t-5" ng-click="addContact.modalCancel()" data-dismiss="modal">{{addContact.modal.cancel}}</button>
							<button type="button" class="btn btn-complete m-t-5" ng-click="addContact.modalSubmit(addOrEditContact)">{{addContact.modal.submit}}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<!-- /Add contact -->
