<!-- Update Group -->
<form name="{{updateAssigneeModalObj.modal.formName}}" class="modal fade slide-up disable-scroll" id="{{updateAssigneeModalObj.modal.id}}" tabindex="-1" role="dialog" aria-hidden="false" ng-controller="UpdateAssigneeCtrl as updateAssigneeModalObj" novalidate>
    <div class="modal-dialog modal-lg-780">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
	                <button type="button" class="close" data-dismiss="modal" ng-click="updateAssigneeModalObj.modalCancel();" aria-hidden="true"><i class="pg-close fs-20"></i>
                    </button>
					<h4 class="m-t-0">{{updateAssigneeModalObj.modal.header}}</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p class="bold ">{{noOfUsersSelected ? (noOfUsersSelected > 1 ?  noOfUsersSelected + ' Users' : '1 User') : 'No Users'}} have been selected for {{selectedSimMsg}}</p>
                        </div>
                        <div class="panel-body gs-data-table">
                            <div id="paceTableBlockDiv" class="paceDiv"></div>
                            <div class="alert alert-danger" role="alert" ng-show="updateAssigneeModalObj.errorMessage">{{updateAssigneeModalObj.errorMessage}}</div>
                            <span class="small hint-text">Please multi select the users to be assigned for ordered SIMs. Search specifically by entering the email in the window below.</span>
                            <div class="row p-b-10">
                                <div class="fg-wrap">
                                    <div class="form-group form-group-default">
                                        <input id="search_input" type="text" ng-model="user_search" class="form-control" placeholder="Name, Email id" name="search_input">
                                    </div>
                                </div>
                            </div>
                            <div class="assignUserTable" gs-datatable-controls>
                                <table id="{{dataTableObj.tableID}}" class="table table-striped no-leading-checkbox" width="100%" gs-generate-table-body>
                                    <thead>
                                    <tr class="header-color">
                                        <th><div class="checkbox check-success large no-label-text"> <input type="checkbox" value="1" id="checkbox_selectAll"><label ng-click="selectAllRows($event)" id="label_selectAll"></label></div></th>
                                        <th ng-repeat="header in dataTableObj.tableHeaders">{{header.value}}</th>
                                    </tr>
                                    </thead>

                                </table>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 m-t-10 sm-m-t-10 text-right">
	                        <button type="button" class="btn btn-default m-t-5" ng-click="updateAssigneeModalObj.modalCancel();" data-dismiss="modal">{{updateAssigneeModalObj.modal.cancel}}</button>
                            <button type="button" class="btn btn-complete m-t-5" ng-click="updateAssigneeModalObj.modalSubmit()">{{updateAssigneeModalObj.modal.submit}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
<!-- /Update Group -->
