<div class="container-fluid container-fixed-lg m-t-25" id="user-profile">
    <div class="panel panel-default">
        <ul class="nav nav-tabs nav-tabs-simple nav-tabs-primary sm-t-cell third" id="accountSettingsTab"
            role="tablist">
            <li ui-sref-active="active">
                <a class="text-no-transform" data-target="#" data-toggle="tab" role="tab" ui-sref="app.sims.physicalSims">Physical SIMs</a>
            </li>
            <li ui-sref-active="active">
                <a class="text-no-transform" data-target="#" data-toggle="tab" role="tab" ui-sref="app.sims.eSims">eSIMs</a>
            </li>
            <li ui-sref-active="active">
                <a class="text-no-transform" data-target="#" data-toggle="tab" role="tab" ui-sref="app.sims.m2mESims">M2M eSIMs</a>
            </li>
        </ul>
        <div class="tab-content bg-white allow-overflow">
            <ui-view></ui-view>
        </div>
    </div>
</div>
