!!!
%html{"data-ng-app" => "app", :lang => "en", "ng-controller" => "AppCtrl"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:charset => "utf-8"}/
    %title {{app.name}}
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %link{:href => "pages/ico/60.png", :rel => "apple-touch-icon"}
      %link{:href => "pages/ico/76.png", :rel => "apple-touch-icon", :sizes => "76x76"}
        %link{:href => "pages/ico/120.png", :rel => "apple-touch-icon", :sizes => "120x120"}
          %link{:href => "pages/ico/152.png", :rel => "apple-touch-icon", :sizes => "152x152"}
            %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
              %meta{:content => "yes", :name => "apple-touch-fullscreen"}
                %meta{:content => "default", :name => "apple-mobile-web-app-status-bar-style"}
                  %meta{:content => "{{app.description}}", :name => "description"}/
                  %meta{:content => "{{app.author}}", :name => "author"}/
                  / BEGIN Vendor CSS
                  %link{:href => "assets/plugins/pace/pace-theme-flash.css", :rel => "stylesheet", :type => "text/css"}/
                  %link{:href => "assets/plugins/boostrapv3/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
                  %link{:href => "assets/plugins/font-awesome/css/font-awesome.css", :rel => "stylesheet", :type => "text/css"}/
                  %link{:href => "assets/plugins/jquery-scrollbar/jquery.scrollbar.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
                  %link#lazyload_placeholder
                    / BEGIN Pages CSS
                    %link{:href => "pages/css/pages-icons.css", :rel => "stylesheet", :type => "text/css"}
                      %link.main-stylesheet{:href => "{{app.layout.theme}}", :rel => "stylesheet", :type => "text/css"}/
                      /[if lte IE 9]
                        <link href="pages/css/ie9.css" rel="stylesheet" type="text/css" />
                      /[if lt IE 9]
                        <link href="assets/plugins/mapplic/css/mapplic-ie.css" rel="stylesheet" type="text/css" />
                      :javascript
                        window.onload = function() {
                            // fix for windows 8
                            if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
                                document.head.innerHTML += ''
                        }
                          %body.fixed-header{"ng-class" => "{\n'bg-master-lighter': is('app.extra.timeline'),\n'no-header': is('app.social') || is('app.calendar') || is('app.maps.vector') || is('app.maps.google'),\n'menu-pin' : app.layout.menuPin,\n'menu-behind' : app.layout.menuBehind\n }"}
    .full-height{"ui-view" => ""}
    / BEGIN VENDOR JS
    / JQUERY
    %script{:src => "assets/plugins/pace/pace.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery/jquery-1.11.1.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/modernizr.custom.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery-ui/jquery-ui.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/boostrapv3/js/bootstrap.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery/jquery-easy.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery-unveil/jquery.unveil.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery-bez/jquery.bez.min.js"}
    %script{:src => "assets/plugins/jquery-ios-list/jquery.ioslist.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/jquery-actual/jquery.actual.min.js"}
    %script{:src => "assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"}
    %script{:src => "assets/plugins/classie/classie.js", :type => "text/javascript"}
    / ANGULAR
    %script{:src => "assets/plugins/angular/angular.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/angular-ui-router/angular-ui-router.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/angular-ui-util/ui-utils.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/angular-sanitize/angular-sanitize.min.js", :type => "text/javascript"}
    %script{:src => "assets/plugins/angular-oc-lazyload/ocLazyLoad.min.js", :type => "text/javascript"}
    / END VENDOR JS
    / BEGIN CORE TEMPLATE JS
    %script{:src => "pages/js/pages.js", :type => "text/javascript"}
    %script{:src => "app/scripts/app.js", :type => "text/javascript"}
    %script{:src => "app/scripts/config.js", :type => "text/javascript"}
    %script{:src => "app/scripts/config.lazyload.js", :type => "text/javascript"}
    %script{:src => "app/scripts/main.js", :type => "text/javascript"}
    %script{:src => "app/scripts/directives/pg-sidebar.js", :type => "text/javascript"}
    %script{:src => "app/scripts/directives/cs-select.js", :type => "text/javascript"}
    %script{:src => "app/scripts/directives/pg-dropdown.js", :type => "text/javascript"}
    %script{:src => "app/scripts/directives/pg-form-group.js", :type => "text/javascript"}
    %script{:src => "app/scripts/directives/pg-navigate.js", :type => "text/javascript"}
    %script{:src => "app/scripts/directives/pg-portlet.js", :type => "text/javascript"}
    %script{:src => "app/scripts/directives/pg-tab.js", :type => "text/javascript"}
    %script{:src => "app/scripts/directives/pg-search.js", :type => "text/javascript"}
    %script{:src => "app/scripts/directives/skycons.js", :type => "text/javascript"}
    %script{:src => "app/scripts/controllers/search.js", :type => "text/javascript"}
    / END CORE TEMPLATE JS