<a ng-href="{{url}}" class="btn btn-default single-uer" ng-if="graphObj.data[0].values.length" graph-upload download style="margin-top: auto;margin-bottom: auto;margin-left: auto;">Export</a>
<div style="clear:both"></div>
<nvd3 options='graphObj.options' data='graphObj.data' api='graphObj.api' ng-cloak test-arg="graphObj"></nvd3>