
<div class="container-fluid container-fixed-lg m-t-25">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-default mobile-tabs-top" id="panel-graphs">
                <ul class="nav nav-tabs nav-tabs-simple nav-tabs-left nav-tabs-primary bg-white" role="tablist">
                    <li ui-sref-active="active" gs-has-permission="READ_DATAUSAGE">
                        <a data-toggle="tab"  id="tab-ent-day"  role="tab" data-target="#" ui-sref="app.dataUsage.enterpriseDay"><span class="word-wrap">Enter&shy;prise</span> Usage By Day</a>
                    </li>
                    <li ui-sref-active="active" gs-has-permission="READ_DATAUSAGE">
                        <a data-toggle="tab" id="tab-zone-total" role="tab" data-target="#" ui-sref="app.dataUsage.zonesTotal">Zone Data Usage</a>
                    </li>
                    <li ui-sref-active="active" gs-has-permission="READ_DATAUSAGE">
                        <a data-toggle="tab" id="tab-group-total" role="tab" data-target="#" ui-sref="app.dataUsage.groupsTotal">Group Data Usage</a>
                    </li>
                    <li ui-sref-active="active" gs-has-permission="READ_DATAUSAGE">
                        <a data-toggle="tab" id="tab-group-week" role="tab" data-target="#"  ui-sref="app.dataUsage.groupsWeek">Group Usage By Week</a>
                    </li>
                </ul>
                <div class="tab-content graphs bg-white">
                    <ui-view></ui-view>
                </div>
            </div>
        </div>
    </div>
</div>h