<div class="modal fade slide-up disable-scroll modal-bar-chart" id="{{modalBarChart.modal.id}}" tabindex="-1" role="dialog" aria-hidden="false" ng-controller="ModalBarChartCtrl as modalBarChart" novalidate>
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
            	<div ng-include="lazyLoadURL+'app/assets/common/tpl/spinner.html'"></div>
                <div class="modal-header only-close clearfix text-left">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-20"></i></button>
					<!-- <h4 class="m-t-0">{{graphObj.modal.header}}</h4> -->
                </div>
                <div class="modal-body">
	                <div ng-include="lazyLoadURL+'app/assets/data-usage/barGraph.html'" gs-modal-bar-chart></div>
                    <div class="row">
                        <div class="col-sm-12 m-t-10 sm-m-t-10 text-right">
	                        <!-- <button type="button" class="btn btn-default m-t-5" ng-click="graphObj.modalCancel()" data-dismiss="modal">{{graphObj.modal.cancel}}</button> -->
                            <button type="button" class="btn btn-complete m-t-5" ng-click="graphObj.modalSubmit()" data-dismiss="modal">{{modalBarChart.modal.submit}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
