<div class="graph-data-wrapper" ng-show="graphObj.completeData.length > 1">
	<span class="show-data" data-toggle="modal" data-target="#{{graphObj.graphDataModalID}}">Show Graph Data</span>

	<div class="modal fade slide-up" id="{{graphObj.graphDataModalID}}" tabindex="-1" role="dialog" aria-labelledby="{{graphObj.graphDataModalID}}Label" aria-hidden="false">
	    <div class="modal-dialog">
	        <div class="modal-content-wrapper">
		        <div class="modal-content">
		            <div class="modal-header clearfix text-left">
			            <div class="h4 nvd3-modal-title">{{graphObj.options.title.text}}</div>
			            <div class="nvd3-modal-subtitle">{{graphObj.options.subtitle.text}}</div>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							<i class="pg-close fs-20"></i>
						</button>
		            </div>
		            <div class="modal-body donutOrPieModalContent">
		               	<div class="gs-mock-table gs-fixed text-center">
				           <div class="mt-header">
					           <div>{{graphObj.colName}}</div>
				               <div>Usage</div>
				               <div>Percent</div>
				           </div>
							<div class="mt-row" ng-repeat="zone in graphObj.completeData">
								<div>{{zone.name}}</div>
								<div>{{graphObj.toolTipCache[$index].tickVal}} {{graphObj.toolTipCache[$index].tickUnit}}</div>
								<div><span ng-if="graphObj.toolTipCache[$index].percent == 0">&asymp;&nbsp;</span>{{graphObj.toolTipCache[$index].percent}}%</div>
							</div>
						</div>
		            </div>
		            <div class="modal-footer">
			            <button type="button" class="btn btn-complete m-t-5" data-dismiss="modal">Close</button>
			        </div>
		        </div>
	        </div>
	    </div>
	</div>
</div>
