<div class="input-daterange input-group" id="datepicker-range" ui-jq="datepicker" ui-options="{autoclose: 'true','showOn':'click',ignoreReadonly: 'true',dateFormat: 'mm/dd/yyyy','endDate' : 'now'}" style="padding-bottom: 10px" ng-show="enableDatePick">
    <span class="input-group-addon">From</span>
    <input type="text" class="input-sm form-control" name="start" ng-model="start" readonly="readonly" style="color: #2c2c2c !important;">
    <span class="input-group-addon">To</span>
    <input type="text" class="input-sm form-control" name="end" ng-model="end" readonly="readonly" style="color: #2c2c2c !important;">
    <span class="input-group-addon btn btn-complete" ng-click="dateChange()">Apply</span>
</div>
<a ng-href="{{url}}" class="btn btn-default single-uer" ng-if="graphObj.data.length" graph-upload download>Export</a>
<div style="clear:both"></div>
<nvd3 options='graphObj.options' data='graphObj.data' api="graphObj.api" ng-cloak test-arg="graphObj"></nvd3>
<div ng-include="lazyLoadURL+'app/assets/data-usage/modal-graph-details.html'"></div>