<div class="container-fluid container-fixed-lg m-t-25 sm-m-t-0">
    <div ng-controller="ProfileDetailCtrl as profileDetailVM" test-arg="ProfileDetails">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-transparent">
                    <div class="panel-body no-padding">
                        <div id="profileDetails">
                            <div class="sim-details-wrapper bg-white">
                                <div class="like-panel-title">
                                    <span class="pull-left">Profile Details</span>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="sbs-lv-table row-border full-width">
                                    <div class="lv-row">
                                        <div class="l-cell">
                                            <span>ICCID</span>
                                        </div>
                                        <div class="v-cell">{{profileDetailVM.profile.iccid}}</div>
                                    </div>
                                    <div class="lv-row">
                                        <div class="l-cell">
                                            <span>Profile Type</span>
                                        </div>
                                        <div class="v-cell">{{profileDetailVM.profile.profileType}}</div>
                                    </div>
                                    <div class="lv-row">
                                        <div class="l-cell">Profile Package</div>
                                        <div class="v-cell">{{profileDetailVM.profile.profilePackage}}</div>
                                    </div>
                                    <div class="lv-row">
                                        <div class="l-cell">Deployment Status</div>
                                        <div class="v-cell">{{profileDetailVM.profile.deploymentStatus}}
                                        </div>
                                    </div>
                                    <div class="lv-row">
                                        <div class="l-cell">Bootstrap Status</div>
                                        <div class="v-cell">{{profileDetailVM.profile.bootstrapStatus ? 'Yes' : 'No'}}</div>
                                    </div>
                                    <div class="lv-row">
                                        <div class="l-cell">CID</div>
                                        <div class="v-cell">{{profileDetailVM.profile.installed_eid}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-12" gs-has-permission="SIM_READ_ADVANCED,SIM_READ_EXTENDED">
            <div class="panel panel-transparent">
                <div class="panel-body no-padding">
                    <div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/sims/imsi-profiles/imsi-profiles.html'"></div>
                </div>
            </div>
        </div>
    </div>

</div>


