<div class="container-fluid container-fixed-lg gs-data-table m-t-25" id="profile-detail-base">
    <div class="row">
        <div class="col-md-12">
            <div class="tab-content allow-overflow" id="overridetable">
                <ui-view></ui-view>
            </div>
        </div>
    </div>
</div>
