<div class="header header-authentication">

    <div class="row">
        <div class="container">
            <div class="center-app-logo">
                <div class="app-logo" >
                    <a  ng-click="goToHomePage()" class="gem-logo">{{isSupport ? 'Enterprise Admin Portal' : 'GigSky Enterprise Manager'}}</a>
                </div>
            </div>

            <div ng-include="lazyLoadURL+'app/assets/common/tpl/ep-logo.html'" class="login-logo"></div>
        </div>
    </div>

</div>

<div class="login-wrapper" id="usertb">

    <div class="login-container" ui-view>
        
    </div>
</div>
