<div ng-include="lazyLoadURL+'app/assets/support/sidebar.html'" gs-include-replace></div>

<div class="page-container">

    <div ng-include="lazyLoadURL+'app/assets/common/tpl/header.html' "></div>
    <div class="page-content-wrapper">

        <div class="content" id="usertb">
            <div id="paceFullBlockDiv" class="paceDiv"></div>
            <div style="text-align:center;margin-top:-8px;" ng-cloak ng-show="pageLoadingFailed || servicesDown" ng-controller="ErrCtrl">
                <div style="padding-top:30%;">
                    <p class="mSans300 font16" ng-if="pageLoadingFailed">Unable to connect to GigSky's system.</p>

                    <p class="mSans300 font16" ng-if="servicesDown">Sorry. GigSky servers are currently down for maintenance and
                        will be back shortly.</p>

                    <div class="form-group">
                        <div>
                            <div class="btnWrapper">
                                <button type="submit" class="btn btn-default smallButton btnMarginTop33"
                                        ng-click="retryPageLoad()">Retry
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-inner-wrapper full-height full-width" ng-show="!pageLoadingFailed && !servicesDown">
                <div ncy-breadcrumb></div>
                <ui-view></ui-view>
            </div>
        </div>

        <div ng-include="lazyLoadURL+'app/assets/common/tpl/footer.html'">
        </div>

    </div>
</div>
<div ng-include="lazyLoadURL+'app/assets/common/tpl/modal-verification.html'" ng-controller="VerificationCtrl as verificationModal"></div>
<div ng-include="lazyLoadURL+'app/assets/common/tpl/warning.html'" ng-controller="WarningCtrl as Warning"></div>
<div ng-include="lazyLoadURL+'app/assets/common/tpl/country-list-modal.html'" ng-controller="CountryListModalCtrl as countryListModal"></div>