<!-- Add User -->
<form name="versionCreateModalForm" class="modal fade slide-up disable-scroll" id="{{versionCreateModal.modal.id}}" tabindex="-1" role="dialog" aria-hidden="false" ng-controller="CreateRoamingProfileVersionModal as versionCreateModal" novalidate gs-form-validation>
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="versionCreateModal.modalCancel()"><i class="pg-close fs-20"></i>
                    </button>
                    <h4 class="m-t-0">{{versionCreateModal.modal.header}}</h4>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <div class="alert alert-danger" role="alert" ng-show="versionCreateModal.errorMessage">{{versionCreateModal.errorMessage}}</div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="fg-wrap" >
                                    <div gs-pg-form-group class="form-group form-group-default required">
                                        <label for="input_roamingProfileName">Name</label>
                                        <input id="input_roamingProfileName" type="text" class="form-control" name="input_roamingProfileName" ng-model="versionCreateModal.roamingProfile.roamingProfileName" required>
                                    </div>
                                    <div class="fg-element-error"><span style="color: red" ng-show="versionCreateModalForm.input_roamingProfileName.errorStr"> {{ versionCreateModalForm.input_roamingProfileName.errorStr }}</span></div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="fg-wrap" >
                                    <div gs-pg-form-group class="form-group form-group-default required">
                                        <label for="input_roamingProfileDesc">Description</label>
                                        <textarea id="input_roamingProfileDesc" style="width:100%;border:0;" name="input_roamingProfileDesc" ng-model="versionCreateModal.roamingProfile.description" required></textarea>
                                    </div>
                                    <div class="fg-element-error"><span style="color: red" ng-show="versionCreateModalForm.input_roamingProfileDesc.errorStr"> {{ versionCreateModalForm.input_roamingProfileDesc.errorStr }}</span></div>
                                </div>

                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <div class="col-sm-12 m-t-10 sm-m-t-10 text-right">
                            <button type="button" class="btn btn-default m-t-5" data-dismiss="modal" ng-click="versionCreateModal.modalCancel()">{{versionCreateModal.modal.cancel}}</button>
                            <button type="button" class="btn btn-complete m-t-5" ng-click="versionCreateModal.modalSubmit(versionCreateModalForm)">{{versionCreateModal.modal.submit}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
