<div class="tab-pane slide-left active" id="roamingProfileVersionCountries">
    <div class="panel panel-transparent">

        <div class="panel-heading m-b-5">
            <div id="datatable-controls" gs-datatable-controls>
                <gs-data-table-search table-obj="dataTableObj" search-val="roamingProfileVersionCountriesVm.searchValue"></gs-data-table-search>
                <div class="clearfix visible-xs"></div>
                <div class="pull-right">

                    <gs-data-table-filter table-obj="dataTableObj" filter="imsiProfileName"  label="IMSI Profile" list="IMSIProfilesList"  enable-search="false" ></gs-data-table-filter>

                    <div class="w-smaller inline-block">
                        <gs-data-table-filter table-obj="dataTableObj" filter="selectedDisplayLength"  label="Items per page" list="dataTableObj.displayLengthvalues" disable-select="isPageSizeFilterDisabled" enable-search="false"></gs-data-table-filter>
                    </div>
                    <div class="clearfix visible-xs"></div>
                </div>
            </div>
        </div>

        <div class="panel-body gs-data-table">
            <div id="paceTableBlockDiv" class="paceDiv"></div>
            <table id="{{dataTableObj.tableID}}" class="table table-striped no-leading-checkbox" width="100%" gs-generate-table-body>
                <thead>
                <tr>
                    <th ng-repeat="header in dataTableObj.tableHeaders">{{header.value}}</th>
                </tr>
                </thead>

            </table>
        </div>
    </div>
</div>