<div id="datatable-controls" class="p-b-10" gs-datatable-controls>
    <div class="btn-group m-b-5 m-r-10 defaultBtnGroup">
        <input date-range-picker id="daterangepicker2" options="opts" class="form-control date-picker"
               type="text" ng-model="datePicker" dp-change="dateChange" readonly style="color:#5e5e5e;background-color:#ffffff;"/>
    </div>
    <!-- Buttons -->
    <div class="btn-group sm-btn-halves m-b-5 defaultBtnGroup">
        <button class="btn btn-small btn-default" ng-class="{disabledComponent : isDisableComponent()}" ng-disabled="isDisableComponent()" ng-show="!isGemLite" ng-click="exportModal(true,auditLog.exportData);" gs-has-permission="READ_AUDIT_REPORT">Export</button>
    </div>

    <div class="w-smaller pull-right">
        <gs-data-table-filter table-obj="dataTableObj" filter="selectedDisplayLength"  label="Items per page" list="dataTableObj.displayLengthvalues" disable-select="isPageSizeFilterDisabled" enable-search="false"></gs-data-table-filter>
    </div>

    <div class="clearfix"></div>
</div>
<table id="{{dataTableObj.tableID}}" class="table table-striped no-leading-checkbox" width="100%" gs-generate-table-body>
    <thead>
    <tr>
        <th ng-repeat="header in dataTableObj.tableHeaders">{{header.value}}</th>
    </tr>
    </thead>
</table>

<div ng-include="lazyLoadURL+'app/assets/invoices/modal-audit-details.html' "></div>

<!-- Export Modal -->
<div ng-include="lazyLoadURL+'app/assets/common/tpl/modal-export.html'" ng-controller="ExportCtrl as exportModal"></div>
<!-- / Export Modal -->