<!-- Audit Log Details -->
<div class="modal fade slide-up disable-scroll" id="{{auditDetails.modal.id}}"  tabindex="-1" role="dialog" aria-hidden="false" ng-controller="AuditDetailsCtrl as auditDetails">
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-20"></i>
                    </button>
                    <h4 class="m-t-0">{{auditDetails.modal.header}}</h4>
                </div>
                <div class="modal-body">
                    <div class="auditDetailsModal">
                        <div class="auditDetailsContainer">
                            <div class="row">
                                <div class="alert" role="alert" style="overflow-y:auto;max-height:200px;">{{auditDetails.details}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 m-t-10 sm-m-t-10 text-right">
                            <button type="button" class="btn btn-default m-t-5" ng-click="auditDetails.modal.modalCancel()" data-dismiss="modal">{{auditDetails.modal.cancel}}</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- / Audit Log Details -->
