<!-- Bulk Upload -->
<div class="modal fade slide-up disable-scroll" id="{{invoiceUpload.modal.id}}" tabindex="-1" role="dialog"
     aria-hidden="false" ng-controller="InvoiceUploadCtrl as invoiceUpload">
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                            class="pg-close fs-20"></i></button>
                    <h4 class="m-t-0">{{title}}</h4>
                </div>
                <div class="modal-body">
                    <div class="alert {{invoiceUpload.alertClass}}" role="alert" ng-show="invoiceUpload.isError">
                        {{invoiceUpload.errorMessage}}
                    </div>

                    <div class="fg-wrap">
                        <div class="form-group form-group-default input-group" style="width: 200px;">
                            <label>Billing Month</label>
                            <input type="text" readonly="readonly" class="form-control" ui-jq="datepicker"
                                   ui-options="{format: 'mm-yyyy',startView: 'months',minViewMode: 'months',autoclose: 'true',ignoreReadonly: 'true','endDate' : '{{endDate}}'}"
                                   ng-model="month" style="color: #2c2c2c !important;" ng-change="invoiceUpload.dateErrorStr=''">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar" ng-click="showCalendar($event)"></i>
                        </span>
                        </div>
                        <div class="fg-element-error"><span style="color: red" ng-show="invoiceUpload.dateErrorStr"> {{ invoiceUpload.dateErrorStr }}</span>
                        </div>
                    </div>

                    <form id="{{invoiceUpload.modal.formName}}" name="{{invoiceUpload.modal.name}}" action="#"
                          class="dropzone modal-body" method="post"
                          enctype="multipart/form-data" ng-dropzone dropzone="invoiceUpload.dropzone"
                          dropzone-config="dropzoneConfig" refresh-datatable="invoiceUpload.refreshDatatable" modal-id="invoiceUpload.modal.id"></form>
                    <div class="fg-element-error"><span style="color: red" ng-show="invoiceUpload.fileErrorStr"> {{ invoiceUpload.fileErrorStr }}</span></div>

                    <div class="row">
                        <div class="col-sm-12 m-t-10 sm-m-t-10 text-right">
                            <button type="button" class="btn btn-default m-t-5" ng-click="invoiceUpload.modalCancel()">
                                {{invoiceUpload.modal.cancel}}
                            </button>
                            <button type="button" class="btn btn-complete m-t-5" ng-click="invoiceUpload.modalSubmit()">
                                {{invoiceUpload.modal.submit}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Bulk Upload -->