<div id="datatable-controls" class="p-b-10" gs-datatable-controls>
    <div id="invoice-upload" class="btn-group m-b-5" gs-has-permission="ACCOUNT_USAGE_REPORT_UPLOAD">
        <button type="button" class="btn btn-default single-user" ng-click="monthlyReports.showUploadMonthlyReportsModal()">Upload Monthly Reports</button>
    </div>

    <div class="w-smaller pull-right">
        <gs-data-table-filter table-obj="dataTableObj" filter="selectedDisplayLength"  label="Items per page" list="dataTableObj.displayLengthvalues" disable-select="isPageSizeFilterDisabled" enable-search="false"></gs-data-table-filter>
    </div>

    <div class="clearfix"></div>
</div>
<table id="{{dataTableObj.tableID}}" class="table table-striped no-leading-checkbox" width="100%" gs-generate-table-body>
    <thead>
    <tr>
        <th ng-repeat="header in dataTableObj.tableHeaders">{{header.value}}</th>
    </tr>
    </thead>
</table>
<!-- Upload Invoice modal -->
<div ng-include="lazyLoadURL+'app/assets/invoices/modal-invoice-upload.html'" ng-controller="InvoiceUploadCtrl as invoiceUpload"></div>
<!-- / Upload Invoice modal -->