
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg gs-data-table m-t-25">
    <div class="row">
        <div class="col-lg-12">
            <!-- START PANEL -->
            <div class="panel panel-default">
                <ul class="nav nav-tabs nav-tabs-simple nav-tabs-primary sm-t-cell third" role="tablist">
                    <li ui-sref-active="active">
                        <a data-toggle="tab" role="tab" data-target="#" gs-has-permission="READ_INVOICE"
                           ui-sref="app.reports.invoices" >Invoices</span></a>
                    </li>
                    <li ui-sref-active="active" ng-class="{hide: (isGemLite)}" gs-has-permission="READ_REPORT">
                        <a data-toggle="tab" role="tab" data-target="#" ui-sref="app.reports.monthlyReports">Monthly
                            Reports</a>
                    </li>
                    <li ui-sref-active="active" ng-class="{hide: (isGemLite)}" gs-has-permission="READ_AUDIT_REPORT">
                        <a data-toggle="tab" role="tab" data-target="#" ui-sref="app.reports.auditLog">Audit
                            Log</a>
                    </li>
                </ul>
                <div class="tab-content bg-white alerts-tab-content">
                    <ui-view></ui-view>
                </div>
            </div>
            <!-- END PANEL -->
        </div>
    </div>
</div>
<!-- END CONTAINER FLUID -->