<div class="container-fluid container-fixed-lg max-width-800 m-t-25 sm-m-t-0">
    <!-- START PANEL -->
    <div class="panel panel-default">
        <ul class="nav nav-tabs nav-tabs-simple nav-tabs-primary sm-t-cell third" role="tablist">
            <li ui-sref-active="active">
                <a data-toggle="tab" role="tab" data-target="#" gs-has-permission="READ_INVOICE"
                   ui-sref="support.enterprise.reports.invoices" >Invoices</span></a>
            </li>
            <li ui-sref-active="active" ng-class="{hide: (isGemLite)}" gs-has-permission="READ_REPORT">
                <a data-toggle="tab" role="tab" data-target="#" ui-sref="support.enterprise.reports.monthlyReports">Monthly
                    Reports</a>
            </li>
        </ul>
        <div class="tab-content bg-white alerts-tab-content">
            <ui-view></ui-view>
        </div>
    </div>
    <!-- END PANEL -->
</div>

