<div class="auth-view-header sm-m-t-15 p-t-15 sm-p-t-0">
	<h3>Forgot Password</h3>
</div>

<div class="p-l-50 p-r-50 p-t-20 p-b-50 sm-p-l-15 sm-p-r-15 sm-p-t-15 sm-p-b-15">

    <form id="form-changePassword" name="forgotPasswordForm" role="form" novalidate gs-form-validation>
	    <fieldset>

			<div class="alert alert-danger" role="alert" ng-show="forgotPassword.errorMessage">{{forgotPassword.errorMessage}}</div>
			<div class="alert alert-success" role="alert" ng-show="forgotPassword.successMessage">{{forgotPassword.successMessage}}</div>
	
			<div class="fg-wrap">
		        <div gs-pg-form-group class="form-group form-group-default required">
		            <label for="email">Email</label>
		            <div class="controls">
		                <input type="email" name="email" id="email" class="form-control" ng-model="user.email" tabindex="1" required>
		            </div>
		        </div>
				<div class="fg-element-error"><span ng-show="forgotPasswordForm.email.errorStr"> {{ forgotPasswordForm.email.errorStr }}</span></div>
			</div>

			<div id="captcha-div"></div>
			<span  ng-show="forgotPasswordForm.captchaErrorStr"> {{ forgotPasswordForm.captchaErrorStr }}</span>

	        <div class="row m-b-15">
	            <div class="col-md-6 col-sm-6 col-xs-6">
	                <button class="btn btn-complete btn-cons m-t-10" type="submit" ng-click="forgotPassword.sendEmail(forgotPasswordForm)"  tabindex="2">Send Email</button>
	            </div>
	            <div class="col-md-6 col-sm-6 col-xs-6 text-right p-t-5 m-t-10">
	                <a href="#/auth/login" tabindex="3">Login</a>
	            </div>
	        </div>
	    </fieldset>
    </form>
</div>
