<div style="padding-top:15%;padding-bottom: 15%;text-align: center;" ng-show="isStorageNotSupported">
	<p class="privateModeMsg">Access in private mode is not supported</p>
</div>

<div class="p-l-40 p-r-40 p-t-20 p-b-50 sm-p-l-15 sm-p-r-15 sm-p-t-15 sm-p-b-15" style="background-color: #F5F295;border: 1px dotted black;" ng-show="showMaintenanceMessage()">
	<div style="color: darkred;
	margin-bottom: 10px;
    font-weight: 600;">
		GigSky Scheduled Maintenance, September 26th 01:00 UTC
	</div>

	<div>
		GigSky is planning maintenance on our technical infrastructure on <span style="color: black;">September 26th between 01:00 - 02:30 UTC.</span>
		During this maintenance period, there will be no impact to connectivity and data services, however, there will be an approximately 30 minutes outage for GigSky Enterprise Manager application.
		Please contact GigSky support (help@gigsky.com) if you have any questions.
	</div>
</div>

<div class="auth-view-header sm-m-t-15 p-t-15 sm-p-t-0" ng-show="!isStorageNotSupported">
	<h3>Sign in</h3>
</div>

<div class="p-l-50 p-r-50 p-t-20 p-b-50 sm-p-l-15 sm-p-r-15 sm-p-t-15 sm-p-b-15" ng-show="!isStorageNotSupported">
    <form id="form-login" name="loginForm" role="form" novalidate gs-form-validation>
	    <fieldset>    
		    <div class="alert alert-danger" role="alert" ng-show="login.errorMessage" style="word-wrap: break-word;">{{login.errorMessage}}</div>
			<div class="alert alert-danger" role="alert" ng-show="formErrorMsg && !login.errorMessage" style="word-wrap: break-word;">{{formErrorMsg}}</div>
	
			<div class="fg-wrap">
		        <div gs-pg-form-group class="form-group form-group-default required">
		            <label for="emailId">Email</label>
		            <div class="controls">
		                <input type="email" name="emailId" id="emailId" class="form-control" ng-model="user.emailId" tabindex="1" required >
		            </div>
		        </div>
			    <div class="fg-element-error"><span  ng-show="loginForm.emailId.errorStr"> {{ loginForm.emailId.errorStr }}</span></div>
			</div>
			<div class="fg-wrap">
		        <div gs-pg-form-group class="form-group form-group-default required">
		            <label for="password">Password</label>
		            <div class="controls">
		                <input type="password" class="form-control" autocomplete="off" id="password" name="password" ng-model="user.password" tabindex="2" required maxlength="45" ng-minlength="4" minlengtherror="Your password must have a minimum of 4 characters.">
		            </div>
		        </div>
		        <div class="fg-element-error"><span  ng-show="loginForm.password.errorStr"> {{ loginForm.password.errorStr }}</span></div>
			</div>
	        
	        <div class="row m-b-15">
	            <div class="col-md-6 col-sm-6 col-xs-6">
					<button class="btn btn-complete btn-cons m-t-10" type="submit" ng-click="login.authenticate(loginForm)" tabindex="4">Sign in</button>
	            </div>
	            <div class="col-md-6 col-sm-6 col-xs-6 text-right p-t-5 m-t-10">
	                <a href="#/auth/forgot-password" tabindex="5">Forgot Password?</a>
	            </div>
	        </div>

	    </fieldset>
    </form>
</div>
