<div class="auth-view-header sm-m-t-15 p-t-15 sm-p-t-0">
	<h3>{{resetPwd.title}}</h3>
</div>

<div class="p-l-50 p-r-50 p-t-20 p-b-50 sm-p-l-15 sm-p-r-15 sm-p-t-15 sm-p-b-15" ng-hide="resetPwd.isTokenValid">
    <div class="alert alert-warning" role="alert" ng-bind-html="resetPwd.message"></div>
</div>
<div class="p-l-50 p-r-50 p-t-20 p-b-50 sm-p-l-15 sm-p-r-15 sm-p-t-15 sm-p-b-15" ng-show="resetPwd.isTokenValid">
    <form id="form-reset" name="rsertForm" role="form" novalidate gs-form-validation ng-keyup="resetPwd.resetPassword(rsertForm,$event)">
        <fieldset>
            <div class="alert alert-danger" role="alert" ng-show="resetPwd.errorMessage">{{resetPwd.errorMessage}}</div>
            <div class="alert alert-success" role="alert" ng-show="resetPwd.successMessage">{{resetPwd.successMessage}}</div>

            <div class="fg-wrap">
                <div gs-pg-form-group class="form-group form-group-default required">
                    <label for="newPassword">New Password</label>
                    <div class="controls">
                        <input validatePwd="reset" type="password" autocomplete="off" class="form-control" name="newPassword" id="newPassword" ng-model="user.newPassword"  tabindex="2" maxlength="45" ng-focus="passwordPolicyMsg()" ng-blur="isDisplay=false" required ng-minlength="8" minlengtherror="Your password must have a minimum of 8 characters.">
                    </div>
                </div>
                <span class="passwordMsgColor"  ng-show="isDisplay && !rsertForm.newPassword.errorStr" notranslate> {{passwordMsg}}</span>
                <div class="fg-element-error"><span  ng-show="rsertForm.newPassword.errorStr"> {{ rsertForm.newPassword.errorStr }}</span></div>
            </div>
            <div class="fg-wrap">
                <div gs-pg-form-group class="form-group form-group-default required">
                    <label for="confirmPassword">Verify New Password</label>
                    <div class="controls">
                        <input type="password" autocomplete="off" class="form-control" id="confirmPassword" name="confirmPassword" ng-model="user.confirmPassword" tabindex="2" maxlength="45" required ng-minlength="8" minlengtherror="Your password must have a minimum of 8 characters." confirm="newPassword">
                    </div>
                </div>
                <div class="fg-element-error"><span ng-show="rsertForm.confirmPassword.errorStr"> {{ rsertForm.confirmPassword.errorStr }}</span></div>
            </div>
            <div class="row m-b-15">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <button class="btn btn-complete btn-cons m-t-10" type="submit"
                            ng-mousedown="resetPwd.resetPassword(rsertForm)" tabindex="4">Reset
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
