
<div ng-show="!pageLoadingFailed && !servicesDown">
<div class="auth-view-header select-account-header sm-m-t-15 p-t-15 p-b-15 sm-p-t-0">
	<h3>Select an Account</h3>
</div>

<div class="alert alert-danger" role="alert" ng-show="selectAccountObj.errorMessage" style="word-wrap: break-word;">{{selectAccountObj.errorMessage}}</div>

<div class="select-account-container" >

	<ul class="select-account-list">
		<li ng-repeat="acc in accountList | orderBy:'accountName'"><a href="javascript:void(0);" ng-click="selectAccount(acc)">{{acc.accountName}}</a></li>
	</ul>
</div>
</div>
<div style="text-align:center;margin-top:-8px;" ng-cloak ng-show="pageLoadingFailed || servicesDown" ng-controller="ErrCtrl">
	<div style="padding-top:30%;">
		<p class="mSans300 font16" ng-if="pageLoadingFailed">Unable to connect to GigSky's system.</p>

		<p class="mSans300 font16" ng-if="servicesDown">Sorry. GigSky servers are currently down for maintenance and
			will be back shortly.</p>

		<div class="form-group">
			<div>
				<div class="btnWrapper">
					<button type="submit" class="btn btn-default smallButton btnMarginTop33"
							ng-click="retryPageLoad()">Retry
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

