<!-- Bulk Upload -->
<div  class="modal fade slide-up disable-scroll" id="{{countryListModal.modal.id}}" tabindex="-1" role="dialog"
     aria-hidden="false" >
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-20"></i>
                    </button>
                    <h4 class="m-t-0">Country List</h4>
                </div>
                <div class="modal-body gs-data-table">
                    <div class="zoneStatusModal">
                        <div class="table-responsive-sm modal-table">
                            <table  class="table table-bordered modal-table">
                                <tr>
                                    <th>Name</th>
                                    <th>Code</th>
                                </tr>
                                <tr ng-repeat = "c in countryListModal.countries">
                                    <td>{{c.name}}</td>
                                    <td>{{c.code}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Bulk Upload -->