<div ng-show="servicesDown || pageLoadingFailed" style="text-align:center;margin-top:-8px;" ng-cloak>
    <div style="padding-top:30%;">
        <p class="mSans300 font16" ng-if="pageLoadingFailed">Unable to connect to GigSky's system.</p>

        <p class="mSans300 font16" ng-if="servicesDown">Sorry. GigSky servers are currently down for maintenance and
            will be back shortly.</p>

        <div class="form-group">
            <div>
                <div class="btnWrapper">
                    <button type="submit" class="btn btn-default smallButton btnMarginTop33"
                            ng-click="retryPageLoad()">Retry
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>