        <div class="container-fluid container-fixed-lg footer" ng-class="{'pull-bottom': is('app.maps.vector') }">
            <div class="copyright sm-text-center">
                <p class="small no-margin sm-pull-reset">
                    <span class="hint-text">Copyright &copy; {{getCurrentYearForCopyright()}}</span>
                    <span class="font-montserrat">GigSky, Inc</span>.
                    <span class="hint-text">All rights reserved.</span>
                    <span class="sm-block"> <a href="gem-user-guide.pdf" class="m-l-10 m-r-10" target="_blank" ng-if="!isSupport">User Guide |</a><a href="https://support.gigsky.com/hc/en-us/requests/new?ticket_form_id=122867" class="m-l-10 m-r-10" target="_blank"  ng-if="!isSupport">Support |</a><a href="https://www.gigsky.com/terms-of-use" class="m-l-10 m-r-10" target="_blank">Terms of use</a> | <a href="https://www.gigsky.com/privacy-policy" class="m-l-10" target="_blank">Privacy Policy </a></span>
                    <span class="pull-right" ng-if="isSupport">Version 2.3.5</span>
                </p>
            </div>
        </div>
