<div class="header" ng-controller="HeaderCtrl">

    <div class="pull-left full-height visible-sm visible-xs">
        <div class="sm-action-bar">
            <a href="javascript:void(0);" class="btn-link toggle-sidebar" data-toggle="sidebar">
                <span class="icon-set grey menu-hambuger"></span>
            </a>
        </div>
    </div>

    <div class="row navigation-wrapper">

        <div class="brand">
            <div ng-include="lazyLoadURL+'app/assets/common/tpl/ep-logo.html'"></div>
        </div>


        <div class="app-logo">
            <a  href="javascript:void(0);"  class="gem-logo" ng-if="!isSupport || (isSupport && isNavigatedThroughAdmin)">
                GigSky Enterprise Manager
                <span class="product-role" ng-if="isRBACEnabled"><sup>{{accountSubscriptionType}}</sup></span>
            </a>

            <a  href="javascript:void(0);"  class="gem-logo" ng-if="isSupport && !isNavigatedThroughAdmin">
                Enterprise Admin Portal
            </a>
        </div>
        <div class="alert-notifications pull-right md-m-l-0 m-r-15 no-alert-count" gs-has-permission="GET_ALERT" ng-if="isAlertEnabled && isUserInGemPortal() && !accountPanelClose" ng-class="(triggeredAlertsCount > 0) ? 'alerts-present' : 'no-alerts'" ng-click="updateAlertHistory()">
            <i class="fa fa-bell"></i>
        </div>
        <div class="alert-notifications account-close-btn pull-right md-m-l-0 m-r-15" ng-if="accountPanelClose" ng-click="toggleAccountTypesPanel()">
            <i class="pg-close"></i>
        </div>
        <div class="fs-16 font-heading users-name m-r-15">
            <span class="semi-bold showCursor username-or-email" ng-click="!isSupport ? showView('/app/profile/account-information') : (isNavigatedThroughAdmin) ? '' : showView('/support/profile/account-information')">{{userNameOrEmail}}</span>
            <span class="spacer" ng-if="accountName"></span>
            <span class="semi-bold showCursor" ng-click="(!isSupport || isNavigatedThroughAdmin) ? showView('/app/settings/enterprise-details') : '' ">{{accountName}}</span>
            <div ng-if="isResellerRoot" id="account-selector" class="pull-right md-m-l-0" ng-click="toggleAccountTypesPanel()">
                <i class="fa fa-angle-down"></i>
            </div>
            <div id="account-selection-panel" class="quickview-wrapper fs-12">
                <div class="alertSideBarLoading" style="display: none;">
                    <div class="loading-activity"></div>
                </div>

                <a ng-click="isResellerAccount ? null : changeAccountType('RESELLER ACCOUNT')">
                    <div class="alertview-subheader" ng-class="isResellerAccount ? 'defaultCursor' : 'showCursor'">
                        <span class="font-montserrat" ng-style="{'color': isResellerAccount ? '#000' : '#FFF' }">MY ACCOUNT</span>
                    </div>
                </a>
                <a ng-click="changeAccountType('SUB ACCOUNT')">
                    <div class="alertview-subheader showCursor last">
                        <span class="font-montserrat">SELECT SUB ACCOUNT</span>
                    </div>
                </a>
            </div>
        </div>

    </div>

</div>
<!-- / Header -->