<div class="header">
	<div class="container-fluid container-fixed-lg">
	    <div class="pull-left sm-table">
	        <div class="header-inner">
	            <div class="brand inline">
	               <div ng-include="lazyLoadURL+'app/assets/common/tpl/ep-logo.html'"></div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
