<form name="{{groupModalObj.modal.formName}}" class="modal fade slide-up disable-scroll" id="{{groupModalObj.modal.id}}" tabindex="-1" role="dialog" aria-hidden="false" ng-controller="UpdateGroupCtrl as groupModalObj" novalidate gs-update-group>
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="groupModalObj.modalCancel()"><i class="pg-close fs-20"></i>
                    </button>
                       <h4 class="m-t-0">{{groupModalObj.modal.header}}</h4>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <div class="alert {{groupModalObj.alertClass}}" role="alert" ng-show="groupModalObj.isError">{{groupModalObj.errorMessage}}</div>

                        <div class="form-group-attached">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="fg-wrap">
                                        <div gs-pg-form-group class="form-group form-group-default form-group-default-select required">
                                            <label ng-class="{fade : groupModalObj.group.group}">Group</label>
                                            <div ng-hide="groupModalObj.groups.length==0">
                                                <ui-select ng-model="groupModalObj.group.group" theme="bootstrap" skip-focusser="true">
                                                    <ui-select-match placeholder="Select or search for a group">{{$select.selected.accountName}}</ui-select-match>
                                                    <ui-select-choices group-by="'parent'" repeat="item in groupModalObj.groups | filter: {accountName:$select.search}">
                                                        <span ng-bind-html="groupModalObj.trustAsHtml((item.accountName | highlight: $select.search))"></span>
                                                    </ui-select-choices>
                                                    <ui-select-no-choice style="padding: 5px;">
                                                        Your search doesn't match any existing groups.If you want to create '{{$select.search}}' group, just click on “Create Group” button.
                                                        </br><span class="btn btn-complete m-t-5" ng-click="groupModalObj.createAndSelectGroup($select.search)">Create Group</span>
                                                        <div ng-if="$select.items.length == 0" gs-reset-selected-group></div>
                                                    </ui-select-no-choice>
                                                </ui-select>

                                            </div>
                                            <div ng-show="groupModalObj.groups.length==0">No Groups Available!!!</div>
                                        </div>
                                        <div class="fg-element-error"><span style="color: red" ng-show="groupModalObj.updateGrpErrMsg"> {{ groupModalObj.updateGrpErrMsg }}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <div class="col-sm-12 m-t-10 sm-m-t-10 text-right">
                            <button type="button" class="btn btn-default m-t-5" ng-click="groupModalObj.modalCancel()"   data-dismiss="modal">{{groupModalObj.modal.cancel}}</button>
                            <button type="button" class="btn btn-complete m-t-5" ng-click="groupModalObj.modalSubmit()" >{{groupModalObj.modal.submit}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>