<!-- Update Group -->
<form name="{{subAccountsModalObj.modal.formName}}" class="modal fade slide-up" id="{{subAccountsModalObj.modal.id}}" tabindex="-1" role="dialog" aria-hidden="false"  novalidate>
    <div class="modal-dialog" style="width: 60%">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
	                <button type="button" class="close" data-dismiss="modal" ng-click="subAccountsModalObj.modalCancel();" aria-hidden="true"><i class="pg-close fs-20"></i>
                    </button>
					<h4 class="m-t-0">{{subAccountsModalObj.modal.header}}</h4>
                </div>
                <div class="modal-body">
                    <div class="tab-pane slide-left active">
                        <div class="panel panel-transparent">
                            <div class="panel-heading m-b-5">
                                <div id="datatable-controls" gs-datatable-controls>

                                    <gs-data-table-search table-obj="dataTableObj" search-val="subAccountsModalObj.searchValue"></gs-data-table-search>
                                    <div class="clearfix visible-sm visible-xs"></div>
                                    <div class="clearfix visible-xs"></div>
                                </div>
                            </div>
                            <div class="panel-body gs-data-table">
                                <div id="paceTableBlockDiv" class="paceDiv"></div>
                                <table id="{{dataTableObj.tableID}}" class="table table-striped no-leading-checkbox" width="100%" gs-generate-table-body>
                                    <thead>
                                    <tr>
                                        <th ng-repeat="header in dataTableObj.tableHeaders">{{header.value}}</th>
                                    </tr>
                                    </thead>

                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 m-t-10 sm-m-t-10 text-right">
	                        <button type="button" class="btn btn-default m-t-5" ng-click="subAccountsModalObj.modalCancel();" data-dismiss="modal">{{subAccountsModalObj.modal.cancel}}</button>
                            <button type="button" class="btn btn-complete m-t-5" ng-click="subAccountsModalObj.modalSubmit()">{{subAccountsModalObj.modal.submit}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
<!-- /Update Group -->
