<div class="modal fade slide-up disable-scroll" id="{{vm.modal.id}}" tabindex="-1" role="dialog" aria-hidden="false" novalidate gs-verification-modal>
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-20"></i></button>
					<h4 class="m-t-0">{{vm.modal.header}}</h4>
                </div>
                <div class="modal-body">
	                <div class="alert {{vm.alertClass}}" role="alert" ng-show="vm.isError">{{vm.errorMessage}}</div>
                    <div class="row">
                        <div class="col-sm-12 m-t-10 sm-m-t-10 text-right">
	                        <button type="button" class="btn btn-default m-t-5" ng-click="vm.modalCancel()" data-dismiss="modal">{{vm.modal.cancel}}</button>
                            <button type="button" class="btn btn-complete m-t-5" ng-click="vm.modalSubmit()" data-dismiss="modal">{{vm.modal.submit}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>