
<form name="warningConfirmation" class="modal fade slide-up disable-scroll" id="{{warning.modal.id}}" tabindex="-1" role="dialog" aria-hidden="false" ng-controller="WarningCtrl as warning" novalidate gs-form-validation>
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="warning.modalCancel()"><i class="pg-close fs-20"></i>
                    </button>
                    <h4 class="m-t-0">{{warning.modal.header}}</h4>
                </div>
                <div class="modal-body" style="overflow: auto; max-height: 600px;">
                    <div class="alert text-warning-dark" role="alert">{{warning.message}}</div>
                    <div class="panel-group" id="Erroraccordion">
                        <div class="panel panel-default" ng-repeat="item in warning.errors">
                            <div class="panel-heading" style="background-color: #fddddd">
                                <h4 class="panel-title" ng-if="item.isAccordian">
                                    <a class="accordion-toggle p-r-10" data-toggle="collapse" data-parent="#Erroraccordion" href="#Error{{$index}}" ng-class="{collapsed:!selectedModel[$index]}">
                                        {{item.message}}
                                    </a>
                                </h4>
                                <span ng-if="!item.isAccordian">
                                    {{item.message}}
                                </span>
                            </div>
                            <div id="Error{{$index}}" class="panel-collapse collapse" ng-if="item.isAccordian">
                                <div class="panel-body">
                                    {{item.description}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group" id="Warningaccordion">
                        <div class="panel panel-default" ng-repeat="item in warning.warnings">
                            <div class="panel-heading" style="background-color: #fef6dd">
                                <h4 class="panel-title" ng-if="item.isAccordian">
                                    <a class="accordion-toggle p-r-10" data-toggle="collapse" data-parent="#Warningaccordion" href="#Warning{{$index}}" ng-class="{collapsed:!selectedModel[$index]}">
                                        {{item.message}}
                                    </a>
                                </h4>
                                <span ng-if="!item.isAccordian">
                                    {{item.message}}
                                </span>
                            </div>
                            <div id="Warning{{$index}}" class="panel-collapse collapse" ng-if="item.isAccordian">
                                <div class="panel-body">
                                    {{item.description}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="!warning.disableButtons">
                        <div class="col-sm-12 m-t-10 sm-m-t-10 text-right">
                            <button type="button" class="btn btn-default m-t-5" ng-click="warning.modalCancel()" data-dismiss="modal">{{warning.modal.cancel}}</button>
                            <button type="button" class="btn btn-complete m-t-5" ng-click="warning.onContinue()" ng-if="warning.errors.length < 1">{{warning.modal.submit}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>