<div class="tab-pane slide-left" id="alertConfig" gs-has-permission="ACCOUNT_READ,ACCOUNT_EDIT">
    <form name="alertConfigForm" class="" role="form" novalidate gs-form-validation>
        <fieldset>
            <div class="alert alert-danger" role="alert" ng-show="alertDetails.errorMessage">{{alertDetails.errorMessage}}</div>

            <div ng-show="!isAlertEnabled">
                <div class="row">
                    <div class="col-md-12">
                        <div class="fg-wrap switch-wrapper">
                            <div class="form-group form-group-default">
                                <label for="switchAccountAlerts">Enable all account alerts</label>
                                <input type="checkbox" id="switchAccountAlerts" class="js-switch" ng-model="alertDetails.alertConfig.alertAccount" ui-switch="{color: '#6d5cae'}" />
                            </div>
                            <div class="fg-element-error"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="fg-wrap">
                            <div gs-pg-form-group class="form-group form-group-default form-group-default-select required">
                                <label for="interval">Alert Frequency</label>
                                <ui-select ng-model="alertDetails.alertConfig.interval" ng-disabled="!alertDetails.alertConfig.alertAccount" id="interval" name="interval" theme="bootstrap" skip-focusser="true">
                                    <ui-select-match>
                                        {{$select.selected.interval}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="item in alertDetails.alertIntervals | filter: $select.search">

                                        <span ng-bind-html="alertDetails.trustAsHtml((item.interval | highlight: $select.search))"></span>
                                    </ui-select-choices>
                                    <ui-select-no-choice>
                                        Your search doesn't match any predefined intervals.
                                    </ui-select-no-choice>
                                </ui-select>
                            </div>
                            <div class="fg-element-error"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="fg-wrap">
                            <div gs-pg-form-group class="form-group form-group-default form-group-default-select required">
                                <label for="trigger">Send Alerts for a SIM when</label>
                                <ui-select ng-model="alertDetails.alertConfig.qualifier" ng-disabled="!alertDetails.alertConfig.alertAccount" id="trigger" name="trigger" theme="bootstrap" skip-focusser="true">
                                    <ui-select-match>
                                        {{$select.selected.qualifier}}
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="item in alertDetails.simAlertUsage | filter: $select.search">

                                        <span ng-bind-html="alertDetails.trustAsHtml((item.qualifier | highlight: $select.search))"></span>
                                    </ui-select-choices>
                                    <ui-select-no-choice>
                                        Your search doesn't match any predefined triggers.
                                    </ui-select-no-choice>
                                </ui-select>
                            </div>
                            <div class="fg-element-error"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="fg-wrap switch-wrapper">
                            <div class="form-group">
                                <label for="switchEmailUsers">Send Alert Emails to Users</label>
                                <input type="checkbox" id="switchEmailUsers" class="js-switch" ng-model="alertDetails.alertConfig.alertUserCheck" ng-disabled="!alertDetails.alertConfig.alertAccount" ui-switch="{color: '#6d5cae'}"/>
                            </div>
                            <div class="fg-element-error"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="isAlertEnabled">
                <div class="col-md-12">
                    <div class="fg-wrap switch-wrapper">
                        <div class="form-group">
                            <label for="switchEmailUsers">{{isAlertEnabled ? 'Send Action Emails to End Users' : 'Send Alert Emails to Users'}}</label>
                            <input type="checkbox" id="switchEmailUsersId" class="js-switch" ng-model="alertDetails.alertConfig.alertUserCheck" ui-switch="{color: '#6d5cae'}"/>
                        </div>
                        <div class="fg-element-error"></div>
                    </div>
                </div>
            </div>

        </fieldset>
        <div class="row">
            <div class="col-md-12 m-t-10">
                <button type="submit" class="btn btn-complete" ng-click="alertDetails.submitAlertConfig(alertConfigForm)">Update</button>
            </div>
        </div>
    </form>
</div>