<!-- Pricing Details -->
<div class="tab-pane slide-left" id="pricingDetails" gs-has-permission="READ_ZONES,ACCOUNT_EDIT">
    <div class="alert alert-danger" role="alert" ng-show="pricingDetails.errorMessage">{{pricingDetails.errorMessage}}</div>
    <div ng-if="pricingDetails.zones <= 0" class="text-center">
        <span class="noDataMessageGeneral">Zones are not added to the Enterprise account</span>
    </div>
    <div class="alert alert-info" ng-if="pricingDetails.zones.length" >Pricing is for informational purposes only. Please refer to your contract for details which may not be available within the application.</div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" ng-repeat="zone in pricingDetails.zones" id="accdiv_{{$index}}">
            <div class="panel-heading" role="tab" id="zone_{{$index}}" ng-click="pricingDetails.scrollToElem($event)">
                <h4 class="panel-title">
                    <a ng-class="{collapsed:!selectedModel[$index]}" ng-click="selectedModel[$index]=!selectedModel[$index]" aria-expanded="true" aria-controls="selectedModel[$index]">
                        <span>{{zone.name}}</span>
                        <span class="zone-price" ng-if="zone.pricePerMB">{{zone.pricePerMB|currency:pricingDetails.account.currency:3}}/MB.</span>
                    </a>
                </h4>
            </div>
            <div class="panel-collapse collapse" role="tabpanel" aria-labelledby="zone_{{$index}}" test-arg="zone_{{zone.zoneId}}" ng-class="{in:selectedModel[$index]}">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-5 col-md-push-7 col-sm-5 col-sm-push-7 col-xs-12">
                            <span class="badge badge-date badge-success sm-pull-reset sm-m-b-10">Last update: {{zone.lastUpdatedDate}}</span>
                        </div>
                        <div class="col-md-7 col-md-pull-5 col-sm-7 col-sm-pull-5 col-xs-12">
                            <div class="editable-with-label">
                                <label>Zone Nickname:</label>
                                <div ng-if="!pricingDetails.isZoneEdit">{{zone.nickName || zone.name}}</div>
                                <gs-edit-tool ng-if="pricingDetails.isZoneEdit" id="zone.zoneId" target-field='"name"' name="{{zone.nickName || zone.name}}" on-save="updateZone" on-error="showErrMsg" on-success="showSuccessMsg" />
                            </div>
                        </div>
                    </div>

                    <div class="line-break m-t-20 m-b-20"></div>
                    <div class="widget-11-2 panel no-border panel-condensed no-margin widget-loader-circle" ng-show="pricingModelVersion == '1.2' && zone.pricePerMB==undefined && (zone.buckets && zone.buckets.length)">

                        <div style="margin-bottom: 1%;">
                            <div class="pull-left   col-middle col-lg-4 col-md-6 col-sm-4">
                                <h3 class="text-success no-margin">Pricing</h3>
                                <p class="small hint-text">(Volume discounts may apply)</p>
                            </div>
                            <div class="col-lg-8 col-md-6 col-sm-8" ng-show="zone.minimumCommitmentCost">
                                <div class="col-middle basicCommitment">
                                    <div class="p-l-20 p-r-20 p-t-15 p-b-15">
                                       <span id='committedLabel' class="no-margin no-padding" >Zone commitment :</span>
                                        <span id='committedData' class="small text-primary no-padding" >{{zone.minimumCommitmentData}}</span>
                                        <span id='committedCost' class="small no-padding p-l-5" >Price - {{pricingDetails.account.currency}}{{zone.minimumCommitmentCost}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="auto-overflow widget-11-2-table">
                            <table class="table table-condensed" id="pricingInfoDataTable">
                                <thead>
                                    <tr>
                                        <th id='tier' class="font-montserrat all-caps fs-12 col-lg-6" >TIERS</th>
                                        <th id='range' class="font-montserrat all-caps fs-12 col-lg-6 no-padding" >RANGE</th>
                                        <th id='committed' class="font-montserrat all-caps fs-12 col-lg-6 " ng-show="zone.minimumCommitmentCost">COMMITTED</th>
                                        <th id='price' class="font-montserrat all-caps fs-12 col-lg-6 b-l b-dashed b-grey">PRICE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="bucket in zone.buckets">
                                        <td class="font-montserrat fs-12 col-lg-6">{{bucket.tier}}</td>
                                        <td >
                                            <span class="hint-text small"><span ng-bind-html="bucket.range"></span></span>
                                        </td>
                                        <td class="col-lg-3" ng-show="zone.minimumCommitmentCost">
                                            <span class="hint-text small" >{{bucket.committedData}}</span>
                                        </td>
                                        <td class="col-lg-3 b-l b-dashed b-grey">
                                            <span class="font-montserrat fs-18">{{bucket.pricePerUnit|currency:pricingDetails.account.currency:3}}/{{bucket.unitValue}} {{bucket.unitType}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <h5>Countries</h5>

                    <ul class="country-list">
                        <li ng-repeat="country in zone.zoneCountryList"><span ng-if="country.countryDetails">{{country.countryDetails.name}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>