
<div class="container-fluid container-fixed-lg gs-data-table m-t-25 sm-m-t-0" id="enterprise-settings">
	<div class="row">
		<div class="col-lg-7">
			<div class="panel panel-default">
				<ul id="accountSettingsTab" class="nav nav-tabs nav-tabs-simple nav-tabs-primary sm-t-cell third" role="tablist">
					<li ui-sref-active="active" gs-has-permission="ACCOUNT_EDIT,ACCOUNT_READ">
						<a data-toggle="tab" id="enterpriseDetailstab" role="tab" data-target="#" ui-sref="app.settings.enterpriseDetails">Enterprise <span class="sm-nxt-ln">Details</span></a>
					</li>
					<li ui-sref-active="active" gs-has-permission="READ_ZONES">
						<a data-toggle="tab" id="pricingDetailstab" role="tab" data-target="#" ui-sref="app.settings.pricingDetails">Pricing <span class="sm-nxt-ln">Details</span></a>
					</li>
					<li ui-sref-active="active" ng-class="{hide: (isGemLite)}" gs-has-permission="ACCOUNT_READ,ACCOUNT_EDIT">
						<a data-toggle="tab" id="alertConfigtab" role="tab" data-target="#" ui-sref="app.settings.alertDetails">{{isAlertEnabled ? 'Action' : 'Alert' }} <span class="sm-nxt-ln">Settings</span></a>
					</li>
				</ul>
				<div class="tab-content graphs bg-white allow-overflow">
					<ui-view></ui-view>
				</div>
			</div>
		</div>
	</div>
</div>
