<div class="container-fluid container-fixed-lg m-t-25 sm-m-t-0">
    <div class="panel panel-default xs-p-t-15">
        <div class="panel-body bg-white">
            <div id="datatable-controls" gs-datatable-controls>
                <div class="pull-right">
                    <gs-data-table-filter table-obj="dataTableObj" filter="alertType"  label="Filter By" list="alertTypeFilters"  enable-search="false"></gs-data-table-filter>
                </div>
                <div class="clearfix visible-xs"></div>
            </div>

            <div class="gs-data-table m-t-10">
                <table id="{{dataTableObj.tableID}}" class="table table-striped no-leading-checkbox" width="100%" gs-generate-table-body>
                    <thead>
                        <tr>
                            <th ng-repeat="header in dataTableObj.tableHeaders" ng-class="{Usage:'tdth-usage data-unit'}[header.value]">{{header.value}}</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div ng-include="lazyLoadURL+'app/assets/alerts/alert-modal.html'"></div>