<div class="fg-wrap switch-wrapper" ng-if="isResellerAccount">
    <div class="form-group form-group-default text-right breadcrumb-wrapper">
        <span style="font-size: 14px; font-weight: 500" class="font-montserrat">Consolidated</span> <input type="checkbox" id="switchAccountAlerts" class="js-switch" ng-model="dashboard.includeSubAccountDU" ui-switch="{color: '#6d5cae'}"  ng-change="dashboard.onConsolidatedDataUsageChanged()" />
    </div>
</div>
<div class="container-fluid container-fixed-lg m-t-25">
    <div class="row" ng-class="{textCenterAlign: isGemLite}">

	    <div class="zone-panel-wrapper" ng-class="isGemLite ? 'col-md-10 verticalCenter' : 'col-md-6'" ng-show="!isGemLite" gs-has-permission="READ_DATAUSAGE">
		    <div class="panel panel-default zones-panel">
			    <div class="pie-or-donut" ng-include="lazyLoadURL+'app/assets/data-usage/pieGraph.html'" ng-controller="DuZonesDonutCtrl as zonesDonut" gs-dashboard-graph></div>
		    </div>
	    </div>
	    <div class="estimated-cost-wrapper" ng-class="isGemLite ? 'col-md-10 verticalCenter' : 'col-md-6'">
		    <div class="panel panel-default">
			    <div class="panel-body costs-body">
				    <div class="row text-center ">
	                    <div class="col-lg-6 col-md-6" test-arg="BillingMonthLabel">
	                        <h2 class="no-margin">{{dashboard.currentBillingMonth}}</h2>
	                        <p class="no-margin">Estimated Usage*</p>
	                        <p class="panel-sub-title no-margin">for current billing period</p>
	                    </div>
	                    <div class="col-lg-6 col-md-6" test-arg="totalEstimatedUsage" >
							<h3 class="semi-bold no-margin">
								{{dashboard.enterpriseCurrency}}{{dashboard.totalEstimatedSpend}} <br/>
								{{dashboard.totalEstimatedUsage}}
							</h3>
	                    </div>
					</div>
					<div class="row text-center estimated-cost no-margin no-padding" test-arg="EstimateDisclaimer">
						<div class="col-lg-12 col-md-12">
						<p class="panel-sub-title" style="margin-top:30px;">*Estimates are only projections based on usage to date. Actuals can vary based on usage pattern changes</p>
							</div>
				    </div>
					<div class="row text-center estimated-cost padding-25">
	                    <div class="col-lg-4 col-md-4 col-sm-4" test-arg="totalCurrentUsage">
	                        <h4 class="text-primary no-margin spend-line-height">{{dashboard.enterpriseCurrency}}{{dashboard.totalCurrentSpend}}<br/>
								{{dashboard.totalCurrentUsage}}</h4>
	                        <p class="small margin-sm no-margin">Total for {{dashboard.currentBillingMonth}}</p>
	                    </div>
	                    <div class="col-lg-4 col-md-4 col-sm-4" test-arg="todaysUsage">
	                        <h4 class="text-primary no-margin spend-line-height"><span ng-hide="pricingModelVersion=='1.2'">{{dashboard.enterpriseCurrency}}{{dashboard.todaysSpend}}</span><br/>
								{{dashboard.todaysUsage}}</h4>
	                        <p class="small margin-sm no-margin">Today<sup>*</sup></p>
	                    </div>
	                    <div class="col-lg-4 col-md-4 col-sm-4" test-arg="dailyAverage">
	                        <h4 class="text-primary no-margin spend-line-height">{{dashboard.enterpriseCurrency}}{{dashboard.dailyAverageSpend}}<br/>
								{{dashboard.dailyAverage}}</h4>
	                        <p class="small no-margin">Daily Average</p>
	                    </div>
				    </div>
				    <div class="row">
					    <div ng-class="isGemLite ? 'overflow-wrapper-lite pricing-wrapper-lite' : 'overflow-wrapper pricing-wrapper'">
			                <div class="gs-mock-table zone-usage-table text-center">
			                   <div class="mt-header">
				                   <div>Zone</div>
				                   <div class="usage">Current Usage</div>
				                   <div class="usage">Estimated Usage</div>
			                   </div>
			                   <div class="mt-row" ng-repeat="zone in dashboard.zonesList" ng-if="dashboard.totalCurrentUsage !='0 Bytes'">
				                   <div>{{zone.name}}</div>
				                   <div>{{zone.dataUsage}}</div>
								   <div>{{zone.estimatedDataUsage}}</div>
			                	</div>
							</div>
							<div class="no-data" ng-if="dashboard.totalCurrentUsage =='0 Bytes' || dashboard.zonesList.length == 0 || !dashboard.zonesList.length">
				                	There is no data to display.
			                	</div>
					    </div>
				    </div>
					<div class="row rd-alert">
					    <div class="col-lg-12 col-md-12">
						    <p class="rd-message"><sup>*</sup> Some recent data usage may not be available.</p>
					    </div>
				    </div>
			    </div>
		    </div>
	    </div>
    </div>

	<div class="row" ng-if="isResellerAccount">
		<div class="zone-panel-wrapper col-md-12 verticalCenter"  ng-show="!isGemLite" gs-has-permission="READ_DATAUSAGE">
			<div class="panel panel-default zones-panel">
				<div class="pie-or-donut" ng-include="lazyLoadURL+'app/assets/data-usage/pieGraph.html'" ng-controller="DuSubAccountsDonutCtrl as subAccountsDonut" gs-dashboard-graph></div>
			</div>
		</div>
	</div>

    <div class="row" ng-show="!isGemLite" id="highestUsageDiv">
	    <div class="col-lg-6 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title with-sub-title">Highest usage by SIM</div>
                    <div class="panel-sub-title">for current billing period</div>
                </div>
                <div class="overflow-wrapper usage-table-wrapper">
	                <div class="gs-mock-table sim-table">
	                   <div class="mt-header">
		                   <div class="usage">Usage</div>
		                   <div>CID</div>
		                   <div>Current User</div>
		                   <div ng-if="!resellerOrSubAccount">Group</div>
		                   <div ng-if="resellerOrSubAccount">Account</div>
	                   </div>
	                   <div class="mt-row" ng-repeat="sim in filtered = (dashboard.simList | filter: dashboard.usageFilter)" ng-if="dashboard.getUsageInMB(sim.totalDataUsedInBytes) != 0">
		                   <div>{{dashboard.getUsageInMB(sim.totalDataUsedInBytes)}}</div>
		                   <div>{{sim.cId}}</div>
		                   <div>{{sim.userFirstName ?sim.userFirstName+' '+ sim.userLastName:'Unassigned'}}</div>
		                   <div>{{sim.accountName ?sim.accountName:'Default'}}</div>
	                </div>
						</div>
					<div ng-if="filtered.length == 0" class="no-data">There is no data to display.</div>
                </div>
            </div>
        </div>
		<div class="col-lg-6 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title with-sub-title">Highest usage by User</div>
                    <div class="panel-sub-title">for current billing period</div>
                </div>
                <div class="overflow-wrapper usage-table-wrapper">
	                <div class="gs-mock-table user-table">
	                   <div class="mt-header">
		                   <div class="usage">Usage</div>
		                   <div>User</div>
						   <div ng-if="!resellerOrSubAccount">Group</div>
						   <div ng-if="resellerOrSubAccount">Account</div>
		                   <div>Location</div>
	                   </div>
						<div class="mt-row" ng-repeat="user in filtered = (dashboard.userList | filter: dashboard.usageFilter)" ng-if="dashboard.getUsageInMB(user.totalDataUsedInBytes) != 0">
							<div>{{dashboard.getUsageInMB(user.totalDataUsedInBytes)}}</div>
							<div>{{user.userFirstName +' '+ user.userLastName}}</div>
							<div>{{user.accountName}}</div>
							<div>{{user.userLocation}}</div>
						</div>
					</div>
					<div ng-if="filtered.length == 0" class="no-data">There is no data to display.</div>
                </div>
            </div>
        </div>
    </div>
</div>
