<div id="simDetails">
    <div class="sim-details-wrapper bg-white">
        <div class="like-panel-title" style="overflow: unset;">
            <span class="pull-left">SIM Details</span>
            <div id="divActions" class="dropdown pull-right" ng-if="SIMDetailVM.hasOperations()">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <label>Actions</label>
                    <i class="fa fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu">
                    <li ng-if="SIMDetailVM.hasAccess.auditEis()">
                        <a class="dropdown-item" ng-click="SIMDetailVM.auditEIS()">Audit EIS</a>
                    </li>
                    <li ng-if="SIMDetailVM.hasAccess.switchImsi()">
                        <a class="dropdown-item" ng-click="SIMDetailVM.switchIMSI()">Switch IMSI</a>
                    </li>
                    <li ng-if="SIMDetailVM.hasAccess.changeMode()">
                        <a class="dropdown-item" ng-click="SIMDetailVM.verifySwitchIMSIMOde(SIMDetailVM.SIM.switchIMSIMode)">
                            {{SIMDetailVM.SIM.switchIMSIMode =='MANUAL'?'Change to Automatic mode':'Change to Manual mode'}}
                        </a>
                    </li>
                    <li ng-if="SIMDetailVM.hasAccess.markESimAsDeleted()">
                        <a class="dropdown-item" ng-click="SIMDetailVM.markESimAsDeleted()">
                            Mark as Deleted
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div id="divSimDetails" class="row">
            <!-- Column 1 -->
            <div class="col-md-4">
                <div class="sbs-lv-table row-border full-width">
                    <div class="lv-row">
                        <div class="l-cell"><span>CID</span></div>
                        <div class="v-cell">{{SIMDetailVM.SIM.cId}}</div>
                    </div>
                    <div class="lv-row" ng-if="SIMDetailVM.isConsumerEsim">
                        <div class="l-cell"><span>EID</span></div>
                        <div class="v-cell">{{SIMDetailVM.consumerEsimInfo.mappedConsumerEid}}</div>
                    </div>
                    <div class="lv-row">
                        <div class="l-cell"><span>{{SIMDetailVM.simIdLabel}}</span></div>
                        <div class="v-cell">{{SIMDetailVM.SIM.simId}}</div>
                    </div>
                    <div class="lv-row">
                        <div class="l-cell"><span>Device Type</span></div>
                        <div class="v-cell">{{SIMDetailVM.deviceType.label}}</div>
                    </div>
                    <div class="lv-row">
                        <div class="l-cell">Nickname</div>
                        <div class="v-cell">{{SIMDetailVM.SIM.nickName}}</div>
                    </div>
                    <div class="lv-row">
                        <div class="l-cell">SIM Type</div>
                        <div class="v-cell">{{SIMDetailVM.SIM.simType | underscoreless}}</div>
                    </div>
                    <div class="lv-row">
                        <div class="l-cell">Assigned User</div>
                        <div class="v-cell">{{SIMDetailVM.user}}</div>
                    </div>
                    <div ng-if="!resellerOrSubAccount" class="lv-row">
                        <div class="l-cell">Group</div>
                        <div class="v-cell">{{SIMDetailVM.group}}</div>
                    </div>
                </div>
            </div>
            <!-- Column 2 -->
            <div class="col-md-4">
                <div class="sbs-lv-table row-border full-width">
                    <div class="lv-row">
                        <div class="l-cell">SIM Status</div>
                        <div class="v-cell">
                            <div class="status-wrapper">
                                <span class="status {{SIMDetailVM.status.class}}"></span>
                                <span class="status-text">{{SIMDetailVM.status.label}}</span>
                            </div>
                        </div>
                    </div>
                    <!-- Physical SIM -->
                    <div class="lv-row" ng-if="(SIMDetailVM.isPhysicalSim || SIMDetailVM.isConsumerEsim)">
                        <div class="l-cell">IMSI Profile</div>
                        <div class="v-cell"><span>{{SIMDetailVM.imsiProfile}}</span></div>
                    </div>
                    <div class="lv-row" ng-if="(SIMDetailVM.isPhysicalSim || SIMDetailVM.isConsumerEsim)">
                        <div class="l-cell">MSISDN</div>
                        <div class="v-cell">{{SIMDetailVM.msisdn}}</div>
                    </div>
                    <!-- M2M eSIM -->
                    <div class="lv-row" ng-if="SIMDetailVM.isM2mEsim">
                        <div class="l-cell">EUM ID</div>
                        <div class="v-cell">{{SIMDetailVM.eUICCDetails.eumId}}</div>
                    </div>
                    <div class="lv-row" ng-if="SIMDetailVM.isM2mEsim">
                        <div class="l-cell">Platform Type</div>
                        <div class="v-cell">{{SIMDetailVM.eUICCDetails.platformType}}</div>
                    </div>
                    <div class="lv-row" ng-if="SIMDetailVM.isM2mEsim">
                        <div class="l-cell">Platform Version</div>
                        <div class="v-cell">{{SIMDetailVM.eUICCDetails.platformVersion}}</div>
                    </div>
                    <div class="lv-row" ng-if="SIMDetailVM.isM2mEsim">
                        <div class="l-cell">Total Memory</div>
                        <div class="v-cell">{{SIMDetailVM.eUICCDetails.totalMemory}}</div>
                    </div>
                    <div class="lv-row" ng-if="SIMDetailVM.isM2mEsim">
                        <div class="l-cell">Available Memory</div>
                        <div class="v-cell">{{SIMDetailVM.eUICCDetails.availableMemory}}</div>
                    </div>
                    <!-- Consumer eSIM -->
                    <div class="lv-row" ng-if="SIMDetailVM.isConsumerEsim">
                        <div class="l-cell">Installation Status</div>
                        <div class="v-cell">
                            <div class="status-wrapper">
                                <span class="status {{SIMDetailVM.installationStatus.class}}"></span>
                                <span class="status-text">{{SIMDetailVM.installationStatus.label}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="lv-row" ng-if="SIMDetailVM.isConsumerEsim">
                        <div class="l-cell">Profile Type</div>
                        <div class="v-cell">{{SIMDetailVM.consumerEsimInfo.profileType}}</div>
                    </div>
                    <!---->
                    <div class="lv-row">
                        <div class="l-cell">Activated (UTC)</div>
                        <div class="v-cell">{{SIMDetailVM.SIM.addedToAccountOn}}</div>
                    </div>
                </div>
            </div>
            <!-- Column 3 -->
            <div class="col-md-4">
                <div class="sbs-lv-table row-border full-width">
                    <div class="lv-row" gs-has-permission="SIM_READ_ROAMING_PROFILE">
                        <div class="l-cell">Roaming Profile</div>
                        <div class="v-cell" ng-if="SIMDetailVM.roamingProfileName">
                            <a ui-sref="support.roamingProfile.version({RPSetId:{{SIMDetailVM.roamingProfileSetId}},versionId:{{SIMDetailVM.roamingProfileId}}})" class="cursor">
                                {{SIMDetailVM.roamingProfileName}}
                            </a>
                        </div>
                        <div class="v-cell" ng-if="!SIMDetailVM.roamingProfileName">Legacy</div>
                    </div>
                    <!-- Physical SIM -->
                    <div class="lv-row" ng-if="(SIMDetailVM.isPhysicalSim || SIMDetailVM.isConsumerEsim)">
                        <div class="l-cell">Preferred IMSI</div>
                        <div class="v-cell">
                            <span ng-repeat="IMSI in SIMDetailVM.SIM.preferredIMSIProfilesList">
                                {{IMSI.profile}}
                                <span ng-if="SIMDetailVM.SIM.preferredIMSIProfilesList.length > 1">({{IMSI.priority}})<span ng-if="!$last">,</span></span>
                            </span>
                        </div>
                    </div>
                    <div class="lv-row" ng-if="(SIMDetailVM.isPhysicalSim || SIMDetailVM.isConsumerEsim)">
                        <div class="l-cell">Switch IMSI Mode</div>
                        <div class="v-cell"><span>{{SIMDetailVM.SIM.switchIMSIMode}}</span></div>
                    </div>
                    <!-- M2M eSIM -->
                    <div class="lv-row" ng-if="SIMDetailVM.isM2mEsim">
                        <div class="l-cell">Production Date</div>
                        <div class="v-cell">{{SIMDetailVM.eUICCDetails.productionDate}}</div>
                    </div>
                    <div class="lv-row" ng-if="SIMDetailVM.isM2mEsim">
                        <div class="l-cell">Last Audit Date</div>
                        <div class="v-cell">{{SIMDetailVM.eUICCDetails.lastAuditDate}}</div>
                    </div>
                    <div class="lv-row" ng-if="SIMDetailVM.isM2mEsim">
                        <div class="l-cell">SM-SR ID</div>
                        <div class="v-cell">{{SIMDetailVM.eUICCDetails.smsrId}}</div>
                    </div>
                    <!-- Consumer eSIM -->
                    <div class="lv-row" ng-if="SIMDetailVM.isConsumerEsim">
                        <div class="l-cell">SMDP+ Address</div>
                        <div class="v-cell">{{SIMDetailVM.consumerEsimInfo.smdpPlusAddress}}</div>
                    </div>
                    <div class="lv-row" ng-if="SIMDetailVM.isConsumerEsim">
                        <div class="l-cell">Activation Code</div>
                        <div class="v-cell">{{SIMDetailVM.consumerEsimInfo.activationCode}}</div>
                    </div>
                    <div class="lv-row" ng-if="SIMDetailVM.isConsumerEsim">
                        <div class="l-cell">Confirmation Code</div>
                        <div class="v-cell">{{SIMDetailVM.consumerEsimInfo.confirmationCode}}</div>
                    </div>
                    <div class="lv-row" ng-if="SIMDetailVM.isConsumerEsim">
                        <div class="l-cell">QR Code</div>
                        <div class="v-cell">
                            <qrcode data="{{SIMDetailVM.consumerEsimInfo.activationCode}}"></qrcode>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/sims/imsi-profiles/modal-switch-imsi.html'"></div>
