<div ng-controller="GapSIMDetailCtrl as SIMDetailVM">
    <div id="divSimDetailScrollLinks" class="scroll-links-container">
        <div class="scroll-links-wrapper">
            <ul>
                <li><gs-scroll-link data-link-id="divSimDetails" data-offset="36" title="Go to SIM Details">SIM Details</gs-scroll-link></li>
                <li gs-has-permission="SIM_READ_ADVANCED,SIM_READ_EXTENDED" ng-if="SIMDetailVM.canShowImsiProfiles">
                    <gs-scroll-link data-link-id="divImsiProfiles" data-offset="36" title="Go to the IMSI Profiles Table">IMSI Profiles</gs-scroll-link>
                </li>
                <li gs-has-permission="PROFILE_READ" ng-if="SIMDetailVM.canShowEuiccProfiles">
                    <gs-scroll-link data-link-id="divEuiccProfiles" data-offset="36" title="Go to the eUICC Profiles Table">eUICC Profiles</gs-scroll-link>
                </li>
                <li><gs-scroll-link data-link-id="divLocationHistory" data-offset="36" title="Go to the Location History Table">Location History</gs-scroll-link></li>
                <li><gs-scroll-link data-link-id="divCdrs" data-offset="36" title="Go to the CDR Table">CDRs</gs-scroll-link></li>
                <li gs-has-permission="SIM_READ_ADVANCED" ng-if="SIMDetailVM.canShowOtaHistory">
                    <gs-scroll-link data-link-id="divOtaMessageHistory" data-offset="36" title="Go to the Ota Message History table">Ota Message History</gs-scroll-link>
                </li>
                <li gs-has-permission="PROFILE_READ_ADVANCED" ng-if="SIMDetailVM.canShowOperationsHistory">
                    <gs-scroll-link data-link-id="divSimOperationsHistory" data-offset="36" title="Go to the SIM Operations History table">SIM Operations History</gs-scroll-link>
                </li>
            </ul>
        </div>
    </div>

    <div class="container-fluid container-fixed-lg m-t-25 sm-m-t-0">

        <div test-arg="SIMDetail">
            <div id="divSimDetails" class="row">
                <div class="col-md-12">
                    <div class="panel panel-transparent" >
                        <div class="panel-body no-padding">
                            <div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/sims/sim-details/sim-basic-detail.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="divImsiProfiles" class="row" gs-has-permission="SIM_READ_ADVANCED,SIM_READ_EXTENDED" ng-if="SIMDetailVM.canShowImsiProfiles">
                <div class="col-md-12">
                    <div class="panel panel-transparent" >
                        <div class="panel-body no-padding">
                            <div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/sims/imsi-profiles/imsi-profiles.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="divEuiccProfiles" class="row" gs-has-permission="PROFILE_READ" ng-if="SIMDetailVM.canShowEuiccProfiles">
            <div class="col-md-12" ng-controller="ProfileListCtrl as profileListVM" test-arg="installedProfileList">
                <div class="panel panel-transparent " >
                    <div class="panel-body no-padding">
                        <div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/sims/profile-list/profile-list.html'"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="divLocationHistory" class="row">
            <div class="col-md-12">
                <div class="panel panel-default" ng-controller="GapLocationHistoryCtrl as locationHistory" test-arg="locationHistory">
                    <div class="panel-heading m-b-5">
                        <div class="panel-title p-t-10">
                            Location History
                        </div>
                        <div class="pull-right datatable-controls" gs-datatable-controls>
                            <div class="w-smaller">
                                <button class="btn btn-small btn-default  m-b-5 m-r-5"  ng-disabled="isPageSizeFilterDisabled"  ng-click="exportModal(true,locationHistory.exportData);" gs-has-permission="SIM_LOCATION_READ_ADVANCED">Export</button>
                                <gs-data-table-filter table-obj="dataTableObj" filter="selectedDisplayLength"  label="Items per page" list="dataTableObj.displayLengthvalues" disable-select="isPageSizeFilterDisabled" enable-search="false"></gs-data-table-filter>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/sims/location-history/location-history.html'"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="divCdrs" class="row">
            <div class="col-md-12">
                <div class="panel panel-default" ng-controller="GapCallDateRecordsCtrl as cdrVm" test-arg="callDateRecords">
                    <div class="panel-heading m-b-5">
                        <div class="panel-title p-t-10">
                            Call Data Records
                        </div>
                        <div class="pull-right datatable-controls" gs-datatable-controls>
                            <div class="w-smaller">
                                <button class="btn btn-small btn-default  m-b-5 m-r-5"  ng-disabled="isPageSizeFilterDisabled" ng-click="exportModal(true,cdrVm.exportData);" gs-has-permission="SIM_CDR_READ_ADVANCED">Export</button>
                                <gs-data-table-filter table-obj="dataTableObj" filter="selectedDisplayLength"  label="Items per page" list="dataTableObj.displayLengthvalues" disable-select="isPageSizeFilterDisabled" enable-search="false"></gs-data-table-filter>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/sims/cdr/sim-cdr.html'"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="divOtaMessageHistory" class="row" gs-has-permission="SIM_READ_ADVANCED" ng-if="SIMDetailVM.canShowOtaHistory">
            <div class="col-md-12">
                <div class="panel panel-default panel-with-export" ng-controller="OTAHistoryCtrl as OTSHistory" test-arg="OTAHistory">
                    <div class="panel-heading m-b-5">
                        <div class="panel-title">
                            OTA History
                        </div>
                        <div class="pull-right datatable-controls" gs-datatable-controls>
                            <div class="w-smaller">
                                <gs-data-table-filter table-obj="dataTableObj" filter="selectedDisplayLength"  label="Items per page" list="dataTableObj.displayLengthvalues" disable-select="isPageSizeFilterDisabled" enable-search="false"></gs-data-table-filter>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/sims/ota-history/ota-history.html'"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="divSimOperationsHistory" class="row" gs-has-permission="PROFILE_READ_ADVANCED" ng-if="SIMDetailVM.canShowOperationsHistory">
            <div class="col-md-12">
                <div class="panel panel-default panel-with-export" ng-controller="SIMOperationsHistoryCtrl as SIMOperationsHistoryVm" test-arg="SIMOperationsHistory">
                    <div class="panel-heading m-b-5">
                        <div class="panel-title">
                            SIM Operations History
                        </div>
                        <div class="pull-right datatable-controls" gs-datatable-controls>
                            <div class="w-smaller">
                                <gs-data-table-filter table-obj="dataTableObj" filter="selectedDisplayLength"  label="Items per page" list="dataTableObj.displayLengthvalues" disable-select="isPageSizeFilterDisabled" enable-search="false"></gs-data-table-filter>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/sims/sim-operations-history/sim-operations-history.html'"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Export Modal -->
    <div ng-include="lazyLoadURL+'app/assets/common/tpl/modal-export.html'" ng-controller="ExportCtrl as exportModal"></div>
    <!-- / Export Modal -->

</div>