
<!-- START CONTAINER FLUID -->
<div class="container-fluid container-fixed-lg m-t-25 sm-m-t-0" id="simList">
	<!-- START PANEL -->
	<div class="panel panel-default">
		<div class="panel-heading users-table-panel">
			<div gs-datatable-controls id="datatable-controls">

				<!-- Search -->
				<gs-data-table-search search-val="profiles.searchValue" table-obj="dataTableObj"></gs-data-table-search>
				<div class="clearfix visible-sm visible-xs"></div>

				<!-- Buttons -->
				<div class="btn-group sm-btn-halves m-b-5 defaultBtnGroup">
					<button class="btn btn-small btn-default" gs-has-permission="PROFILE_READ" ng-class="{disabledComponent : isDisableComponent()}" ng-click="exportModal(true,profiles.exportData);" ng-disabled="isDisableComponent()" ng-show="!isGemLite">Export</button>
				</div>

				<!-- Filter -->
				<div class="w-smaller pull-right">
					<gs-data-table-filter disable-select="isDisableComponent()" enable-search="false"  filter="selectedDisplayLength" label="Items per page" list="dataTableObj.displayLengthvalues" table-obj="dataTableObj"></gs-data-table-filter>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
		<div class="panel-body gs-data-table">
			<div class="paceDiv" id="paceTableBlockDiv"></div>
			<table class="table table-striped" ng-class="{'no-leading-checkbox':!enableCheckbox}" gs-generate-table-body id="{{dataTableObj.tableID}}" width="100%">
				<thead>
				<tr>
					<th ng-repeat="header in dataTableObj.tableHeaders">{{header.value}}</th>
				</tr>
				</thead>

			</table>
		</div>
	</div>
	<!-- END PANEL -->
</div>
<!-- END CONTAINER FLUID -->

<!-- Export Modal -->
<div ng-include="lazyLoadURL+'app/assets/common/tpl/modal-export.html'" ng-controller="ExportCtrl as exportModal"></div>
<!-- / Export Modal -->
