<div class="panel-heading users-table-panel">
    <div class=" panel-title p-b-10">Roaming profile to SIM Mapping</div>
    <div id="datatable-controls" gs-datatable-controls>

        <!-- Dropdown -->
        <div id="dt-action-dd"  class="dropdown m-b-5 hideInReadOnlyMode" data-toggle="tooltip" title="Bulk Actions" gs-tooltip gs-has-permission="UPDATE_SIM_ROAMING_PROFILE" ng-show="enableCheckbox">
            <div id="paceTableCheckBoxDiv" class="paceDiv" ng-class="{disableDiv : isPageSizeFilterDisabled}"></div>
            <div class="dt-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="checkbox check-success large no-label-text">
                    <input type="checkbox" value="1" id="checkbox_action">
                    <label for="checkbox_action" ng-click="dataTableObj.selectAll($event)"></label>
                    <i class="fa fa-caret-down"></i>
                </div>
            </div>

            <ul class="dropdown-menu" role="menu">
                <li test-arg-check-box="{{enableCheckbox}}"><a href="javascript:void(0)" ng-click="dataTableObj.checkRowSelection(entRPSimMapping.changeRoamingProfileForSims)"   gs-has-permission="UPDATE_SIM_ROAMING_PROFILE">Change Roaming Profile for SIM(s)</a></li>
            </ul>
        </div>

        <!-- Search -->
        <gs-data-table-search table-obj="dataTableObj" search-val="entRPSimMapping.searchValue"></gs-data-table-search>
        <div class="clearfix visible-sm visible-xs"></div>

        <!-- Buttons -->
        <div class="btn-group m-b-5 defaultBtnGroup">
            <button class="btn btn-small btn-default" ng-click="entRPSimMapping.refreshSimsTable()" ><i class="fa fa-refresh"></i> Refresh</button>
        </div>

        <!-- Filter -->
        <div class="pull-right">

            <gs-data-table-filter table-obj="dataTableObj" filter="simVersion"  label="Sim Version" list="simVersionFilters"  enable-search="false"></gs-data-table-filter>

            <gs-data-table-filter table-obj="dataTableObj" filter="roamingProfile"  label="Roaming profiles" list="roamingProfileFilters"  enable-search="true" no-search-result-text="Your search doesn't match any existing roaming profiles."></gs-data-table-filter>

            <div class="w-smaller inline-block">
                <gs-data-table-filter table-obj="dataTableObj" filter="selectedDisplayLength"  label="Items per page" list="dataTableObj.displayLengthvalues" disable-select="isPageSizeFilterDisabled" enable-search="false"></gs-data-table-filter>
            </div>

            <div class="clearfix visible-xs"></div>
        </div>
        <div class="clearfix"></div>

    </div>
</div>
<div class="panel-body gs-data-table">
    <div id="paceTableBlockDiv" class="paceDiv"></div>
    <table id="{{dataTableObj.tableID}}" class="table table-striped" ng-class="{'no-leading-checkbox':!enableCheckbox}" width="100%" gs-generate-table-body>
        <thead>
        <tr>
            <th ng-repeat="header in dataTableObj.tableHeaders">{{header.value}}</th>
        </tr>
        </thead>
    </table>
</div>

<div ng-include="lazyLoadURL+'app/assets/sims/modal-zone-status.html' "></div>
<div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/roaming-profiles/sims/assign-roaming-profile/modal-assign-roaming-profile.html'"></div>