<div class="container-fluid container-fixed-lg m-t-25 sm-m-t-0">

    <div class="row portlet-alert-wrapper" ng-if="accountAlerts.showPortlet">
        <div class="col-md-12">
            <div gs-pg-portlet class="panel panel-default portlet-info" id="portlet-account-alerts">
                <div class="panel-heading">
                    <div class="panel-title bold"><i class="fa fa-info-circle p-r-5"></i> Account Actions</div>
                    <div class="panel-controls">
                        <ul>
                            <li><a href="" data-toggle="collapse" class="portlet-collapse"><i class="pg-arrow_maximize"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="m-b-0">{{accountAlerts.alertMessage}}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default mobile-tabs-top">
        <ul class="nav nav-tabs nav-tabs-simple nav-tabs-left nav-tabs-primary taller bg-white" role="tablist">
            <li ui-sref-active="active">
                <a data-toggle="tab" role="tab" data-target="#" ng-click="accountAlerts.setMessages($event)" ui-sref="app.alerts.account.enterpriseSpend">Enter&shy;prise <span class="sm-nxt-ln">Spend</span></a>
            </li>
            <li ui-sref-active="active">
                <a data-toggle="tab" role="tab" data-target="#" ng-click="accountAlerts.setMessages($event)" ui-sref="app.alerts.account.zoneSpend" >Zone <span class="sm-nxt-ln">Spend</span></a>
            </li>
            <li ui-sref-active="active">
                <a data-toggle="tab" role="tab" data-target="#" ng-click="accountAlerts.setMessages($event)" ui-sref="app.alerts.account.perSIMDefaults">Per SIM <span class="sm-nxt-ln">Defaults</span></a>
            </li>
            <li ui-sref-active="active">
                <a data-toggle="tab" role="tab" data-target="#" ng-click="accountAlerts.setMessages($event)" ui-sref="app.alerts.account.zonePerSIMDefaults">Per SIM by Zone <span class="sm-nxt-ln">Defaults</span></a>
            </li>
        </ul>
        <div class="tab-content bg-white alerts-tab-content">
            <ui-view></ui-view>
        </div>
    </div>
</div>