<!-- Add User -->
<form name="alertModalForm" class="modal fade slide-up disable-scroll" id="{{alertModal.modal.id}}" tabindex="-1" role="dialog" aria-hidden="false" ng-controller="AlertModalCtrl as alertModal" novalidate gs-form-validation>
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="alertModal.modalCancel()"><i class="pg-close fs-20"></i>
                    </button>
                    <h4 class="m-t-0">{{alertModal.modal.header}}</h4>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <div class="alert alert-danger" role="alert" ng-show="alertModal.errorMessage">{{alertModal.errorMessage}}</div>
                        <div class="alert alert-info" role="alert" ng-show="alertModal.alertMessage" ng-bind-html="alertModal.trustAsHtml(alertModal.alertMessage)">{{alertModal.alertMessage}}</div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="fg-wrap" ng-if="alertModal.showZones">
                                    <div gs-pg-form-group class="form-group form-group-default form-group-default-select required" ng-class="{disabled : alertModal.isEdit}">
                                        <label for="alertZone">Zone</label>
                                        <ui-select ng-model="alertModal.alert.zone" ng-disabled="alertModal.isEdit" theme="bootstrap" id="alertZone" skip-focusser="true" name="alertZone" required>
                                            <ui-select-match class="ui-select-match" placeholder="Select a zone">{{$select.selected.nickName || $select.selected.name}}</ui-select-match>
                                            <ui-select-choices class="ui-select-choices" repeat="item in alertModal.zones.list | filter: $select.search">
                                                <span ng-bind-html="alertModal.trustAsHtml((item.nickName || item.name | highlight: $select.search))"></span>
                                            </ui-select-choices>
                                            <ui-select-no-choice>
                                                Your search doesn't match any existing zone.
                                                <div ng-if="$select.items.length == 0"></div>
                                            </ui-select-no-choice>
                                        </ui-select>
                                    </div>
                                    <div class="fg-element-error"><span style="color: red" ng-show="alertModalForm.alertZone.errorStr">{{alertModalForm.alertZone.errorStr}}</span></div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12">
                                <div class="fg-wrap" ng-if="alertModal.showSpend">
                                    <div gs-pg-form-group class="form-group form-group-default required">
                                        <label for="input_alertAllocationInCost">Data Cost</label>
                                        <input id="input_alertAllocationInCost" type="text" class="autonumeric form-control" name="input_alertAllocationInCost" ng-model="alertModal.alert.allocation" angular-currency="alertModal.autoNumeric.spend" required variable-options="true" ng-pattern="alertModal.costPattern">
                                    </div>
                                    <div class="fg-element-error"><span style="color: red" ng-show="alertModalForm.input_alertAllocationInCost.errorStr"> {{ alertModalForm.input_alertAllocationInCost.errorStr }}</span></div>
                                </div>

                                <div class="fg-wrap" ng-if="!alertModal.showSpend">
                                    <div gs-pg-form-group class="form-group form-group-default required">
                                        <label for="input_alertAllocation">Data Usage in MB</label>
                                        <input id="input_alertAllocation" type="text" class="autonumeric form-control" name="input_alertAllocation" ng-model="alertModal.alert.allocation" angular-currency="alertModal.autoNumeric.dataUsage" required variable-options="true" ng-pattern="alertModal.spendPattern">
                                    </div>
                                    <div class="fg-element-error"><span style="color: red" ng-show="alertModalForm.input_alertAllocation.errorStr"> {{ alertModalForm.input_alertAllocation.errorStr }}</span></div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="fg-wrap">
                                    <div gs-pg-form-group class="form-group form-group-default form-group-default-select required">
                                        <label for="alertAction">Action Outcome</label>
                                        <ui-select ng-model="alertModal.alert.action" theme="bootstrap" id="alertAction" name="alertAction" skip-focusser="true" required ng-change="alertModal.actionOutcomeChanged()">
                                            <ui-select-match class="ui-select-match" placeholder="Select an action outcome">{{$select.selected}}</ui-select-match>
                                            <ui-select-choices class="ui-select-choices" repeat="item in alertModal.actions | filter: $select.search">
                                                <span ng-bind-html="alertModal.trustAsHtml((item | highlight: $select.search))"></span>
                                            </ui-select-choices>
                                            <ui-select-no-choice>
                                                Your search doesn't match any existing actions.
                                                <div ng-if="$select.items.length == 0"></div>
                                            </ui-select-no-choice>
                                        </ui-select>
                                    </div>
                                    <div class="fg-element-error"><span style="color: red" ng-show="alertModalForm.alertAction.errorStr">{{alertModalForm.alertAction.errorStr}}</span></div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                    <div class="row">
                        <div class="col-sm-12 m-t-10 sm-m-t-10 text-right">
                            <button type="button" class="btn btn-default m-t-5" data-dismiss="modal" ng-click="alertModal.modalCancel()">{{alertModal.modal.cancel}}</button>
                            <button type="button" class="btn btn-complete m-t-5" ng-click="alertModal.modalSubmit(alertModalForm)">{{alertModal.modal.submit}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
