<div id="quickview" class="quickview-wrapper" data-pages="quickview">

    <div class="alertview-header">
        <span class="font-montserrat">Alerts</span>
        <a class="btn-link quickview-toggle showCursor" data-toggle-element="#quickview" data-toggle="quickview"><i class="pg-close"></i></a>
    </div>
    <div class="alertSideBarLoading" style="display: none;">
        <div class="loading-activity"></div>
    </div>

    <a ng-click="loadState('app.alerts.transpired',{'alertType':'','alertId':'0'})">
        <div class="alertview-subheader showCursor">
            <span class="font-montserrat">View All Alerts</span>
        </div>
    </a>

    <div class="view-port clearfix">
        <div class="view list-view list-alerts" style="height: 80%;overflow-y: auto;">
            <!-- Account -->
            <div class="list-view-group-container" ng-if="topAccountAlerts.list.length">
                <div class="list-view-group-header text-uppercase">
                    Account
                </div>
                <ul>
                    <li class="alert-list" ng-repeat="alert in topAccountAlerts.list">
                        <a ng-click="loadState('app.alerts.transpired',{'alertId':alert.alertId+'','alertTypeIndex':1})" class="">
                            <p class="col-xs-height col-middle"><span ng-class="{'text-danger':alert.action =='DISABLE','text-complete':alert.action =='EMAIL'}" class="fs-10"><i class="fa fa-circle"></i></span></p>
                            <p class="p-l-10 col-xs-height col-middle col-xs-9 overflow-ellipsis fs-12">
                                {{alert.action == "DISABLE" ? 'Deactivate': alert.action == "EMAIL" ? 'Warning' : alert.action}} - {{alert.limitType === "COST"?currencyFormat:''}}{{alert.limitValue}} {{alert.limitType === "DATA"?' MB':''}}
                            </p>
                            <p class="p-r-10 col-xs-height col-middle fs-12 text-right date">
                                {{alert.occurredTime | gsDate:"MM/dd/yyyy 'at' h:mma"}}
                            </p>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="list-view-group-container" ng-if="topZoneAlerts.list.length">
                <div class="list-view-group-header text-uppercase">
                    Zones
                </div>
                <ul>
                    <li class="alert-list" ng-repeat="alert in topZoneAlerts.list">
                        <a ng-click="loadState('app.alerts.transpired',{'alertId':alert.alertId+'','alertTypeIndex':2})" class="">
                            <p class="col-xs-height col-middle"><span ng-class="{'text-danger':alert.action =='DISABLE','text-complete':alert.action =='EMAIL'}" class="fs-10"><i class="fa fa-circle"></i></span></p>
                            <p class="p-l-10 col-xs-height col-middle col-xs-9 overflow-ellipsis fs-12">
                                <span class="group-name">{{alert.zoneNickName || alert.zoneName}}</span>
                                <span class="alert-specs">{{alert.action == "DISABLE" ? 'Deactivate': alert.action == "EMAIL" ? 'Warning' : alert.action}} - {{alert.limitType === "COST"?currencyFormat:''}}{{alert.limitValue}} {{alert.limitType === "DATA"?' MB':''}}</span>
                            </p>
                            <p class="p-r-10 col-xs-height col-middle fs-12 text-right date">
                                {{alert.occurredTime | gsDate:"MM/dd/yyyy 'at' h:mma"}}
                            </p>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="list-view-group-container" ng-if="topSIMAlerts.list.length">
                <div class="list-view-group-header text-uppercase">
                    SIMs
                </div>
                <ul>
                    <li class="alert-list" ng-repeat="alert in topSIMAlerts.list">
                        <a ng-click="loadState('app.alerts.transpired',{'alertId':alert.alertId+'','alertTypeIndex':3})" class="">
                            <p class="col-xs-height col-middle"><span ng-class="{'text-danger':alert.action =='DISABLE','text-complete':alert.action =='EMAIL'}" class="fs-10"><i class="fa fa-circle"></i></span></p>
                            <p class="p-l-10 col-xs-height col-middle col-xs-9 overflow-ellipsis fs-12">
                                <span class="group-name">{{alert.cId}}</span>
                                <span class="alert-specs">{{alert.action == "DISABLE" ? 'Deactivate': alert.action == "EMAIL" ? 'Warning' : alert.action}} - {{alert.limitType === "COST"?currencyFormat:''}}{{alert.limitValue}} {{alert.limitType === "DATA"?' MB':''}}</span>
                            </p>
                            <p class="p-r-10 col-xs-height col-middle fs-12 text-right date">
                                {{alert.occurredTime | gsDate:"MM/dd/yyyy 'at' h:mma"}}
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
