<!-- Tabs Container -->
<div class="container-fluid container-fixed-lg m-t-25 sm-m-t-0">
    <div class="panel panel-default mobile-tabs-top">
        <ul class="nav nav-tabs nav-tabs-simple nav-tabs-left nav-tabs-primary bg-white" role="tablist">
            <li ui-sref-active="active">
                <a data-toggle="tab" role="tab" data-target="#" ui-sref="support.accounts.companies">Enterprises</a>
            </li>
        </ul>
        <div class="tab-content bg-white alerts-tab-content">
            <ui-view></ui-view>
        </div>
    </div>
</div>
<!-- / Tabs Container -->