<!-- Add Group -->
<form name="addEnterpriseForm" class="modal fade slide-up disable-scroll" id="{{addEnterprise.modal.id}}" tabindex="-1" role="dialog" aria-hidden="false"   ng-controller="AddEnterpriseCtrl as addEnterprise" novalidate gs-form-validation >
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="addEnterprise.modalCancel()"><i class="pg-close fs-20"></i>
                    </button>
                    <h4 class="m-t-0">{{addEnterprise.modal.header}}</h4>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <div class="alert alert-danger m-b-10" role="alert" ng-show="addEnterprise.errorMessage">{{addEnterprise.errorMessage}}</div>
                        <div class="modal-subHeader">
                            ACCOUNT INFO
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="fg-wrap">
                                    <div gs-pg-form-group class="form-group form-group-default required">
                                        <label for="accountName" ng-class="{fade : addEnterprise.enterprise.accountName}">Account Name</label>
                                        <div class="controls">
                                            <input type="text" id="accountName" name="accountName" class="form-control" maxlength="45" ng-model="addEnterprise.enterprise.accountName" required>
                                        </div>
                                    </div>
                                    <div class="fg-element-error"><span ng-show="addEnterpriseForm.accountName.errorStr"> {{ addEnterpriseForm.accountName.errorStr }}</span></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="fg-wrap">
                                    <div gs-pg-form-group class="form-group form-group-default required">
                                        <label for="companyName" ng-class="{fade : addEnterprise.enterprise.companyName}">Company Name</label>
                                        <div class="controls">
                                            <input type="text" id="companyName" name="companyName" class="form-control" maxlength="45" ng-model="addEnterprise.enterprise.companyName" required>
                                        </div>
                                    </div>
                                    <div class="fg-element-error"><span ng-show="addEnterpriseForm.companyName.errorStr"> {{ addEnterpriseForm.companyName.errorStr }}</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="fg-wrap">
                            <div gs-pg-form-group class="form-group form-group-default required">
                                <label for="address1" ng-class="{fade : addEnterprise.enterprise.address1}">Address 1</label>
                                <div class="controls">
                                    <input type="text" id="address1" name="address1" class="form-control" ng-model="addEnterprise.enterprise.address1" required>
                                </div>
                            </div>
                            <div class="fg-element-error"><span ng-show="addEnterpriseForm.address1.errorStr"> {{ addEnterpriseForm.address1.errorStr }}</span></div>
                        </div>
                        <div class="fg-wrap">
                            <div gs-pg-form-group class="form-group form-group-default">
                                <label for="address2" ng-class="{fade : addEnterprise.enterprise.address2}">Address 2</label>
                                <div class="controls">
                                    <input type="text" id="address2" name="address2" class="form-control" ng-model="addEnterprise.enterprise.address2">
                                </div>
                            </div>
                            <div class="fg-element-error"><span ng-show="addEnterpriseForm.address2.errorStr">Address invalid</span></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="fg-wrap">
                                    <div gs-pg-form-group class="form-group form-group-default required">
                                        <label for="city" ng-class="{fade : addEnterprise.enterprise.city}">City</label>
                                        <div class="controls">
                                            <input type="text" id="city" name="city" class="form-control" ng-model="addEnterprise.enterprise.city" maxlength="45" required>
                                        </div>
                                    </div>
                                    <div class="fg-element-error"><span ng-show="addEnterpriseForm.city.errorStr"> {{ addEnterpriseForm.city.errorStr }}</span></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="fg-wrap">
                                    <div gs-pg-form-group class="form-group form-group-default required">
                                        <label for="state" ng-class="{fade : addEnterprise.enterprise.state}">Province/State</label>
                                        <div class="controls">
                                            <input type="text" id="state" name="state" class="form-control" ng-model="addEnterprise.enterprise.state" maxlength="45" required>
                                        </div>
                                    </div>
                                    <div class="fg-element-error"><span ng-show="addEnterpriseForm.state.errorStr"> {{ addEnterpriseForm.state.errorStr }}</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="fg-wrap">
                                    <div gs-pg-form-group class="form-group form-group-default form-group-default-select required">
                                        <label for="country" ng-class="{fade : addEnterprise.enterprise.country}">Country</label>
                                        <ui-select ng-model="addEnterprise.enterprise.country" id="country" name="country" theme="bootstrap" skip-focusser="true"  required>
                                            <ui-select-match
                                                    placeholder="Select or search for a country">
                                                {{$select.selected.name}}
                                            </ui-select-match>
                                            <ui-select-choices
                                                    group-by="'region'"
                                                    repeat="item in addEnterprise.countries | filter: $select.search">

                                                <span ng-bind-html="addEnterprise.trustAsHtml((item.name | highlight: $select.search))"></span>
                                            </ui-select-choices>
                                            <ui-select-no-choice>
                                                Your search doesn't match any existing countries.
                                            </ui-select-no-choice>
                                        </ui-select>
                                    </div>
                                    <div class="fg-element-error"><span ng-show="addEnterpriseForm.country.errorStr"> {{ addEnterpriseForm.country.errorStr }}</span></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="fg-wrap">
                                    <div gs-pg-form-group class="form-group form-group-default required">
                                        <label for="postalCode" ng-class="{fade : addEnterprise.enterprise.postalCode}">Postal Code</label>
                                        <div class="controls">
                                            <input type="text" id="postalCode" name="postalCode" class="form-control" ng-model="addEnterprise.enterprise.postalCode" maxlength="45" required>
                                        </div>
                                    </div>
                                    <div class="fg-element-error"><span ng-show="addEnterpriseForm.postalCode.errorStr"> {{ addEnterpriseForm.postalCode.errorStr }}</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-subHeader">
                            ACCOUNT SETTINGS
                        </div>
                        <div class="row">
                            <!-- Account Subscription type --->
                            <div class="col-sm-6">
                                <div class="fg-wrap">
                                    <div gs-pg-form-group class="form-group form-group-default form-group-default-select required">
                                        <label for="subscriptionType" ng-class="{fade : addEnterprise.enterprise.accountSubscriptionType}">{{addEnterprise.subsTypeLabel}}</label>
                                        <ui-select ng-disabled="isResellerAccount" ng-model="addEnterprise.enterprise.accountSubscriptionType"  id="subscriptionType" name="subscriptionType" search-enabled="false" skip-focusser="true" theme="bootstrap" required>
                                            <ui-select-match
                                                    placeholder="Select a subscription type">
                                                {{$select.selected }}
                                            </ui-select-match>
                                            <ui-select-choices
                                                    repeat="item in addEnterprise.subscriptionTypes | filter: $select.search">

                                                <span ng-bind-html="addEnterprise.trustAsHtml((item | highlight: $select.search))"></span>
                                            </ui-select-choices>
                                            <ui-select-no-choice>
                                                Your search doesn't match any predefined subscription types.
                                            </ui-select-no-choice>
                                        </ui-select>
                                    </div>
                                    <div class="fg-element-error"><span ng-show="addEnterpriseForm.subscriptionType.errorStr"> {{ addEnterpriseForm.subscriptionType.errorStr }}</span></div>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="fg-wrap">
                                    <div gs-pg-form-group class="form-group form-group-default form-group-default-select required">
                                        <label for="currency" ng-class="{fade : addEnterprise.enterprise.currency}">Currency</label>
                                        <ui-select ng-disabled="isResellerAccount" ng-model="addEnterprise.enterprise.currency"  id="currency" name="currency" skip-focusser="true" theme="bootstrap" required>
                                            <ui-select-match
                                                    placeholder="Select or search a currency">
                                                {{addEnterprise.enterprise.currency.code }}
                                            </ui-select-match>
                                            <ui-select-choices
                                                    repeat="item in addEnterprise.supportedCurrencies | filter: $select.search">

                                                <span ng-bind-html="addEnterprise.trustAsHtml((item.code | highlight: $select.search))"></span>
                                            </ui-select-choices>
                                            <ui-select-no-choice>
                                                Your search doesn't match any predefined currency.
                                            </ui-select-no-choice>
                                        </ui-select>
                                    </div>
                                    <div class="fg-element-error"><span ng-show="addEnterpriseForm.currency.errorStr"> {{ addEnterpriseForm.currency.errorStr }}</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="fg-wrap">
                                <div gs-pg-form-group class="form-group form-group-default form-group-default-select required">
                                    <label for="timezone" ng-class="{fade : addEnterprise.enterprise.timezone}">Timezone</label>
                                    <ui-select ng-disabled="isResellerAccount" ng-model="addEnterprise.enterprise.timezoneDesc"  id="timezone" name="timezone" skip-focusser="true" theme="bootstrap" required>
                                        <ui-select-match
                                                placeholder="Select or search a timezone">
                                            {{addEnterprise.enterprise.timezoneDesc.description }}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="item in addEnterprise.timeZones | filter: $select.search">

                                            <span ng-bind-html="addEnterprise.trustAsHtml((item.description | highlight: $select.search))"></span>
                                        </ui-select-choices>
                                        <ui-select-no-choice>
                                            Your search doesn't match any predefined timezones.
                                        </ui-select-no-choice>
                                    </ui-select>
                                </div>
                                <div class="fg-element-error"><span ng-show="addEnterpriseForm.timezone.errorStr"> {{ addEnterpriseForm.timezone.errorStr }}</span></div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <div class="col-sm-12 m-t-10 sm-m-t-10 text-right">
                            <button type="button" class="btn btn-default m-t-5" ng-click="addEnterprise.modalCancel()" data-dismiss="modal">{{addEnterprise.modal.cancel}}</button>
                            <button type="button" class="btn btn-complete m-t-5" ng-click="addEnterprise.modalSubmit(addEnterpriseForm)">{{addEnterprise.modal.submit}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- /Add Group -->
