.fg-wrap .fg-element-error {
  font-size: 14px;
}

div.paceDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1999;
  background-color: #fafafa !important;
  opacity: 0.5;
}

.noDataMessageGeneral{
  font: 300 13px "Segoe UI", Arial, sans-serif;
  color: #2b6a94 !important;
  opacity: .6;
  text-align: center;
}

.showCursor{
  cursor: pointer;
}

#datatable-controls #search-table input ,
#overridetable .datatable-controls #search-table input {
  width: ~"calc(100% - 104px)" !important;
  margin-left: 5px;
  display: inline-block;

  @media only screen and ( max-width:767px ){
    width: ~"calc(100% - 104px)" !important;
  }

  @media only screen and ( max-width:420px ){

    width: ~"calc(100% - 104px)" !important;
  }

}

.container-fluid.container-fixed-lg.max-width-800{
  max-width:800px;
  margin-left:0;
}

@media only screen and (max-width:767px) {
  .margin-sm.no-margin{
    margin-bottom:10px !important;
  }
}

.cs-select.graph-options{
  height:28px;
}

#historicalGraph{
  overflow: auto !important;
  display:block;
}
#historicalGraph svg{
  min-width: 862px;
}