.theme-border{
  border: 1px solid rgba(0,0,0,.07);
}

/* Status for use in data tables */
.status(@main, @sub){
  &:before{
    background-color: @main;
    border-color: @sub;
  }

  + .status-text{
    color: @sub;
  }
}