/*
	variables.less

-------------------------------------------------------------------*/

@import "../../pages/less/themes/gigsky/var";

@activeTransitionL: left .1s ease-in-out ~"!important";
@activeTransitionR: right .1s ease-in-out ~"!important";

@centuryGothic: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
@centuryGothicBold: 'Century Gothic Bold', CenturyGothic, AppleGothic, sans-serif;

@MQ-XL: ~"only screen and (max-width: 1199px)";
@MQ-L: ~"only screen and (max-width: 991px)";
@MQ-M: ~"only screen and (max-width: 767px)";
@MQ-S: ~"only screen and (max-width: 480px)";

@MQ-XL-UP: ~"only screen and (min-width: 1200px)";
@MQ-L-UP: ~"only screen and (min-width: 992px)";
@MQ-M-UP: ~"only screen and (min-width: 768px)";
@MQ-S-UP: ~"only screen and (min-width: 481px)";