<div class="container-fluid container-fixed-lg m-t-25 sm-m-t-0">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-with-export">
                <div class="panel-heading m-b-5">
                    <div class="panel-heading text-center">
                        <div class="panel-title ">{{roamingProfileSetDetail.roamingProfileSetName}}
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="sbs-lv-table full-width">
                            <div class="lv-row">
                                <div class="l-cell">Profile Type</div>
                                <div class="v-cell ng-binding">{{roamingProfileSetDetail.profileType | underscoreless}}</div>
                            </div>
                            <div class="lv-row">
                                <div class="l-cell">IMSI Profiles</div>
                                <div class="v-cell ng-binding">{{roamingProfileSetDetail.imsiProfiles}}</div>
                            </div>
                            <div class="lv-row">
                                <div class="l-cell">Description</div>
                                <div class="v-cell ng-binding">{{roamingProfileSetDetail.description}}</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default panel-with-export">
                        <div class="panel-heading m-b-5">
                            <div class="panel-title p-t-10">
                                Roaming Profile Revisions
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="tab-pane slide-left active">
                                <div class="panel panel-transparent">
                                    <div class="panel-heading m-b-5">
                                        <div id="datatable-controls" gs-datatable-controls>
                                            <div class="btn-group inline-block m-b-5" gs-has-permission="CREATE_ROAMING_PROFILE">
                                                <button type="submit" class="btn btn-complete m-r-10 pull-left" ng-click="showCreateRoamingProfileSetModal()">Create new version</button>
                                            </div>
                                            <div class="clearfix visible-xs"></div>

                                            <div class="w-smaller pull-right">
                                                <gs-data-table-filter table-obj="dataTableObj" filter="selectedDisplayLength"  label="Items per page" list="dataTableObj.displayLengthvalues" disable-select="isPageSizeFilterDisabled" enable-search="false"></gs-data-table-filter>
                                            </div>
                                            <div class="clearfix visible-xs"></div>
                                        </div>
                                    </div>
                                    <div class="panel-body gs-data-table">
                                        <div id="paceTableBlockDiv" class="paceDiv"></div>
                                        <table id="{{dataTableObj.tableID}}" class="table table-striped no-leading-checkbox" width="100%" gs-generate-table-body>
                                            <thead>
                                            <tr>
                                                <th ng-repeat="header in dataTableObj.tableHeaders">{{header.value}}</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <div ng-include="lazyLoadURL+'app/assets/support/roaming-profile/version/create-roaming-profile-version.html'"></div>
    <div ng-include="lazyLoadURL+'app/assets/support/roaming-profile/enterprises-modal.html'"></div>
</div>