<div class="alerts-customize-wrapper m-b-25">
    <div class="row">
        <div class="col-md-4 col-sm-5 col-xs-6">
            <div class="acw-group-info">
                <span class="icon-thumbnail bg-master-light pull-left text-master"><i class="fa fa-group"></i></span>
                <div>
                    <p class="hint-text all-caps font-montserrat small no-margin overflow-ellipsis ">Group</p>
                    <h5 class="no-margin overflow-ellipsis ">{{accountName}}</h5>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="acw-alert-info">
                <span class="icon-thumbnail bg-master-light pull-left text-master" ng-class="{customizedSpan : alertCustomized}"><i class="fa fa-bell"></i></span>

                <div>
                    <p class="hint-text all-caps font-montserrat small no-margin overflow-ellipsis ">Action Type</p>
                    <h5 class="no-margin overflow-ellipsis" ng-class="{customizedHeader : alertCustomized}">{{alertCustomized ? 'Customized' : 'Default'}}</h5>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-4 col-sm-3 col-xs-12 hideInReadOnlyMode" ng-if="groupDefaultPerSIMAlertsList.length" gs-has-permission="ADD_ALERT,DELETE_ALERT">
            <div class="acw-type-info">
                <div class="info-question-circle inline-block" data-toggle="tooltip"
                     data-original-title="{{alertCustomized ? 'This reverts all SIMs in the chosen Group to default action configuration. (If defaults not set, all action settings will be removed.)' : 'This allows you to change actions for the chosen group only.'}}"
                     gs-tooltip>
                    <i class="fa fa-question-circle"></i>
                </div>
                <button class="btn btn-complete inline-block" ng-class="alertCustomized ? 'customizedBtn' : 'defaultActionBtn'"
                        ng-click="alertCustomized ? groupDefaultPerSIMAlerts.confirmAlertRevert(groupDefaultPerSIMAlertsList,true) : groupDefaultPerSIMAlerts.confirmAlertCustomize(true)">
                    {{alertCustomized ? 'Revert to Default' : 'Customize'}}
                </button>
            </div>
        </div>
    </div>
</div>


<div id="datatable-controls" gs-datatable-controls>
    <div id="dt-action-dd" class="dropdown hideInReadOnlyMode" data-toggle="tooltip" title="Bulk Actions" gs-tooltip gs-has-permission="EDIT_ALERT,DELETE_ALERT">
        <div id="paceTableCheckBoxDiv" class="paceDiv" ng-class="{disableDiv : (groupDefaultPerSIMAlertsList.length == 0)}"></div>
        <div class="dt-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="checkbox check-success large no-label-text">
                <input type="checkbox" value="1" id="checkbox_action">
                <label for="checkbox_action" ng-click="dataTableObj.selectAll($event)"></label>
                <i class="fa fa-caret-down"></i>
            </div>
        </div>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" ng-click="alertCustomized ? dataTableObj.checkRowSelection(groupDefaultPerSIMAlerts.confirmAlertsEnable) : groupDefaultPerSIMAlerts.displayNotCustomizedError()" gs-has-permission="EDIT_ALERT">Enable Action(s)</a></li>
            <li><a href="javascript:void(0)" ng-click="alertCustomized ? dataTableObj.checkRowSelection(groupDefaultPerSIMAlerts.confirmAlertsDisable) : groupDefaultPerSIMAlerts.displayNotCustomizedError()" gs-has-permission="EDIT_ALERT">Disable Action(s)</a></li>
            <li><a href="javascript:void(0)" ng-click="alertCustomized ? dataTableObj.checkRowSelection(groupDefaultPerSIMAlerts.confirmAlertsDeletion) : groupDefaultPerSIMAlerts.displayNotCustomizedError()" gs-has-permission="DELETE_ALERT">Delete Action(s)</a></li>
        </ul>
    </div>


    <div class="controls-button-wrapper no-search">
        <button class="btn btn-default hideInReadOnlyMode" gs-has-permission="ADD_ALERT" ng-click="(alertCustomized || groupDefaultPerSIMAlertsList.length==0) ? groupDefaultPerSIMAlerts.showAlertModal({alertType: 'DEFAULT_PER_SIM_PER_ACCOUNT',isNew: true,isGroupAlert: true}) : groupDefaultPerSIMAlerts.displayNotCustomizedError()">Add Action</button>
    </div>

    <div class="clearfix visible-xs"></div>

</div>

<div class="gs-data-table m-t-10">
    <table id="{{dataTableObj.tableID}}" class="table table-striped" ng-class="{customizedAction : alertCustomized}" width="100%" gs-generate-table-body>
        <thead>
        <tr>
            <th ng-repeat="header in dataTableObj.tableHeaders" ng-class="{Allocation:'tdth-usage data-unit'}[header.value]">{{header.value}}</th>
        </tr>
        </thead>
    </table>
</div>

<div ng-include="lazyLoadURL+'app/assets/alerts/alert-modal.html'"></div>