
<div id="datatable-controls" gs-datatable-controls>
    <div id="dt-action-dd" class="dropdown hideInReadOnlyMode" data-toggle="tooltip" title="Bulk Actions" gs-tooltip gs-has-permission="EDIT_ALERT,DELETE_ALERT">
        <div id="paceTableCheckBoxDiv" class="paceDiv" ng-class="{disableDiv : (defaultPerSIMAlertsList.length == 0)}"></div>
        <div class="dt-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="checkbox check-success large no-label-text">
                <input type="checkbox" value="1" id="checkbox_action">
                <label for="checkbox_action" ng-click="dataTableObj.selectAll($event)"></label>
                <i class="fa fa-caret-down"></i>
            </div>
        </div>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" ng-click="dataTableObj.checkRowSelection(defaultPerSIMAlerts.confirmAlertsEnable);" gs-has-permission="EDIT_ALERT">Enable Action(s)</a></li>
            <li><a href="javascript:void(0)" ng-click="dataTableObj.checkRowSelection(defaultPerSIMAlerts.confirmAlertsDisable);" gs-has-permission="EDIT_ALERT">Disable Action(s)</a></li>
            <li><a href="javascript:void(0)" ng-click="dataTableObj.checkRowSelection(defaultPerSIMAlerts.confirmAlertsDeletion);" gs-has-permission="DELETE_ALERT">Delete Action(s)</a></li>
        </ul>
    </div>

    <div class="controls-button-wrapper no-search">
        <button class="btn btn-default hideInReadOnlyMode" gs-has-permission="ADD_ALERT" ng-click="defaultPerSIMAlerts.showAlertModal({alertType: 'DEFAULT_PER_SIM_PER_ACCOUNT',isNew: true})">Add Action</button>
    </div>

    <div class="clearfix visible-xs"></div>


</div>

<div class="gs-data-table m-t-10">
    <table id="{{dataTableObj.tableID}}" class="table table-striped" width="100%" gs-generate-table-body>
        <thead>
        <tr>
            <th ng-repeat="header in dataTableObj.tableHeaders" ng-class="{Allocation:'tdth-usage data-unit'}[header.value]">{{header.value}}</th>
        </tr>
        </thead>
    </table>
</div>

<div ng-include="lazyLoadURL+'app/assets/alerts/alert-modal.html'"></div>