<!-- Add User -->
<form name="createRoamingProfileSetModalForm" class="modal fade slide-up disable-scroll" id="{{createRoamingProfileSetModal.modal.id}}" tabindex="-1" role="dialog" aria-hidden="false" ng-controller="CreateRoamingProfileSetModal as createRoamingProfileSetModal" novalidate gs-form-validation>
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="createRoamingProfileSetModal.modalCancel()"><i class="pg-close fs-20"></i>
                    </button>
                    <h4 class="m-t-0">{{createRoamingProfileSetModal.modal.header}}</h4>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <div class="alert alert-danger" role="alert" ng-show="createRoamingProfileSetModal.errorMessage">{{createRoamingProfileSetModal.errorMessage}}</div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="fg-wrap" >
                                    <div gs-pg-form-group class="form-group form-group-default required">
                                        <label for="input_roamingProfileSetName">Name</label>
                                        <input id="input_roamingProfileSetName" type="text" class="form-control" name="input_roamingProfileSetName" ng-model="createRoamingProfileSetModal.roamingProfileSet.roamingProfileSetName" required>
                                    </div>
                                    <div class="fg-element-error"><span style="color: red" ng-show="createRoamingProfileSetModalForm.input_roamingProfileSetName.errorStr"> {{ createRoamingProfileSetModalForm.input_roamingProfileSetName.errorStr }}</span></div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="fg-wrap" >
                                    <div gs-pg-form-group class="form-group form-group-default form-group-default-select required">
                                        <label for="profileType">Profile Type</label>
                                        <ui-select ng-model="createRoamingProfileSetModal.profileType" theme="bootstrap" id="profileType" skip-focusser="false" name="profileType" required>
                                            <ui-select-match class="ui-select-match" placeholder="Select a Profile Type">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices class="ui-select-choices" repeat="item in createRoamingProfileSetModal.profileTypes | filter: $select.search">
                                                <span ng-bind-html="createRoamingProfileSetModal.trustAsHtml((item.name | highlight: $select.search))"></span>
                                            </ui-select-choices>
                                            <ui-select-no-choice>
                                                Your search doesn't match any existing profile type.
                                                <div ng-if="$select.items.length == 0"></div>
                                            </ui-select-no-choice>
                                        </ui-select>
                                    </div>
                                    <div class="fg-element-error"><span style="color: red" ng-show="createRoamingProfileSetModalForm.profileType.errorStr">{{createRoamingProfileSetModalForm.profileType.errorStr}}</span></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="fg-wrap" >
                                    <div gs-pg-form-group class="form-group form-group-default required">
                                        <label for="input_roamingProfileSetDesc">Description</label>
                                        <textarea id="input_roamingProfileSetDesc" style="width:100%;border:0;" name="input_roamingProfileSetDesc" ng-model="createRoamingProfileSetModal.roamingProfileSet.description" required></textarea>
                                    </div>
                                    <div class="fg-element-error"><span style="color: red" ng-show="createRoamingProfileSetModalForm.input_roamingProfileSetDesc.errorStr"> {{ createRoamingProfileSetModalForm.input_roamingProfileSetDesc.errorStr }}</span></div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="fg-wrap" >
                                    <div gs-pg-form-group class="form-group required">
                                            <label>IMSI Profiles <span class="form-group-defaultrequired">*</span></label>
                                            <div class="fg-wrap">
                                                <div class="checkbox check-success row">
                                                    <div ng-repeat="provider in createRoamingProfileSetModal.IMSIProfiles" class="col-sm-3">
                                                    <input type="checkbox" value="{{provider.name}}" name="{{provider.name}}" id="{{provider.name}}" ng-model="provider.selected">
                                                    <label for="{{provider.name}}">{{provider.name}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fg-element-error"><span style="color: red" ng-show="IMSIProfilesErrorMessage"> {{ IMSIProfilesErrorMessage }}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                    <div class="row">
                        <div class="col-sm-12 m-t-10 sm-m-t-10 text-right">
                            <button type="button" class="btn btn-default m-t-5" data-dismiss="modal" ng-click="createRoamingProfileSetModal.modalCancel()">{{createRoamingProfileSetModal.modal.cancel}}</button>
                            <button type="button" class="btn btn-complete m-t-5" ng-click="createRoamingProfileSetModal.modalSubmit(createRoamingProfileSetModalForm)">{{createRoamingProfileSetModal.modal.submit}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
