<div id="datatable-controls" gs-datatable-controls>
    <div class="w-smaller pull-right">
        <gs-data-table-filter table-obj="dataTableObj" filter="selectedDisplayLength"  label="Items per page" list="dataTableObj.displayLengthvalues" disable-select="isPageSizeFilterDisabled" enable-search="false"></gs-data-table-filter>
    </div>
    <div class="clearfix"></div>
</div>
<div class="panel-body gs-data-table">
    <div id="paceTableBlockDiv" class="paceDiv"></div>
    <table id="{{dataTableObj.tableID}}" class="table table-striped no-leading-checkbox" width="100%" gs-generate-table-body>
        <thead>
        <tr>
            <th ng-repeat="header in dataTableObj.tableHeaders"
                ng-class="{'Usage':'tdth-usage data-unit'}[header.value]">{{header.value}}
            </th>
        </tr>
        </thead>

    </table>
</div>
