<!-- Tabs Container -->
<div class="container-fluid container-fixed-lg m-t-25 sm-m-t-0">
    <div class="panel panel-default mobile-tabs-top">
        <ul ng-if="!shortInfoScreen" class="nav nav-tabs nav-tabs-simple nav-tabs-left nav-tabs-primary bg-white mobile-seventh" role="tablist">
            <li ui-sref-active="active">
                <a data-toggle="tab" role="tab" data-target="#" ui-sref="support.enterprise.info">Info</a>
            </li>
            <li ui-sref-active="active" gs-has-permission="GET_ROAMING_PROFILE_SET">
                <a data-toggle="tab" role="tab" data-target="#" ui-sref="support.enterprise.roamingProfiles">Roaming profiles</a>
            </li>
            <li ui-sref-active="active" gs-has-permission="PROFILE_READ">
                <a data-toggle="tab" role="tab" data-target="#" ui-sref="support.enterprise.profiles">Profiles</a>
            </li>
            <li ui-sref-active="active" gs-has-permission="SIM_READ">
                <a data-toggle="tab" role="tab" data-target="#" ui-sref="support.enterprise.simCards.physicalSims">SIM Cards</a>
            </li>
            <li ui-sref-active="active" gs-has-permission="READ_ZONES">
                <a data-toggle="tab" role="tab" data-target="#" ui-sref="support.enterprise.pricing">Pri&shy;cing</a>
            </li>
            <li ui-sref-active="active" gs-has-permission="GET_ROLES">
                <a data-toggle="tab" role="tab" data-target="#" ui-sref="support.enterprise.users">User <span class="sm-nxt-ln">Manage&shy;ment</span></a>
            </li>

            <li ui-sref-active="active" gs-has-permission="READ_INVOICE">
                <a data-toggle="tab" role="tab" data-target="#" ui-sref="support.enterprise.reports.invoices">Reports</a>
            </li>

            <li ui-sref-active="active" gs-has-permission="ACCOUNT_DOCUMENT_READ">
                <a data-toggle="tab" role="tab" data-target="#" ui-sref="support.enterprise.documents">Docu&shy;ments</a>
            </li>
            <li ui-sref-active="active" gs-has-permission="ACCOUNT_DOCUMENT_READ">
                <a data-toggle="tab" role="tab" data-target="#" ui-sref="support.enterprise.customerContacts">Cust&shy;omer <span class="sm-nxt-ln">Contacts</span></a>
            </li>
        </ul>
        <ul ng-if="shortInfoScreen" class="nav nav-tabs nav-tabs-simple nav-tabs-left nav-tabs-primary bg-white mobile-seventh" role="tablist">
            <li ui-sref-active="active">
                <a data-toggle="tab" role="tab" data-target="#">Info</a>
            </li>
        </ul>
        <div class="tab-content bg-white alerts-tab-content">
            <ui-view></ui-view>
        </div>
    </div>
</div>
<!-- / Tabs Container -->
