<!-- Bulk Upload -->
<div class="modal fade slide-up disable-scroll" id="{{bulkUploadUsers.modal.id}}" tabindex="-1" role="dialog" aria-hidden="false" ng-controller="BulkUploadUserCtrl as bulkUploadUsers" novalidate>
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="bulkUploadUsers.modalCancel()"><i class="pg-close fs-20"></i></button>
                    <h4 class="m-t-0">Bulk Upload</h4>
                </div>
                <div class="modal-body">
                    <div class="alert {{bulkUploadUsers.alertClass}}" role="alert" ng-show="bulkUploadUsers.isError">{{bulkUploadUsers.errorMessage}}</div>
                   <form name="{{bulkUploadUsers.modal.formName}}" action="#" class="dropzone modal-body" method="post"  enctype="multipart/form-data" ng-dropzone dropzone="bulkUploadUsers.dropzone" dropzone-config="dropzoneConfig" modal-id="bulkUploadUsers.modal.id" refresh-datatable="bulkUploadUsers.refreshDatatable"></form>

                    <div class="row">
                        <div class="col-sm-12 m-t-10 sm-m-t-10 text-right">
                            <button type="button" id="cancelUpload" class="btn btn-danger m-t-5" ng-click="bulkUploadUsers.cancelUpload()" disabled>Cancel upload</button>
                            <button type="button" id="clearDropzone" class="btn btn-default m-t-5" ng-click="bulkUploadUsers.modalCancel()" disabled>{{bulkUploadUsers.modal.cancel}}</button>
                            <button type="button" id="uploadFiles" class="btn btn-complete m-t-5" ng-click="bulkUploadUsers.modalSubmit()" disabled>{{bulkUploadUsers.modal.submit}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Bulk Upload -->