<div  class="modal fade slide-up disable-scroll" id="{{simListModal.modal.id}}" tabindex="-1" role="dialog"
      aria-hidden="false" >
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-20"></i>
                    </button>
                    <h4 class="m-t-0">SIM List</h4>
                </div>
                <div class="modal-body gs-data-table">
                    <div class="zoneStatusModal">
                        <div class="gs-mock-table">
                            <div class="mt-header">
                                <div>CID</div>
                                <div>Type</div>
                                <div>Nickname</div>
                            </div>
                            <div class="mt-row" ng-repeat="sim in simListModal.sims">
                                <div ng-if = "simCDRReadAllowed"><a ng-click="navigateToSimDetails(sim.simId)">{{sim.cId}}</a></div>
                                <div ng-if = "!simCDRReadAllowed">{{sim.cId}}</div>
                                <div>{{sim.displyableDeviceType}}</div>
                                <div>{{sim.nickName}}</div>
                            </div>
                        </div>
                        <div ng-if="simListModal.sims.length == 0" class="no-data">There is no data to display.</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 m-t-10 sm-m-t-10 text-right">
                            <button type="button" class="btn btn-complete m-t-5" data-dismiss="modal">{{simListModal.modal.submit}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

