<div class="tab-pane slide-left active">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading m-b-5">
                <div id="datatable-controls" gs-datatable-controls>

                    <!--search-->
                    <gs-data-table-search search-val="profiles.searchValue" table-obj="dataTableObj"></gs-data-table-search>

                    <!-- Buttons -->
                    <div class="btn-group inline-block m-b-5" >
                        <button class="btn btn-small btn-default" gs-has-permission="PROFILE_READ"
                                ng-class="{disabledComponent : isDisableComponent()}"
                                ng-click="exportModal(true,profiles.exportData);" ng-disabled="isDisableComponent()"
                                ng-show="!isGemLite">Export
                        </button>
                    </div>

                    <div class="clearfix visible-xs"></div>
                    <div class="w-smaller pull-right">
                        <gs-data-table-filter table-obj="dataTableObj" filter="selectedDisplayLength"  label="Items per page" list="dataTableObj.displayLengthvalues" disable-select="isPageSizeFilterDisabled" enable-search="false"></gs-data-table-filter>
                    </div>
                    <div class="clearfix visible-xs"></div>
                </div>
            </div>
            <div class="panel-body gs-data-table">
                <div id="paceTableBlockDiv" class="paceDiv"></div>
                <table id="{{dataTableObj.tableID}}" class="table table-striped" ng-class="{'no-leading-checkbox':!enableCheckbox}" width="100%" gs-generate-table-body>
                    <thead>
                    <tr>
                        <th ng-repeat="header in dataTableObj.tableHeaders">
                            {{header.value}}
                        </th>
                    </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</div>

<!-- Export Modal -->
<div ng-include="lazyLoadURL+'app/assets/common/tpl/modal-export.html'" ng-controller="ExportCtrl as exportModal"></div>
<!-- / Export Modal -->
