<div id="installed-profiles">
    <div class="sim-details-wrapper bg-white">
        <div class="like-panel-title" style="color: #333;">
            <span class="pull-left">Profile List</span>
        </div>
        <div class="panel-body gs-data-table auto-overflow">
            <table id="euiccProfileTable" class="table table-striped no-leading-checkbox" style="border-top: 0;">
                <thead>
                <tr>
                    <th>ICCID</th>
                    <th>PROFILE TYPE</th>
                    <th>DEPLOYMENT STATUS</th>
                    <th>BOOTSTRAP STATUS</th>
                    <th ng-if="isSupport && !isNavigatedThroughAdmin">OPERATION</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="profile in profileListVM.installedProfiles">
                    <td ng-if="isSupport && !isNavigatedThroughAdmin"><a class="cursor" ng-click="navigateToProfileDetails(profile.iccid)">{{profile.iccid}}</a></td>
                    <td ng-if="!isSupport || (isSupport && isNavigatedThroughAdmin)">{{profile.iccid}}</td>
                    <td>{{profile.displayableProfileType}}</td>
                    <td>{{profile.displayableDeploymentStatus}}</td>
                    <td>{{profile.bootstrapStatus ? 'Yes' : 'No'}}</td>
                    <td ng-if="isSupport && !isNavigatedThroughAdmin">
                        <button class="btn btn-complete btn-sm" ng-disabled="!profileListVM.canUpdateStatus()" ng-click="profileListVM.updateStatus(profile)">{{profileListVM.statusToNameEnum[profile.deploymentStatus]}}</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
