<div class="modal fade slide-up disable-scroll" id="{{enterpriseModal.modal.id}}" tabindex="-1" role="dialog" aria-hidden="false" ng-controller="EnterpriseModalCtrl as enterpriseModal">
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-20"></i></button>
                    <h4 class="m-t-0">{{enterpriseModal.modal.header}}</h4>
                </div>
                <div class="modal-body">
                   <div>
                       <div class="overflow-wrapper usage-table-wrapper">
                           <div class="gs-mock-table">
                               <div class="mt-header">
                                   <div>Enterprise</div>
                                   <div>SIMs</div>

                               </div>
                               <div class="mt-row" ng-repeat="enterprise in enterpriseModal.enterprises">
                                   <div>{{enterprise.accountName}}</div>
                                   <div>{{enterprise.simsCount}}</div>
                               </div>
                           </div>
                           <div ng-if="enterpriseModal.enterprises.length == 0" class="no-data">There is no data to display.</div>
                       </div>
                   </div>
                    <div class="row">
                        <div class="col-sm-12 m-t-10 sm-m-t-10 text-right">
                            <button type="button" class="btn btn-complete m-t-5" data-dismiss="modal">{{enterpriseModal.modal.submit}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
