<div class="modal fade slide-up disable-scroll" id="{{uploadRoamingProfile.modal.id}}" tabindex="-1" role="dialog" aria-hidden="false" ng-controller="UploadRoamingProfileCtrl as uploadRoamingProfile" novalidate>
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="uploadRoamingProfile.modalCancel()"><i class="pg-close fs-20"></i></button>
                    <h4 class="m-t-0">Roaming Profile Upload</h4>
                </div>
                <div class="modal-body">
                    <div class="alert {{uploadRoamingProfile.alertClass}}" role="alert" ng-show="uploadRoamingProfile.isError">{{uploadRoamingProfile.errorMessage}}</div>
                    <form name="{{uploadRoamingProfile.modal.formName}}" action="#" class="dropzone modal-body" method="PUT"  enctype="multipart/form-data" ng-dropzone dropzone="uploadRoamingProfile.dropzone" dropzone-config="dropzoneConfig" modal-id="uploadRoamingProfile.modal.id" refresh-datatable="uploadRoamingProfile.successCallback" warning-modal-obj="uploadRoamingProfile.warningModalObj"></form>

                    <div class="row">
                        <div class="col-sm-12 m-t-10 sm-m-t-10 text-right">
                            <button type="button" id="cancelUpload" class="btn btn-danger m-t-5" ng-click="uploadRoamingProfile.cancelUpload()" disabled>Cancel upload</button>
                            <button type="button" id="clearDropzone" class="btn btn-default m-t-5" ng-click="uploadRoamingProfile.modalCancel()" disabled>{{uploadRoamingProfile.modal.cancel}}</button>
                            <button type="button" id="uploadFiles" class="btn btn-complete m-t-5" ng-click="uploadRoamingProfile.modalSubmit()" disabled>{{uploadRoamingProfile.modal.submit}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>