<!-- Tabs Container
<div class="container-fluid container-fixed-lg m-t-25 sm-m-t-0">
    <div class="panel panel-default mobile-tabs-top">
        <div class="tab-content bg-white alerts-tab-content">
        -->
            <ui-view></ui-view>
<!--
        </div>
    </div>
</div>
/ Tabs Container -->