<!-- Bulk Upload -->
<div class="modal fade slide-up disable-scroll" id="{{bulkUploadDocuments.modal.id}}" tabindex="-1" role="dialog" aria-hidden="false" ng-controller="BulkUploadDocumentCtrl as bulkUploadDocuments" novalidate>
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="bulkUploadDocuments.modalCancel()"><i class="pg-close fs-20"></i></button>
                    <h4 class="m-t-0">Document Upload</h4>
                </div>
                <div class="modal-body">
                    <div class="alert {{bulkUploadDocuments.alertClass}}" role="alert" ng-show="bulkUploadDocuments.isError">{{bulkUploadDocuments.errorMessage}}</div>
                    <form name="{{bulkUploadDocuments.modal.formName}}" action="#" class="dropzone modal-body" method="post"  enctype="multipart/form-data" ng-dropzone dropzone="bulkUploadDocuments.dropzone" dropzone-config="dropzoneConfig" event-handlers="eventHandlers" modal-id="bulkUploadDocuments.modal.id" refresh-datatable="bulkUploadDocuments.refreshDatatable"></form>

                    <div class="row">
                        <div class="col-sm-12 m-t-10 sm-m-t-10 text-right">
                            <button type="button" id="cancelUpload" class="btn btn-danger m-t-5" ng-click="bulkUploadDocuments.cancelUpload()" disabled>Cancel upload</button>
                            <button type="button" id="clearDropzone" class="btn btn-default m-t-5" ng-click="bulkUploadDocuments.modalCancel()" disabled>{{bulkUploadDocuments.modal.cancel}}</button>
                            <button type="button" id="uploadFiles" class="btn btn-complete m-t-5" ng-click="bulkUploadDocuments.modalSubmit()" disabled>{{bulkUploadDocuments.modal.submit}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Bulk Upload -->