<div class="container-fluid container-fixed-lg max-width-800 m-t-25 sm-m-t-0">
    <div class="panel panel-default">
        <div class="panel-heading users-table-panel">
            <div id="datatable-controls" gs-datatable-controls>

                <!-- Buttons -->
                <div id="group-addition" class="btn-group m-b-5" gs-has-permission="ACCOUNT_DOCUMENT_EDIT">
                    <button type="button" class="btn btn-default single-user" ng-click="dataTableObj.bulkUpload('bulkUploadDocumentsModal')">Upload Document</button>
                </div>

                <div class="w-smaller pull-right">
                    <gs-data-table-filter table-obj="dataTableObj" filter="selectedDisplayLength"  label="Items per page" list="dataTableObj.displayLengthvalues" disable-select="isPageSizeFilterDisabled" enable-search="false"></gs-data-table-filter>
                </div>

                <div class="clearfix"></div>

            </div>
        </div>
        <div class="panel-body gs-data-table">
            <div id="paceTableBlockDiv" class="paceDiv"></div>
            <table id="{{dataTableObj.tableID}}" class="table table-striped no-leading-checkbox" width="100%" gs-generate-table-body>
                <thead>
                <tr>
                    <th ng-repeat="header in dataTableObj.tableHeaders">{{header.value}}</th>
                </tr>
                </thead>

            </table>
        </div>
    </div>
</div>


<div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/documents/modal-document-bulk-upload.html'"></div>
