<div class="panel-body gs-data-table">
    <div id="paceTableBlockDiv" class="paceDiv"></div>
    <table id="{{dataTableObj.tableID}}" class="table table-striped no-leading-checkbox" width="100%" gs-generate-table-body>
        <thead>
        <tr>
            <th ng-repeat="header in dataTableObj.tableHeaders" ng-class="{Usage:'tdth-usage data-unit'}[header.value]">
                {{header.value}}
            </th>
        </tr>
        </thead>

    </table>
</div>
