<div class="container-fluid container-fixed-lg m-t-25 sm-m-t-0">
    <div ng-controller="SIMOperationsHistoryDetailCtrl as SIMOperationsHistoryDetailVm" test-arg="SIMOperationsHistoryDetail">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-transparent">
                    <div class="panel-body no-padding">
                        <div id="profileDetails">
                            <div class="sim-details-wrapper bg-white">
                                <div class="like-panel-title">
                                    <span class="pull-left">{{operationType}} Status</span>
                                    <div class="clearfix"></div>
                                </div>

                                <!-- SIM Details -->
                                <div class="sbs-lv-table row-border full-width">
                                    <div class="lv-row">
                                        <div class="l-cell">
                                            <span>Initiator</span>
                                        </div>
                                        <div class="v-cell">{{SIMOperationsHistoryDetailVm.operation.initiator}}</div>
                                    </div>
                                    <div class="lv-row">
                                        <div class="l-cell">
                                            <span>Status</span>
                                        </div>
                                        <div class="v-cell">{{SIMOperationsHistoryDetailVm.operation.status}}</div>
                                    </div>
                                    <div class="lv-row">
                                        <div class="l-cell">Target Profile</div>
                                        <div class="v-cell">{{SIMOperationsHistoryDetailVm.operation.targetProfileInfo.imsiProfile}}</div>
                                    </div>
                                    <div class="lv-row">
                                        <div class="l-cell">Active Profile</div>
                                        <div class="v-cell">{{SIMOperationsHistoryDetailVm.operation.causeProfileInfo.imsiProfile}}
                                        </div>
                                    </div>
                                    <div class="lv-row">
                                        <div class="l-cell">Requested Time</div>
                                        <div class="v-cell">{{SIMOperationsHistoryDetailVm.operation.requestTime}}</div>
                                    </div>
                                    <div class="lv-row">
                                        <div class="l-cell">Completed Time</div>
                                        <div class="v-cell">{{SIMOperationsHistoryDetailVm.operation.processEndTime}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="panel panel-transparent">
                <div class="panel-body no-padding">
                    <div id="imsi-profiles">
                        <div class="sim-details-wrapper bg-white">
                            <div class="panel-body gs-data-table auto-overflow">
                                <table id="attemptsTable" class="table table-striped no-leading-checkbox" style="border-top: 0;">
                                    <thead>
                                    <tr>
                                        <th>STATUS</th>
                                        <th>FAILURE REASON</th>
                                        <th>RESPONSE CODE</th>
                                        <th>PROCESS START TIME</th>
                                        <th>PROCESS END TIME</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="attempt in SIMOperationsHistoryDetailVm.operation.attempts">
                                        <td>{{attempt.status}}</td>
                                        <td>{{attempt.failureReason}}</td>
                                        <td>{{attempt.responseCode}}</td>
                                        <td>{{attempt.processStartTime}}</td>
                                        <td>{{attempt.processEndTime}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


