<div class="scroll-links-container">
    <div class="scroll-links-wrapper">
        <ul>
            <li><gs-scroll-link data-link-id="entRPAssocDataTable" data-offset="111" title="Go to the Profiles Table">Profile</gs-scroll-link></li>
            <li><gs-scroll-link data-link-id="entRPSimMapDataTable" data-offset="111" title="Go to the SIMs Table">SIMs</gs-scroll-link></li>
            <li><gs-scroll-link data-link-id="entRPAssocHistDataTable" data-offset="111" title="Go to the History Table">History</gs-scroll-link></li>
        </ul>
    </div>
</div>

<div class="panel panel-default" ng-controller="EntRPAssociationCtrl as entRPAssociation" >
    <div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/roaming-profiles/profiles/enterprise.roaming-profile.association.html'"></div>
</div>

<div class="panel panel-default"  ng-controller="EntRPSimMappingCtrl as entRPSimMapping" >
    <div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/roaming-profiles/sims/roaming-profile.sim-mapping.html'"></div>
</div>

<div class="panel panel-default"  ng-controller="EntRPAssociationHistCtrl as entRPAssociationHist" >
    <div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/roaming-profiles/association-history/enterprise.roaming-profile.association-history.html'"></div>
</div>