<!-- Bulk Upload -->
<div class="modal fade slide-up disable-scroll" id="{{bulkUploadSims.modal.id}}" tabindex="-1" role="dialog"
     aria-hidden="false" ng-controller="BulkUploadSimCtrl as bulkUploadSims">
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="bulkUploadSims.modalCancel()"><i class="pg-close fs-20"></i></button>
                    <h4 class="m-t-0">Add SIMs</h4>
                </div>
                <div class="modal-body">
                    <form name="addSimForm" gs-form-validation>
                        <div class="alert {{bulkUploadSims.alertClass}}" role="alert" ng-show="bulkUploadSims.isError">
                            {{bulkUploadSims.errorMessage}}
                        </div>
                        <div class="alert alert-danger m-b-10" role="alert" ng-show="bulkUploadSims.errorMessage">
                            {{bulkUploadSims.errorMessage}}
                        </div>
                        <div class="row">
                            <div class="fg-wrap">
                                <div gs-pg-form-group
                                     class="form-group form-group-default form-group-default-select required">
                                    <label for="roamingProfileSet"
                                           ng-class="{fade : bulkUploadSims.roamingProfile.set}">Roaming
                                        Profile Set</label>
                                    <ui-select ng-model="bulkUploadSims.roamingProfile.set" id="roamingProfileSet"
                                               name="roamingProfileSet" search-enabled="true" theme="bootstrap" required
                                               on-select="bulkUploadSims.enableRPVersionSelect()" ng-disabled="isRPSetSelectDisabled">
                                        <ui-select-match
                                                placeholder="Select or search a roaming profile set">
                                            {{bulkUploadSims.roamingProfile.set.setName}}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="item in bulkUploadSims.rpDetails.sets | filter: $select.search">

                                            <span ng-bind-html="bulkUploadSims.trustAsHtml((item.setName | highlight: $select.search ))"></span>
                                        </ui-select-choices>
                                        <ui-select-no-choice>
                                            Your search doesn't match any predefined roaming profile set.
                                        </ui-select-no-choice>
                                    </ui-select>
                                </div>
                                <div class="fg-element-error"><span style="color: red"
                                                                    ng-show="addSimForm.roamingProfileSet.errorStr"> {{ addSimForm.roamingProfileSet.errorStr }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="fg-wrap">
                                <div gs-pg-form-group
                                     class="form-group form-group-default form-group-default-select required">
                                    <label for="roamingProfileVersion"
                                           ng-class="{fade : bulkUploadSims.roamingProfile.version}">Roaming
                                        Profile</label>
                                    <ui-select ng-model="bulkUploadSims.roamingProfile.version"
                                               id="roamingProfileVersion"
                                               name="roamingProfileVersion" theme="bootstrap" required
                                               ng-disabled="isRPVersionSelectDisabled">
                                        <ui-select-match
                                                placeholder="Select or search a roaming profile">
                                            {{bulkUploadSims.roamingProfile.version.roamingProfileName }}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="item in bulkUploadSims.rpVersionList | filter: $select.search">

                                            <span ng-bind-html="bulkUploadSims.trustAsHtml((item.roamingProfileName | highlight: $select.search))"></span>
                                        </ui-select-choices>
                                        <ui-select-no-choice>
                                            Your search doesn't match any predefined roaming profile.
                                        </ui-select-no-choice>
                                    </ui-select>
                                </div>
                                <div class="fg-element-error"><span style="color: red"
                                                                    ng-show="addSimForm.roamingProfileVersion.errorStr"> {{ addSimForm.roamingProfileVersion.errorStr }}</span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form name="{{bulkUploadSims.modal.formName}}" action="#" class="dropzone modal-body"
                          method="post"
                          enctype="multipart/form-data" ng-dropzone dropzone="bulkUploadSims.dropzone"
                          dropzone-config="dropzoneConfig" modal-id="bulkUploadSims.modal.id"
                          refresh-datatable="bulkUploadSims.refreshDatatable"></form>
                    <div class="row">
                        <div class="col-sm-12 m-t-10 sm-m-t-10 text-right">
                            <button type="button" id="cancelUpload" class="btn btn-danger m-t-5"
                                    ng-click="bulkUploadSims.cancelUpload()" disabled>Cancel upload
                            </button>
                            <button type="button" id="clearDropzone" class="btn btn-default m-t-5"
                                    ng-click="bulkUploadSims.modalCancel()" disabled>{{bulkUploadSims.modal.cancel}}
                            </button>
                            <button type="button" id="uploadFiles" class="btn btn-complete m-t-5"
                                    ng-click="bulkUploadSims.modalSubmit()" disabled>{{bulkUploadSims.modal.submit}}
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Bulk Upload -->