<div class="tab-pane slide-left active">
    <div class="col-md-12">
        <div class="panel panel-default">
            <ul class="nav nav-tabs nav-tabs-simple nav-tabs-primary sm-t-cell third" id="accountSettingsTab"
                role="tablist">
                <li ui-sref-active="active">
                    <a data-target="#" data-toggle="tab" role="tab" ui-sref="support.enterprise.simCards.physicalSims">Physical SIMs</a>
                </li>
                <li ui-sref-active="active">
                    <a data-target="#" data-toggle="tab" role="tab" ui-sref="support.enterprise.simCards.eSims">eSIMs</a>
                </li>
                <li ui-sref-active="active">
                    <a data-target="#" data-toggle="tab" role="tab" ui-sref="support.enterprise.simCards.m2mESims">M2M eSIMs</a>
                </li>
            </ul>
            <div class="tab-content bg-white allow-overflow">
                <ui-view></ui-view>
            </div>
        </div>
    </div>
    <div class="col-md-12" ng-if="!isSubAccount">
        <div class="panel panel-default"  ng-controller="SimAssociationHistoryController as entRPAssociationHist" >
            <div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/sims/association-history/enterprise-sim.association-history.html'"></div>
        </div>
    </div>
</div>
