<div class="col-md-12">
    <div class="scroll-links-container">
        <div class="scroll-links-wrapper">
            <ul>
                <li><gs-scroll-link data-link-id="entZonesDataTable" data-offset="111" title="Go to the zones table">Zones</gs-scroll-link></li>
                <li><gs-scroll-link data-link-id="entZoneProvHistDataTable" data-offset="111" title="Go to the zone provisioning history table">Zone Provisioning History</gs-scroll-link></li>
            </ul>
        </div>
    </div>
</div>
<div class="tab-pane slide-left" >
    <div class="col-md-12">
        <div class="panel panel-default" ng-controller="ZonesCtrl as zones">
            <div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/pricing/zones/zones.html'"></div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default" ng-controller="ZoneProvisioningHistCtrl as ZoneProvisioningHist">
            <div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/pricing/zone-provisioning-history/zone-provisioning-history.html'"></div>
        </div>
    </div>
</div>