<div class="panel panel-default">
    <div class="panel-heading auto-height">
        <div class=" panel-title p-b-10 panel-title-color">Zone Provisioning Status</div>
        <div class="p-b-20 p-l-15 RP-association-details">
            <div>Zones Added : <span>{{zoneProvisioningStatus.zonesAdded}}</span></div>
            <div>Zones Deleted : <span> {{zoneProvisioningStatus.zonesDeleted}}</span></div>
            <div>Zones Updated : <span>{{zoneProvisioningStatus.zonesUpdated}}</span></div>
            <div>Status : <span>{{zoneProvisioningStatus.sessionStatus}}</span></div>
            <div>Initiated By : <span>{{zoneProvisioningStatus.changedBy}}</span></div>
        </div>
        <div class="alert alert-error m-b-0" ng-if="zoneProvisioningStatus.errorMessage">The following changes were not applied due to "{{zoneProvisioningStatus.errorMessage}}"</div>
    </div>
    <div class="panel-body gs-data-table">
        <div id="paceTableBlockDiv" class="paceDiv"></div>
        <table id="{{dataTableObj.tableID}}" class="table table-striped no-leading-checkbox" width="100%" gs-generate-table-body>
            <thead>
            <tr>
                <th ng-repeat="header in dataTableObj.tableHeaders" >{{header.value}}</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
