<div class="panel-heading auto-height">
    <div class=" panel-title">Zone Provisioning History</div>

    <div id="datatable-controls" gs-datatable-controls>
        <div class="pull-right">
            <div class="btn-group  m-b-5 m-r-10 defaultBtnGroup">
                <button class="btn btn-small btn-default" ng-click="ZoneProvisioningHist.refreshZoneProvHistTable('showMsg')" ><i class="fa fa-refresh"></i> Refresh</button>
            </div>

            <div class="w-smaller pull-right">
                <gs-data-table-filter table-obj="dataTableObj" filter="selectedDisplayLength"  label="Items per page" list="dataTableObj.displayLengthvalues" disable-select="isPageSizeFilterDisabled" enable-search="false"></gs-data-table-filter>
            </div>
            <div class="clearfix visible-xs"></div>
        </div>
        <div class="clearfix visible-xs"></div>
    </div>
</div>
<div class="panel-body gs-data-table">
    <div id="paceTableBlockDiv" class="paceDiv"></div>
    <table id="{{dataTableObj.tableID}}" class="table table-striped no-leading-checkbox" width="100%" gs-generate-table-body>
        <thead>
        <tr>
            <th ng-repeat="header in dataTableObj.tableHeaders">{{header.value}}</th>
        </tr>
        </thead>
    </table>
</div>