<div class="container-fluid container-fixed-lg max-width-800 m-t-25 sm-m-t-0">
    <div class="panel panel-default">
        <div class="panel-heading users-table-panel">
            <div id="datatable-controls" gs-datatable-controls>

				<div id="dt-action-dd" class="dropdown hideInReadOnlyMode m-b-5" data-toggle="tooltip" title="Bulk Actions" gs-tooltip gs-has-permission="ACCOUNT_DELETE">
					<div id="paceTableCheckBoxDiv" class="paceDiv" ng-class="{disableDiv : isDisable}"></div>
					<div class="dt-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<div class="checkbox check-success large no-label-text">
							<input type="checkbox" value="1" id="checkbox_action">
							<label for="checkbox_action" ng-click="dataTableObj.selectAll($event)"></label>
							<i class="fa fa-caret-down"></i>
						</div>
					</div>
					<ul class="dropdown-menu" role="menu">
						<li><a href="javascript:void(0)" ng-click="dataTableObj.checkRowSelection(groups.verifyDeletion)">Delete Group(s)</a></li>
					</ul>
				</div>

				<gs-data-table-search table-obj="dataTableObj" search-val="groups.searchValue"></gs-data-table-search>
				<div class="clearfix visible-sm visible-xs"></div>

				<div id="group-addition" class="btn-group m-b-5" gs-has-permission="ACCOUNT_CREATE">
					<button type="button" class="btn btn-default single-user" ng-click="groups.addGroup(true)">Add Group</button>
				</div>

				<div class="w-smaller pull-right">
					<gs-data-table-filter table-obj="dataTableObj" filter="selectedDisplayLength"  label="Items per page" list="dataTableObj.displayLengthvalues" disable-select="isDisableComponent()" enable-search="false"></gs-data-table-filter>
				</div>
				<div class="clearfix"></div>

            </div>
        </div>
        <div class="panel-body gs-data-table">
			<div id="paceTableBlockDiv" class="paceDiv"></div>
			<table id="{{dataTableObj.tableID}}" class="table table-striped" width="100%" gs-generate-table-body>
				<thead>
				<tr>
					<th ng-repeat="header in dataTableObj.tableHeaders">{{header.value}}</th>
				</tr>
				</thead>

			</table>
		</div>
    </div>
</div>

<div ng-include="lazyLoadURL+'app/assets/groups/modal-add-group.html'"></div>