<!-- Add Group -->
<form name="addOrEditGroup" class="modal fade slide-up disable-scroll" id="{{addGroup.modal.id}}" tabindex="-1" role="dialog" aria-hidden="false"   ng-controller="AddGroupCtrl as addGroup" novalidate gs-form-validation >
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="addGroup.modalCancel()"><i class="pg-close fs-20"></i>
                    </button>
					<h4 class="m-t-0">{{addGroup.modal.header}}</h4>
                </div>
                <div class="modal-body">
                    <fieldset>
	                    <div class="alert {{addGroup.alertClass}}" role="alert" ng-show="addGroup.isError">{{addGroup.errorMessage}}</div>
                        <div class="row">
                            <div class="col-sm-12">
	                            <div class="fg-wrap">
	                                <div gs-pg-form-group class="form-group form-group-default required">
	                                    <label for="g_name" ng-class="{fade : addGroup.group.accountName}">Group Name</label>
	                                    <input id="g_name" type="text" class="form-control" name="g_name" ng-model="addGroup.group.accountName" maxlength="45" required>
	                                </div>
                                    <div class="fg-element-error"><span style="color: red" ng-show="addOrEditGroup.g_name.errorStr"> {{ addOrEditGroup.g_name.errorStr }}</span></div>
								</div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <div class="col-sm-12 m-t-10 sm-m-t-10 text-right">
	                        <button type="button" class="btn btn-default m-t-5" ng-click="addGroup.modalCancel()" data-dismiss="modal">{{addGroup.modal.cancel}}</button>
                            <button type="button" class="btn btn-complete m-t-5" ng-click="addGroup.modalSubmit( addOrEditGroup)">{{addGroup.modal.submit}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- /Add Group -->
