<div ng-controller="SIMDetailCtrl as SIMDetailVM">
    <div class="scroll-links-container">
        <div class="scroll-links-wrapper">
            <ul>
                <li><gs-scroll-link data-link-id="divSimDetails" data-offset="36" title="Go to SIM Details">SIM Details</gs-scroll-link></li>
                <li gs-has-permission="PROFILE_READ" ng-if="SIMDetailVM.canShowEuiccProfiles">
                    <gs-scroll-link data-link-id="divEuiccProfiles" data-offset="36" title="Go to the eUICC Profiles Table">eUICC Profiles</gs-scroll-link>
                </li>
                <li><gs-scroll-link data-link-id="divLocationHistory" data-offset="36" title="Go to the Location History Table">Location History</gs-scroll-link></li>
                <li><gs-scroll-link data-link-id="divCdrs" data-offset="36" title="Go to the CDR Table">CDRs</gs-scroll-link></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid container-fixed-lg m-t-25 sm-m-t-0">

        <div test-arg="SIMDetail">
            <div id="divSimDetails" class="row">
                <div class="col-md-12">
                    <div class="panel panel-transparent" >
                        <div class="panel-body no-padding">
                            <div ng-include="lazyLoadURL+'app/assets/sims/sim-details/sim-basic-detail.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="divEuiccProfiles" class="row" gs-has-permission="PROFILE_READ" ng-if="SIMDetailVM.canShowEuiccProfiles">
            <div class="col-md-12" ng-controller="ProfileListCtrl as profileListVM" test-arg="installedProfileList">
                <div class="panel panel-transparent " >
                    <div class="panel-body no-padding">
                        <div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/sims/profile-list/profile-list.html'"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="divLocationHistory" class="row">
            <div class="col-md-12">
                <div class="panel panel-default panel-with-export" ng-controller="LocationHistoryCtrl as locationHistory" test-arg="locationHistory">
                    <div class="panel-heading m-b-5">
                        <div class="panel-title p-t-10">
                            Location History
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <div ng-include="lazyLoadURL+'app/assets/sims/location-history/location-history.html'"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="divCdrs" class="row">
            <div class="col-md-12">
                <div class="panel panel-default panel-with-export" ng-controller="CallDateRecordsCtrl as cdrVm" test-arg="callDateRecords">
                    <div class="panel-heading m-b-5">
                        <div class="panel-title p-t-10">
                            Call Data Records
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <div ng-include="lazyLoadURL+'app/assets/sims/cdr/sim-cdr.html'"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>