<form name="switchImsi" class="modal fade slide-up disable-scroll" id="{{imsiModalObj.modal.id}}" tabindex="-1" role="dialog" aria-hidden="false" ng-controller="SwitchImsiCtrl as imsiModalObj" novalidate gs-form-validation gs-switch-imsi>
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="imsiModalObj.modalCancel()"><i class="pg-close fs-20"></i>
                    </button>
                       <h4 class="m-t-0">{{imsiModalObj.modal.header}}</h4>
                </div>
                <div class="modal-body">
                    <fieldset>
                        <div class="alert {{imsiModalObj.alertClass}}" role="alert" ng-show="imsiModalObj.isError">{{imsiModalObj.errorMessage}}</div>
                        <div class="alert alert-info" role="alert" ng-show="imsiModalObj.warningMessage" ng-bind-html="imsiModalObj.trustAsHtml(imsiModalObj.warningMessage)">{{imsiModalObj.warningMessage}}</div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="fg-wrap">
                                        <div gs-pg-form-group class="form-group form-group-default form-group-default-select required">
                                            <label ng-class="{fade : imsiModalObj.imsi.value}">IMSI</label>
                                            <div ng-hide="imsiModalObj.imsis.length==0">
                                                <ui-select ng-model="imsiModalObj.imsi.value" theme="bootstrap" skip-focusser="true">
                                                    <ui-select-match class="ui-select-match" placeholder="Select or search for a IMSI">{{$select.selected.profilePriority}}</ui-select-match>
                                                    <ui-select-choices group-by="'parent'" repeat="item in imsiModalObj.imsis | filter: {profilePriority:$select.search} | orderBy: 'priority'">
                                                        <span ng-bind-html="imsiModalObj.trustAsHtml((item.profilePriority | highlight: $select.search))"></span>
                                                    </ui-select-choices>
                                                    <ui-select-no-choice>
                                                        Your search doesn't match any existing IMSIs.
                                                        <div ng-if="$select.items.length == 0" gs-reset-selected-imsi></div>
                                                    </ui-select-no-choice>
                                                </ui-select>

                                            </div>
                                            <div ng-show="imsiModalObj.imsis.length==0">No IMSIs Available!!!</div>
                                        </div>
                                        <div class="fg-element-error"><span style="color: red" ng-show="imsiModalObj.switchImsiErrMsg && !imsiModalObj.imsi.value"> {{ imsiModalObj.switchImsiErrMsg }}</span></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="fg-wrap">
                                        <div gs-pg-form-group class="form-group form-group-default required">
                                            <label for="description" ng-class="{fade : imsiModalObj.imsi.description}">Description</label>
                                            <input type="text" class="form-control" name="description" id="description" ng-model="imsiModalObj.imsi.description" required>
                                        </div>
                                        <div class="fg-element-error"><span style="color: red" ng-show="switchImsi.description.errorStr"> {{ switchImsi.description.errorStr }}</span></div>
                                    </div>
                                </div>
                            </div>
                    </fieldset>
                    <div class="row">
                        <div class="col-sm-12 m-t-10 sm-m-t-10 text-right">
                            <button type="button" class="btn btn-default m-t-5" ng-click="imsiModalObj.modalCancel()"   data-dismiss="modal">{{imsiModalObj.modal.cancel}}</button>
                            <button type="button" class="btn btn-complete m-t-5" ng-click="imsiModalObj.modalSubmit(switchImsi)" >{{imsiModalObj.modal.submit}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>