<!-- Add User -->
<form name="addOrEditUser" class="modal fade slide-up disable-scroll" id="{{addUser.modal.id}}" tabindex="-1" role="dialog" aria-hidden="false" ng-controller="GapAddUserCtrl as addUser" novalidate gs-form-validation gs-has-permission="USER_PROFILE_EDIT">
	<div class="modal-dialog">
		<div class="modal-content-wrapper">
			<div class="modal-content">
				<div class="modal-header clearfix text-left">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="addUser.modalCancel()"><i class="pg-close fs-20"></i>
					</button>
					<h4 class="m-t-0">{{addUser.modal.header}}</h4>
				</div>
				<div class="modal-body">
					<fieldset>
						<div class="alert alert-danger" role="alert" ng-show="addUser.errorMessage">{{addUser.errorMessage}}</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="fg-wrap">
									<div gs-pg-form-group class="form-group form-group-default required">
										<label for="f_name" ng-class="{fade : addUser.user.firstName}">First Name</label>
										<input id="f_name" type="text" class="form-control" name="f_name" ng-model="addUser.user.firstName" maxlength="45" required>
									</div>
									<div class="fg-element-error"><span ng-show="addOrEditUser.f_name.errorStr"> {{ addOrEditUser.f_name.errorStr }}</span></div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="fg-wrap">
									<div gs-pg-form-group class="form-group form-group-default required">
										<label for="l_name" ng-class="{fade : addUser.user.lastName}">Last Name</label>
										<input id="l_name" type="text" class="form-control" name="l_name" ng-model="addUser.user.lastName" maxlength="45" required>
									</div>
									<div class="fg-element-error"><span ng-show="addOrEditUser.l_name.errorStr"> {{ addOrEditUser.l_name.errorStr }}</span></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="fg-wrap">
									<div gs-pg-form-group class="form-group form-group-default required">
										<label for="emailId" ng-class="{fade : addUser.user.emailId}">Email</label>
										<input id="emailId" type="email" class="form-control" name="emailId" ng-model="addUser.user.emailId" required>
									</div>
									<div class="fg-element-error"><span ng-show="addOrEditUser.emailId.errorStr"> {{ addOrEditUser.emailId.errorStr }}</span></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="fg-wrap">
									<div gs-pg-form-group class="form-group form-group-default form-group-default-select required">
										<label for="userRole" ng-class="{fade : addUser.user.role}">Role</label>
										<ui-select ng-model="addUser.user.role" theme="bootstrap" search-enabled="false" id="userRole" name="userRole" required>
											<ui-select-match placeholder="Select an enterprise role"  >{{addUser.user.role.name | underscoreless}}</ui-select-match>
											<ui-select-choices repeat="item in rolesList" >
												<span ng-bind-html="addUser.trustAsHtml((item.name | underscoreless))" ></span>
											</ui-select-choices>
										</ui-select>
									</div>
									<div class="fg-element-error"><span ng-show="addOrEditUser.userRole.errorStr"> {{ addOrEditUser.userRole.errorStr }}</span></div>
								</div>
							</div>
						</div>

					</fieldset>
					<div class="row">
						<div class="col-sm-12 m-t-10 sm-m-t-10 text-right">
							<button type="button" class="btn btn-default m-t-5" ng-click="addUser.modalCancel()" data-dismiss="modal">{{addUser.modal.cancel}}</button>
							<button type="button" class="btn btn-complete m-t-5" ng-click="addUser.modalSubmit(addOrEditUser)">{{addUser.modal.submit}}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<!-- /Add User -->
