<form name="simAssignRoamingProfileForm" class="modal fade slide-up disable-scroll" id="simAssignRoamingProfileModal" tabindex="-1" role="dialog" aria-hidden="false"   ng-controller="SimAssignRoamingProfileCtrl as simAssignRoamingProfile" novalidate gs-form-validation >
    <div class="modal-dialog modal-lg" id="modal-wizard">
        <div class="modal-content-wrapper">
            <div class="modal-content" style="min-height: 640px;">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="simAssignRoamingProfile.modalCancel()"><i class="pg-close fs-20"></i>
                    </button>
                    <h4 class="m-t-0">{{simAssignRoamingProfile.modal.header}}</h4>
                </div>
                <div class="modal-body" style="padding-bottom: 0px;">
                    <fieldset>
                        <div class="alert alert-danger m-b-10" role="alert" ng-show="simAssignRoamingProfile.errorMessage">{{simAssignRoamingProfile.errorMessage}}</div>
                        <div ng-hide="isConfirmTab">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="radio-header font-montserrat">
                                        Assign Roaming Profile to: <span class="required"></span>
                                    </div>

                                    <div class="form-group radio radio-primary" >
                                        <input type="radio" value="allSims" ng-model="simAssignRoamingProfile.selectedSimOption"  name="rowEntries" id="select-all-sims" >
                                        <label for="select-all-sims" class="export-label">{{allSimsText}}</label>
                                    </div>
                                    <div class="form-group radio radio-primary" ng-hide="disableSelectedSimsOpt">
                                        <input type="radio" value="selectedSims" ng-model="simAssignRoamingProfile.selectedSimOption" name="rowEntries" id="selected-sims">
                                        <label for="selected-sims" class="export-label">Selected SIMs</label>
                                    </div>
                                    <div class="form-group radio radio-primary" >
                                        <input type="radio" value="curPageSims" ng-model="simAssignRoamingProfile.selectedSimOption" name="rowEntries" id="select-current-page-sims">
                                        <label for="select-current-page-sims" class="export-label">SIMs in current page</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="fg-wrap">
                                    <div gs-pg-form-group class="form-group form-group-default form-group-default-select required">
                                        <label for="roamingProfileSet" ng-class="{fade : simAssignRoamingProfile.roamingProfile.set}">Roaming Profile Set</label>
                                        <ui-select ng-model="simAssignRoamingProfile.roamingProfile.set"  id="roamingProfileSet" name="roamingProfileSet" search-enabled="true"  theme="bootstrap" required on-select="simAssignRoamingProfile.enableRPVersionSelect()">
                                            <ui-select-match
                                                    placeholder="Select or search a roaming profile set">
                                                {{simAssignRoamingProfile.roamingProfile.set.setName}}
                                            </ui-select-match>
                                            <ui-select-choices
                                                    repeat="item in simAssignRoamingProfile.rpDetails.sets | filter: $select.search">

                                                <span ng-bind-html="simAssignRoamingProfile.trustAsHtml((item.setName | highlight: $select.search ))"></span>
                                            </ui-select-choices>
                                            <ui-select-no-choice>
                                                Your search doesn't match any predefined roaming profile set.
                                            </ui-select-no-choice>
                                        </ui-select>
                                    </div>
                                    <div class="fg-element-error"><span style="color: red" ng-show="simAssignRoamingProfileForm.roamingProfileSet.errorStr"> {{ simAssignRoamingProfileForm.roamingProfileSet.errorStr }}</span></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="fg-wrap">
                                    <div gs-pg-form-group class="form-group form-group-default form-group-default-select required">
                                        <label for="roamingProfileVersion" ng-class="{fade : simAssignRoamingProfile.roamingProfile.version}">Roaming Profile</label>
                                        <ui-select ng-model="simAssignRoamingProfile.roamingProfile.version"  id="roamingProfileVersion" name="roamingProfileVersion"  theme="bootstrap" required ng-disabled="isRPVersionSelectDisabled">
                                            <ui-select-match
                                                    placeholder="Select or search a roaming profile">
                                                {{simAssignRoamingProfile.roamingProfile.version.roamingProfileName }}
                                            </ui-select-match>
                                            <ui-select-choices
                                                    repeat="item in simAssignRoamingProfile.rpVersionList | filter: $select.search">

                                                <span ng-bind-html="simAssignRoamingProfile.trustAsHtml((item.roamingProfileName | highlight: $select.search))"></span>
                                            </ui-select-choices>
                                            <ui-select-no-choice>
                                                Your search doesn't match any predefined roaming profile.
                                            </ui-select-no-choice>
                                        </ui-select>
                                    </div>
                                    <div class="fg-element-error"><span style="color: red" ng-show="simAssignRoamingProfileForm.roamingProfileVersion.errorStr"> {{ simAssignRoamingProfileForm.roamingProfileVersion.errorStr }}</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel m-b-0" ng-show="isConfirmTab">
                            <div class="panel-heading auto-height" style="padding-top: 0px;">
                                <div id="datatable-controls" gs-datatable-controls>
                                    <div class=" RP-association-details" style="display: inline-block">
                                        <div>Target Roaming Profile : <span>{{simAssignRoamingProfile.roamingProfile.version.roamingProfileName}}</span></div>
                                        <div>Total SIM Count : <span>{{simAssignRoamingProfile.simCount}}</span></div>
                                    </div>

                                    <div class="w-smaller pull-right">
                                        <gs-data-table-filter table-obj="dataTableObj" filter="selectedDisplayLength"  label="Items per page" list="dataTableObj.displayLengthvalues" disable-select="isPageSizeFilterDisabled" enable-search="false"></gs-data-table-filter>
                                    </div>
                                    <div class="clearfix visible-xs"></div>
                                </div>
                            </div>
                            <div class="panel-body gs-data-table" style="padding-bottom: 0px;">
                                <div id="paceTableBlockDiv" class="paceDiv"></div>
                                <table id="{{dataTableObj.tableID}}" class="table table-striped no-leading-checkbox" width="100%" gs-generate-table-body>
                                    <thead>
                                    <tr>
                                        <th ng-repeat="header in dataTableObj.tableHeaders">{{header.value}}</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="modal-footer" style="position: absolute; left: 0; right: 0; bottom: 0;">
                    <div class="row">
                        <div class="col-sm-12 m-t-10 sm-m-t-10 text-right">
                            <button type="button" class="btn btn-default m-t-5" ng-click="simAssignRoamingProfile.modalCancel()" data-dismiss="modal">{{simAssignRoamingProfile.modal.cancel}}</button>
                            <button type="button" class="btn btn-complete m-t-5" ng-click="simAssignRoamingProfile.nextPage(simAssignRoamingProfileForm)" ng-hide="isConfirmTab"> Next </button>
                            <button type="button" class="btn btn-default m-t-5" ng-click="simAssignRoamingProfile.previousPage()" ng-show="isConfirmTab"> Previous </button>
                            <button type="button" class="btn btn-complete m-t-5" ng-click="simAssignRoamingProfile.modalSubmit()" ng-show="isConfirmTab"> {{simAssignRoamingProfile.modal.submit}} </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
