/*
	Customer activity page css

-------------------------------------------------------------------*/
.customer-activity{
  overflow: scroll;

  form[name='activityFiltersForm'] {
    padding: 0 25px;
    margin-top: 10px;
  }

  .account-search {
    z-index: 3;

    &.focused {
      border: 1px solid rgba(0, 0, 0, 0.07) !important;
      background-color: #fff!important;

      label {
        opacity: 1;
      }
    }

    label {
      &.fade {
        opacity: 1;
      }
    }
  }

  .search-suggestions {
    position: relative;
    top: -5px;
    left: 4%;

    ul {
      display: block;
      min-width: 92% !important;
      max-height: 300px!important;
    }
  }

  .date-range {
    height: 54px;
  }

  button {
    height: 54px;
    width: 100%;
  }
  
  #container {
    padding-bottom: 400px!important;
    position: relative;
    width: 900px;
    margin: 0 auto;
    max-width: 100%;
    min-width: 400px;
  }

  .hovertext{
    text-align: left;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(98, 98, 98, 0.2);
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: normal;
    letter-spacing: 0.01em;
    padding: 10px;
  }
}

#legend{
  padding: 15px;

  div{
    width: 20px;
    height: 20px;
    display: inline-block;
  }

  .low{
    background-color: rgb(240, 78, 66);
  } 
  
  .medium{
    background-color: rgb(247, 177, 39);
  }
  
  .high{
    background-color: rgb(0, 128, 0);
  }

  .no-data{
    background-color: #e8e1e1;
  }

  span{
    margin: 10px;
  }
}
