/*
	extension.less

-------------------------------------------------------------------*/

/* Panels */
.panel {
  .panel-grey,
  .panel-gray {
    background-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, .07);
  }
}

.panel-with-export {
  .panel-heading {
    height: 30px;
    vertical-align: middle;

    button {
      float: right;
      top: -7px;
    }
  }
}

/* Header to resemble panel */
.like-panel-title {
  font-family: 'Montserrat';
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.02em;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-stroke: 0;
  color: inherit;
  padding-bottom: 7px;
}

/* Content Break */
.content-break{
  width: 100%;
  margin: 25px 0;
  height: 1px;
  background-color: rgba(0,0,0,.07);
}