/*
	info-wrapper.less

-------------------------------------------------------------------*/

/* Additional Information */
.additional-info-wrapper{
  background-color: #fafafa;
  border: 1px solid rgba(0,0,0,.07);
  padding: 10px 20px;

  @media only screen and (max-width: 991px){
    margin-top: 40px;
  }

  .account-action{
    margin-left: 10%;
  }
}
