/*
	layout.less

-------------------------------------------------------------------*/

/* User Details - SIM Cards Tab */
.panel-table-wrapper {
  padding: 10px 20px;
}

/* DataTables - Table Options */
.no-export-options {
  .exportOptions {
    display: none !important;
  }
}

