/*
	mock-tables.less

-------------------------------------------------------------------*/
.sbs-wrapper {
  height: auto;

  &.scrollable {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    border: 1px solid rgba(0, 0, 0, .15);
  }

  &.h500 {
    height: 500px;
  }
}

.sbs-lv-table {
  display: table;
  margin: 15px 0;

  &.no-margin {
    margin: 0 !important;
  }

  &.full-width {
    width: 100%;

    &:not(.fixed-width-value) {
      .lv-row {
        .l-cell {
          width: 150px;
        }
        .full-cell {
          width: 100%;
        }
      }
    }
  }

  &.fixed-width-label {
    .lv-row {
      .l-cell {
        width: 150px;
      }
    }
  }

  &.inline-table {
    display: inline-table;
  }

  &.row-border,
  &.full-border {
    .lv-row {
      &:first-child {
        .l-cell,
        .v-cell {
          border-top: none;
        }
      }

      .l-cell,
      .v-cell {
        border-top: 1px solid rgba(0, 0, 0, .07);
      }
    }
  }

  &.full-border {
    border: 1px solid rgba(0, 0, 0, .07);
    .border-radius(2px);

    .lv-row {
      .l-cell {
        border-right: 1px solid rgba(0, 0, 0, .07);
        padding: 5px 10px;
      }
    }
  }

  &.border-top {
    .lv-row {
      &:first-child {
        .l-cell,
        .v-cell {
          border-top: 1px solid rgba(0, 0, 0, .07) !important;
        }
      }
    }
  }

  &.table-striped {
    .lv-row {
      &:nth-child(2n+1) {
        .l-cell,
        .v-cell {
          background-color: #fafafa;
        }
      }
    }
  }

  &.row-hover {
    .lv-row {
      &:hover {
        background-color: #FFFBDF !important;
        &:nth-child(2n+1) {
          .l-cell,
          .v-cell {
            background-color: #FFFBDF !important;
          }
        }
      }
    }
  }

  &.label-padding {
    .lv-row {
      .l-cell {
        padding: 5px 10px;
      }
    }
  }

  &.small-padding {
    .lv-row {
      .l-cell,
      .v-cell,
      .full-cell {
        padding: 5px 10px;
      }
    }
  }

  &.label-checkbox {
    .lv-row {

      &.checked {
        background-color: @color-success-lighter;
        &:nth-child(2n+1) {
          .l-cell,
          .v-cell {
            background-color: @color-success-lighter;
          }
        }
      }

      .l-cell {
        width: 35px !important;
        padding-right: 0;

        .checkbox {
          margin: 0;
        }

        input + label {
          margin-right: 0;
          margin-top: 0;
          min-height: 18px;
        }
      }

      .v-cell {
        padding-left: 0 !important;
      }
    }
  }

  &.label-text-right {
    .lv-row {
      .l-cell {
        text-align: right;
      }
    }
  }

  &.value-text-right {
    .lv-row {
      .v-cell {
        text-align: right;
      }
    }
  }

  &.fixed-width-value {
    .lv-row {
      .v-cell {
        width: 125px;
      }

      .label-cell {
        // width: calc("~100% - 125px");
      }
    }

    &.small-width-value {
      .lv-row {
        .v-cell {
          width: 100px;
        }

        .label-cell {
          //  width: calc("~100% - 100px");
        }
      }
    }
  }

  .lv-row {
    display: table-row;
    word-break: break-all;

    .l-cell,
    .v-cell,
    .full-cell {
      display: table-cell;
      line-height: 1.4;
      font-size: 14px;
      vertical-align: top;
    }

    .l-cell {
      padding: 5px 10px;
      font-weight: 600;
    }

    .v-cell {
      padding: 5px 15px;

      .block-cell{
        display: inline-block;
        margin-top: 9px;
      }

    }
  }
}