/*
	scroll-links.less

-------------------------------------------------------------------*/
.scroll-links-container {
  height: auto;

  .scroll-links-wrapper {
    width: 100%;
    padding: 8px 30px;
    background-color: #6d5cae;
    color: rgba(255, 255, 255, 0.75);

    @media only screen and (max-width: 767px){
      padding: 8px 20px;
    }

    &.scroll-links-fixed {
      position: fixed;
      z-index: 4;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        list-style-type: none;
        color: inherit;
        cursor: pointer;

        padding: 0 10px;

        font-family: Montserrat;
        text-transform: uppercase;
        font-size: 10px;
        line-height: 1;
        font-weight: 600;

        @media only screen and (max-width: 767px){
          width: 49%;
          padding: 0;
        }

        &:first-child {
          padding-left: 0;
        }

        &:hover{
          .transition(color 0.1s linear 0s);
          color: rgb(255,255,255);

          *{
            color: inherit;
          }
        }
      }
    }
  }
}