/*
	sim-details.less

-------------------------------------------------------------------*/

.sim-details-wrapper {
  border: 1px solid rgba(0, 0, 0, .07);
  padding: 20px;

  .like-panel-title {
    display: block;
  }

  .sbs-lv-table {
    margin: 0;
  }
}

#divActions {
  label {
    cursor: pointer;
    font-family: 'Montserrat';
    color: #333;
    font-weight: 600;
    margin-right: 10px;
  }

  .dropdown-toggle {
    display: block !important;
  }

  .dropdown-menu {
    background-color: #fff;
    margin-top: 5px;

    li { 
      a {
        opacity: .5;
        line-height: 35px;
        color: #626262;
        padding: 0 20px;
        font-weight: 400;
        white-space: nowrap;
        text-transform: none;

        &:hover {
          cursor: pointer;
          opacity: 1;
          background-color: #f0f0f0;
        }
      }
    }
  }
}

#divSimDetailScrollLinks {
  margin-top: -25px;
  margin-bottom: 50px;
  margin-left: -30px;
  margin-right: -30px;
}

#divSimDetails {
  .col-md-4 {
    :first-child {
      padding-left: 0;
    }
    :last-child {
      padding-right: 0;
    }    
  }
}