<div class="tab-pane slide-left active" id="editAccount">
    <form name="editAccountForm" class="" role="form"  novalidate gs-form-validation>
        <fieldset>
            <div class="alert alert-danger" role="alert" ng-show="accountInfo.profile.errorMessage">{{accountInfo.profile.errorMessage}}</div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="fg-wrap">
                        <div gs-pg-form-group class="form-group form-group-default required">
                            <label for="f_name" ng-class="{fade : accountInfo.profile.user.firstName}">First Name</label>
                            <input type="text" class="form-control" id="f_name" name="f_name" ng-model="accountInfo.profile.user.firstName" maxlength="45" required>
                        </div>
                        <div class="fg-element-error"><span style="color: red" ng-show="editAccountForm.f_name.errorStr"> {{ editAccountForm.f_name.errorStr }}</span></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="fg-wrap">
                        <div gs-pg-form-group class="form-group form-group-default required">
                            <label for="l_name" ng-class="{fade : accountInfo.profile.user.lastName}">Last Name</label>
                            <input type="text" class="form-control" id="l_name" name="l_name" ng-model="accountInfo.profile.user.lastName" maxlength="45" required>
                        </div>
                        <div class="fg-element-error"><span style="color: red" ng-show="editAccountForm.l_name.errorStr"> {{ editAccountForm.l_name.errorStr }}</span></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="fg-wrap">
                        <div gs-pg-form-group class="form-group form-group-default required">
                            <label for="email" ng-class="{fade : accountInfo.profile.user.emailId}">Email</label>
                            <input type="email" class="form-control" id="email" name="email" ng-model="accountInfo.profile.user.emailId" required>
                        </div>
                        <div class="fg-element-error"><span style="color: red" ng-show="editAccountForm.email.errorStr"> {{ editAccountForm.email.errorStr }}</span></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="fg-wrap">
                        <div gs-pg-form-group class="form-group form-group-default form-group-default-select required">
                            <label for="country" ng-class="{fade : accountInfo.profile.user.country}">Country of Residence</label>
                            <ui-select ng-model="accountInfo.profile.user.country" id="country" name="country" theme="bootstrap" skip-focusser="true" ng-disabled="disableUISelect" required>
                                <ui-select-match
                                        placeholder="Select or search for a country">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices
                                        group-by="'region'"
                                        repeat="item in accountInfo.profile.countries | filter: $select.search">

                                    <span ng-bind-html="accountInfo.profile.trustAsHtml((item.name | highlight: $select.search))"></span>
                                </ui-select-choices>
                                <ui-select-no-choice>
                                    Your search doesn't match any existing countries.
                                </ui-select-no-choice>
                            </ui-select>
                        </div>
                        <div class="fg-element-error"><span style="color: red" ng-show="editAccountForm.country.errorStr"> {{ editAccountForm.country.errorStr }}</span></div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="row">
            <div class="col-md-12 m-t-10">
                <button type="submit" class="btn btn-complete" ng-click="accountInfo.profile.updateAccountDetails(editAccountForm)">Save</button>
            </div>
        </div>
    </form>
</div>