<div class="tab-pane slide-left" id="updatePassword">
    <form name="updatePasswordForm" class="" role="form" novalidate gs-form-validation ng-keyup="changePassword.updatePW.updatePassword(updatePasswordForm,$event)">
        <fieldset>

            <div class="alert alert-danger" role="alert" ng-show="changePassword.updatePW.errorMessage">{{changePassword.updatePW.errorMessage}}</div>

            <div class="fg-wrap">
                <div gs-pg-form-group class="form-group form-group-default required">
                    <label for="oldPassword" ng-class="{fade : changePassword.updatePW.oldPassword}">Old Password</label>
                    <div class="controls">
                        <input type="password" autocomplete="off" id="oldPassword" name="oldPassword" class="form-control" ng-model="changePassword.updatePW.oldPassword" ng-blur="changePassword.updatePW.compare()" maxlength="45" required ng-minlength="4" minlengtherror="Your password must have a minimum of 4 characters.">
                    </div>
                </div>
                <div class="fg-element-error"><span ng-show="updatePasswordForm.oldPassword.errorStr"> {{ updatePasswordForm.oldPassword.errorStr }}</span></div>
            </div>

            <div class="fg-wrap">
                <div gs-pg-form-group class="form-group form-group-default required">
                    <label for="newPassword" ng-class="{fade : changePassword.updatePW.newPassword}">New Password</label>
                    <div class="controls">
                        <input validatePwd="update" type="password" autocomplete="off" id="newPassword" name="newPassword" class="form-control" ng-model="changePassword.updatePW.newPassword" ng-focus="passwordPolicyMsg()" ng-blur="changePassword.updatePW.compare();isDisplay=false;" maxlength="45" required ng-minlength="8" minlengtherror="Your password must have a minimum of 8 characters.">
                    </div>
                </div>
                <span class="passwordMsgColor"  ng-show="isDisplay && !updatePasswordForm.newPassword.errorStr" notranslate> {{passwordMsg}}</span>
                <div class="fg-element-error"><span ng-show="updatePasswordForm.newPassword.errorStr"> {{ updatePasswordForm.newPassword.errorStr }}</span></div>
            </div>

            <div class="fg-wrap">
                <div gs-pg-form-group class="form-group form-group-default required">
                    <label for="verifyPassword" ng-class="{fade : changePassword.updatePW.verifyPassword}">Confirm New Password</label>
                    <div class="controls">
                        <input type="password" autocomplete="off" id="verifyPassword" name="verifyPassword" confirm="newPassword" class="form-control" ng-model="changePassword.updatePW.verifyPassword" maxlength="45" ng-blur="changePassword.updatePW.compare()" required ng-minlength="8" minlengtherror="Your password must have a minimum of 8 characters.">
                    </div>
                </div>
                <div class="fg-element-error"><span  ng-show="updatePasswordForm.verifyPassword.errorStr"> {{ updatePasswordForm.verifyPassword.errorStr }}</span></div>
            </div>

        </fieldset>
        <div class="row">
            <div class="col-md-12 m-t-10">
                <button type="submit" class="btn btn-complete" ng-mousedown="changePassword.updatePW.updatePassword(updatePasswordForm)">Update</button>
            </div>
        </div>
    </form>
</div>