
<div class="container-fluid container-fixed-lg m-t-25" id="user-profile">
	<div class="row">
		<div class="col-lg-6">
			<div class="panel panel-default">
				<ul id="accountSettingsTab" class="nav nav-tabs nav-tabs-simple nav-tabs-primary sm-t-cell third" role="tablist">
					<li ui-sref-active="active">
						<a data-toggle="tab" role="tab" data-target="#" ui-sref="support.profile.accountInformation">Edit <span class="sm-nxt-ln">Account</span></a>
					</li>
					<li ui-sref-active="active">
						<a data-toggle="tab" role="tab" data-target="#" ui-sref="support.profile.changePassword">Change <span class="sm-nxt-ln">Password</span></a>
					</li>
				</ul>
				<div class="tab-content graphs bg-white allow-overflow">
					<ui-view></ui-view>
				</div>
			</div>
		</div>
	</div>
</div>