<div class="panel-heading auto-height">
    <div class=" panel-title p-b-10">Roaming profiles associated with the enterprise account</div>
    <div id="datatable-controls" gs-datatable-controls>

        <gs-data-table-search table-obj="dataTableObj" search-val="entRPAssociation.searchValue"></gs-data-table-search>
        <div class="clearfix visible-sm visible-xs"></div>


        <div class="btn-group inline-block m-b-5" gs-has-permission="UPDATE_ROAMING_PROFILE_ACCOUNT_MAP">
            <button type="button" class="btn btn-complete" ng-click="entRPAssociation.entAssociateRP()">Associate Roaming Profile</button>
        </div>
        <div class="clearfix visible-xs"></div>

        <div class="w-smaller pull-right">
            <gs-data-table-filter table-obj="dataTableObj" filter="selectedDisplayLength"  label="Items per page" list="dataTableObj.displayLengthvalues" disable-select="isPageSizeFilterDisabled" enable-search="false"></gs-data-table-filter>
        </div>
        <div class="clearfix visible-xs"></div>
    </div>
</div>
<div class="panel-body gs-data-table">
    <div id="paceTableBlockDiv" class="paceDiv"></div>
    <table id="{{dataTableObj.tableID}}" class="table table-striped no-leading-checkbox" width="100%" gs-generate-table-body>
        <thead>
        <tr>
            <th ng-repeat="header in dataTableObj.tableHeaders">{{header.value}}</th>
        </tr>
        </thead>
    </table>
</div>
<div ng-include="lazyLoadURL+'app/assets/support/enterprises/enterprise/roaming-profiles/profiles/modal-associate-roaming-profile.html'"></div>