<div class="row" gs-has-permission="READ_CDR_METRICS,SIM_CDR_READ_ADVANCED">
    <div class="col-md-12">
        <div class="panel panel-default panel-with-export" ng-controller="CdrDataCtrl as CdrDataCtrl" test-arg="CdrDataCtrl">
            <div class="panel-heading m-b-5">
                <div class="panel-title p-t-10">
                    Country wise Active SIMs
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div ng-include="lazyLoadURL+'app/assets/support/customer-activity/cdr/cdr-data/cdr-data-table.html'"></div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="cdrFilters.country" gs-has-permission="SIM_CDR_READ_ADVANCED">
    <div class="col-md-12">
        <div class="panel panel-default panel-with-export" ng-controller="CdrEventsCtrl as CdrEventsCtrl" test-arg="CdrEventsCtrl">
            <div class="panel-heading m-b-5">
                <div class="panel-title p-t-10">
                    Call Data Records
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div ng-include="lazyLoadURL+'app/assets/support/customer-activity/cdr/cdr-events/cdr-events-table.html'"></div>
            </div>
        </div>
    </div>
</div>