/*
	
	GigSky - Enterprise Portal 
	version: 1.1

-------------------------------------------------------------------*/
/*
	variables.less

-------------------------------------------------------------------*/
.theme-border {
  border: 1px solid rgba(0, 0, 0, 0.07);
}
/* Status for use in data tables */
/*
	typography.less

-------------------------------------------------------------------*/
/*
	@template *
*/
@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/gothic.eot');
  src: local('gothic'), url('../fonts/gothic.woff') format('woff'), url('fonts/gothic.ttf') format('truetype');
}
@font-face {
  font-family: 'Century Gothic Bold';
  src: url('../fonts/gothic-bold.eot');
  src: local('gothic-bold'), url('../fonts/gothic-bold.woff') format('woff'), url('../fonts/gothic-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKWiUNhrIqY.ttf) format('truetype');
}
/*
	override.less

-------------------------------------------------------------------*/
/*
	@template *	
*/
.pace .pace-activity {
  top: 50%;
  right: 50%;
  /* Preserve perfect center based on width and height */
  height: 50px;
  width: 50px;
  margin-top: -25px;
  margin-right: -25px;
}
.login-wrapper .bg-pic,
.login-wrapper .login-container {
  visibility: hidden;
  overflow-y: hidden;
}
.login-wrapper .pace.pace-active,
.login-wrapper .pace:not(.body-initial-load-complete) {
  height: 100% !important;
  height: 100vh !important;
  background-color: #fafafa;
  position: relative;
  z-index: 200;
}
/*
overriding  backface-visibility to have default value as it was
causing labels to be displayed as blur
*/
.form-group-default.focused label {
  -webkit-backface-visibility: initial;
  -moz-backface-visibility: initial;
  backface-visibility: initial;
}
.form-group-default label.fade {
  -webkit-backface-visibility: initial;
  -moz-backface-visibility: initial;
  backface-visibility: initial;
}
body {
  overflow-x: hidden;
  /* Bootstrap - Modal overflow issues - Fix */
}
body:not(.initial-view-loading) .pace.pace-active,
body:not(.initial-view-loading) .pace:not(.body-initial-load-complete) {
  background-color: transparent !important;
}
body:not(.initial-view-loading) .page-container .page-content-wrapper .content > .content-inner-wrapper {
  visibility: visible !important;
}
body:not(.initial-view-loading) .page-container .page-content-wrapper .footer {
  display: block !important;
}
body.initial-view-loading .page-content-wrapper .content > .content-inner-wrapper {
  visibility: hidden;
  overflow-y: hidden;
}
body.menu-pin .page-sidebar .sidebar-header .sidebar-header-controls {
  -webkit-transform: translate3d(24px, 0, 0);
  transform: translate3d(24px, 0, 0);
  -ms-transform: translate(24px, 0);
}
body.menu-pin .page-sidebar button.stick-menu {
  display: inline !important;
}
body.sidebar-visible .page-sidebar {
  -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
}
body.sidebar-visible .page-sidebar .sidebar-header .sidebar-header-controls {
  -webkit-transform: translate3d(24px, 0, 0);
  transform: translate3d(24px, 0, 0);
  -ms-transform: translate(24px, 0);
}
body.sidebar-visible .page-sidebar button.stick-menu {
  display: inline !important;
}
body.sidebar-open .page-sidebar {
  -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
}
body.sidebar-open .page-sidebar button.stick-menu {
  display: none !important;
}
body.sidebar-open .pgn-wrapper {
  -webkit-transform: translate3d(280px, 0, 0);
  transform: translate3d(280px, 0, 0);
  -ms-transform: translate(280px, 0);
}
@media only screen and (max-width: 991px) {
  body.sidebar-open .pgn-wrapper {
    -webkit-transform: translate3d(255px, 0, 0);
    transform: translate3d(255px, 0, 0);
    -ms-transform: translate(255px, 0);
  }
}
body.modal-open {
  position: fixed;
  width: 100%;
  height: 100%;
}
body.modal-open .page-container .page-content-wrapper .content {
  z-index: auto;
}
body .pgn-wrapper {
  -webkit-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}
@media only screen and (max-width: 991px) {
  body .pgn-wrapper[data-position="top"] {
    top: 60px;
    left: 0 !important;
  }
}
@media only screen and (max-width: 767px) {
  body .pgn-wrapper[data-position="top"] {
    top: 48px;
  }
}
.page-sidebar button.stick-menu {
  display: none !important;
}
.page-container .page-content-wrapper {
  background-color: #fafafa;
}
.page-container .page-content-wrapper .footer {
  display: none;
  z-index: 11;
}
.page-content-wrapper .content .pace.pace-active,
.page-content-wrapper .content .pace:not(.body-initial-load-complete) {
  background-color: #fafafa;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
}
.body-initial-load-complete .page-content-wrapper .content > .content-inner-wrapper,
.body-initial-load-complete .login-wrapper .bg-pic,
.body-initial-load-complete .login-wrapper .login-container {
  visibility: visible;
}
.body-initial-load-complete .login-wrapper,
.body-initial-load-complete .login-container {
  overflow-y: auto;
}
.body-initial-load-complete .page-container .page-content-wrapper .footer {
  display: block;
}
.form-group label:not(.error) {
  font-size: 14px;
  text-transform: none;
}
.exportOptions .DTTT.btn-group a {
  display: none !important;
}
.panel-group .panel-heading .panel-title {
  vertical-align: middle;
}
.panel-group .panel-heading .panel-title > a:after {
  -webkit-transition: all 0.12s ease;
  transition: all 0.12s ease;
  content: "\f106";
}
.panel-group .panel-heading .panel-title > a.collapsed:after {
  content: "\f106";
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
@media only screen and (max-width: 991px) {
  .quickview-wrapper {
    -webkit-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
  }
}
.quickview-wrapper .quickview-toggle {
  font-size: 20px;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background-position: center left;
}
.switchery {
  height: 24px;
  width: 40px;
}
.switchery > small {
  height: 24px;
  width: 24px;
}
/* Sidebar Menu */
.icon-thumbnail {
  -webkit-perspective: 1000;
}
@media only screen and (min-height: 430px) {
  body.mobile .sidebar-menu > ul {
    height: calc(100% - 10px) !important;
  }
}
body.mobile .sidebar-menu {
  overflow: auto;
}
/* Alerts - Quickview Menu */
.quickview-wrapper {
  background-color: #04061e;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.quickview-wrapper.open {
  -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
}
.quickview-wrapper .list-view-group-container {
  padding: 0;
}
.quickview-wrapper .list-view-group-header {
  position: static;
  padding: 6px 15px;
  background-color: #04061e;
  color: #CCC;
  border-top: 1px solid #1d1f34;
  border-bottom: 1px solid #1d1f34;
}
/* Search icon */
#datatable-controls #search-table .icon-thumbnail,
#overridetable .datatable-controls #search-table .icon-thumbnail {
  display: inline-block;
  line-height: 32px;
  margin-right: 0;
  cursor: pointer;
  height: 34px;
  border-radius: 2px;
}
#datatable-controls #search-table .icon-thumbnail .pg-search,
#overridetable .datatable-controls #search-table .icon-thumbnail .pg-search {
  font-size: 12px !important;
}
#datatable-controls #search-table .icon-thumbnail:focus,
#overridetable .datatable-controls #search-table .icon-thumbnail:focus,
#datatable-controls #search-table .icon-thumbnail:active,
#overridetable .datatable-controls #search-table .icon-thumbnail:active,
#datatable-controls #search-table .icon-thumbnail:hover,
#overridetable .datatable-controls #search-table .icon-thumbnail:hover {
  opacity: 0.9;
}
#datatable-controls #search-table .search-without-icon,
#overridetable .datatable-controls #search-table .search-without-icon {
  width: auto !important;
}
/*** General Small Screen Desktops ***/
/*** General tablets and phones ***/
@media (max-width: 991px) {
  .page-container {
    z-index: auto;
    -webkit-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
  }
  .sm-action-bar {
    line-height: 1;
  }
  .sm-action-bar > a {
    padding: 26px 17px 23px 18px;
    display: inline-block;
    background: #36384b;
    color: #CCC;
  }
  .sm-action-bar > a:hover,
  .sm-action-bar > a:focus {
    background: #36384b;
  }
  .pace .pace-activity {
    top: 50%;
  }
  body.menu-pin .page-sidebar button.stick-menu,
  body.sidebar-visible .page-sidebar button.stick-menu {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
    margin-top: 10px !important;
  }
  .sm-action-bar {
    line-height: 1;
  }
  .sm-action-bar > a {
    padding: 20px 17px 17px 18px;
  }
  /* Handle bootstrap issue for .container-fluid .col padding-right issue. */
  .container-fluid {
    overflow-x: hidden;
  }
}
@media (max-width: 480px) {
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
    text-align: center !important;
  }
  .dataTables_wrapper .dataTables_paginate {
    padding: 0 20px !important;
  }
  .dataTables_wrapper .dataTables_paginate ul {
    padding-left: 0 !important;
  }
  .panel .panel-heading {
    padding-right: 15px !important;
  }
  #datatable-controls #search-table,
  #overridetable .datatable-controls #search-table {
    height: 36px;
  }
  #datatable-controls .defaultBtnGroup,
  #overridetable .datatable-controls .defaultBtnGroup {
    width: 100% !important;
  }
  #datatable-controls #group-addition,
  #overridetable .datatable-controls #group-addition,
  #datatable-controls #invoice-upload,
  #overridetable .datatable-controls #invoice-upload {
    width: 100% !important;
  }
}
/*
	@template tpl/blocks/header.html
*/
.header {
  border-bottom-color: #1d1f34;
  padding: 0 !important;
}
.header .brand {
  text-align: right;
  width: 228px;
}
@media only screen and (max-width: 991px) {
  .header .brand {
    /*width: auto;*/
  }
}
.header .header-inner .menu-hambuger-plus {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.25);
}
.page-sidebar {
  display: block !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media only screen and (max-width: 991px) {
  .page-sidebar {
    -webkit-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    -webkit-transform: translate3d(-255px, 0px, 0px) !important;
    transform: translate3d(-255px, 0px, 0px) !important;
  }
  .page-sidebar.visible {
    -webkit-transform: translate3d(0px, 0px, 0px) !important;
    transform: translate3d(0px, 0px, 0px) !important;
  }
}
.page-sidebar .sidebar-menu .menu-items > li > a:not(.dd-sb-menu) {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.25);
}
.page-sidebar .sidebar-menu .menu-items > li > a .title {
  display: inline-block;
  width: 90%;
}
.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li > a {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.25);
}
.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li .title {
  display: inline-block;
}
.users-name span {
  color: #FFF;
  vertical-align: middle;
}
.users-name span.username-or-email {
  display: inline-block;
  text-align: right;
  text-overflow: ellipsis;
  width: 265px;
  white-space: nowrap;
  overflow: hidden;
}
@media only screen and (max-width: 1199px) {
  .users-name span.username-or-email {
    width: 165px;
  }
}
.icon-set.menu-hambuger-plus.grey {
  background: url('../img/icons/top_tray_ccc.png') no-repeat;
  position: relative;
  background-position: -77px -1px;
  width: 18px;
  height: 15px;
}
.icon-set.menu-hambuger.grey {
  background: url('../img/icons/top_tray_ccc.png') no-repeat;
  position: relative;
  background-position: -58px -3px;
  width: 15px;
  height: 13px;
}
.modal-subHeader {
  padding-left: 4px;
  padding-right: 0px;
  padding-top: 4px;
  padding-bottom: 5px;
  background: #cccccc !important;
  border-bottom-width: 4px;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Montserrat';
}
.form-group-default .ui-select-bootstrap .ui-select-search-hidden {
  height: 0;
  min-height: 0;
  margin-top: 0;
}
.panel-title-color {
  color: #626262;
}
.ui-select-bootstrap .ui-select-no-choice {
  background-color: #fef6dd;
  color: #957d32;
  padding: 0 10px;
}
.modal-content .zoneStatusModal {
  max-height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 0;
}
.modal-content .assignUserTable {
  max-height: 320px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 0;
}
.modal-content .assignUserTable .header-color {
  background-color: #f2efff;
}
.zoneStatusModal .zoneStatusContainer {
  padding-bottom: 25px;
}
.panel-heading .exportAnchor {
  opacity: unset;
  color: #ffffff !important;
}
.panel-heading .exportDisabled {
  opacity: 0.65 !important;
  color: #ffffff !important;
}
.tier-error {
  color: #f55753;
}
.currency-input {
  display: inline-block;
  width: calc(100% - 20px) !important;
}
.currency-span {
  vertical-align: unset !important;
  margin-top: -4px;
}
/*
	general.less

-------------------------------------------------------------------*/
/*
	@template *
*/
/* Add visible scroll bars to OSx */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
}
::-webkit-scrollbar-thumb {
  height: 10px;
  width: 10px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7.5px;
  background-color: rgba(0, 0, 0, 0.35);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar-track {
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.07);
}
/* SVG spinner fix for IE */
.rotateBox {
  /*position: relative;
	height: 150px;
	width: 150px;*/
  -ms-transform-origin: center center !important;
  -ms-animation: fa-spin 2s infinite linear !important;
}
.alert.alert-plain {
  padding: 0;
}
.allow-overflow,
.nav-tabs ~ .tab-content.allow-overflow {
  overflow: visible;
}
.spacer {
  margin: 0 25px;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}
.data-unit {
  vertical-align: baseline;
  text-transform: uppercase;
  line-height: 1;
  font-size: 80%;
  font-weight: 600;
  margin-left: 3px;
}
.alert-loading-box,
.loading-box {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -1.25em;
  margin-right: -1.25em;
  font-size: 2em;
  line-height: 2.5em;
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 1.25em;
  -webkit-border-radius: 1.25em;
  -moz-border-radius: 1.25em;
}
.alertSideBarLoading {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1999;
  background-color: #fafafa !important;
  opacity: 0.5;
}
/* header */
.header {
  padding: 0 15px 0 0;
}
.navigation-wrapper {
  height: 60px;
  line-height: 60px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .navigation-wrapper {
    height: 48px;
    line-height: 48px;
  }
}
.navigation-wrapper > div:first-child {
  float: left;
  display: inline-block;
}
@media only screen and (max-width: 991px) {
  .navigation-wrapper > div:first-child {
    display: none;
  }
}
.navigation-wrapper > div.app-logo {
  position: absolute;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 0;
}
.navigation-wrapper > div.app-logo .product-role {
  /* Open Sans is included only at 700 weight and italic style */
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
  text-transform: capitalize;
}
.navigation-wrapper > div.app-logo .product-role sup {
  font-size: 60%;
  top: -0.47em;
}
.navigation-wrapper > div.users-name {
  float: right;
  margin-right: 25px;
}
@media only screen and (max-width: 991px) {
  .navigation-wrapper > div.users-name {
    display: none;
  }
}
.navigation-wrapper #account-selector {
  line-height: 55px;
  background: inherit;
  padding: 5px 15px 0;
  color: #CCC;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.35s color ease-in-out;
  transition: 0.35s color ease-in-out;
}
.navigation-wrapper #account-selection-panel {
  height: 100px;
  background-color: transparent;
  top: 60px;
}
.navigation-wrapper #account-selection-panel .last {
  height: 60px;
}
.navigation-wrapper #account-selection-panel .defaultCursor {
  cursor: default;
}
.navigation-wrapper .account-close-btn {
  font-size: 20px;
  line-height: 55px;
}
.gem-logo {
  font-family: 'Century Gothic Bold', CenturyGothic, AppleGothic, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: #ffffff !important;
  width: 370px;
  display: inline-block;
  text-align: center;
  line-height: 60px;
}
.gem-logo:hover,
.gem-logo:focus,
.gem-logo:active {
  color: #ffffff !important;
}
@media only screen and (max-width: 767px) {
  .gem-logo {
    font-size: 16px;
    width: 100%;
    white-space: nowrap;
    line-height: 48px;
  }
}
@media only screen and (max-width: 480px) {
  .gem-logo {
    font-size: 12px;
  }
}
/* Sidebar */
body.mobile.sidebar-visible .page-sidebar .sidebar-header .toggle-sidebar {
  -webkit-transform: translate3d(-14px, 0, 0);
  transform: translate3d(-14px, 0, 0);
  -ms-transform: translate(-14px, 0);
}
body.mobile .sidebar-header .toggle-sidebar {
  display: inline-block;
  visibility: hidden;
  width: 126px;
  vertical-align: middle;
  text-align: right;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.05, 0.74, 0.27, 0.99) !important;
  transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.27, 0.99) !important;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body.mobile .sidebar-header .toggle-sidebar .menu-hambuger {
  display: inline-block;
}
.sub-menu li > span.account-alert .fa-bell-o,
.sub-menu li > span.group-alert .fa-bell-o,
.sub-menu li > span.sim-alert .fa-bell-o {
  position: absolute;
  top: 11px;
  left: 12px;
}
.sub-menu li > span.account-alert .fa-gear {
  position: absolute;
  top: 6px;
  left: 5px;
}
.sub-menu li > span.group-alert .fa-group {
  position: absolute;
  top: 6px;
  left: 5px;
  font-size: 12px;
}
.sub-menu li > span.sim-alert .fa-signal {
  position: absolute;
  top: 4px;
  left: 4px;
  font-size: 12px;
}
body.desktop .toggle-sidebar-tablet {
  display: none;
}
/* Sidebar */
.logout-listitem {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
@media only screen and (max-height: 430px) {
  .logout-listitem {
    position: static;
  }
}
/* Content Covers */
.cover-background {
  background-color: #fafafa;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 199;
}
.loading-indicator-body {
  background-color: #fafafa;
  position: absolute;
  height: 100%;
  height: 100vh;
  height: calc(100vh - 61px);
  width: 100%;
  z-index: 200;
}
.loading-indicator-body .loading-title {
  top: 50%;
  right: 50%;
  /* Preserve perfect center based on width and height */
  margin-right: -25px;
  margin-top: -25px;
  height: 50px;
  width: 50px;
  position: absolute;
}
.login-wrapper .loading-indicator-body {
  height: 100% !important;
  height: 100vh !important;
}
body.state-complete .cover-background {
  display: none;
}
#usertb {
  position: relative;
}
@media only screen and (max-width: 991px) {
  body.pace-running #usertb.content {
    overflow-x: visible;
  }
}
/* Modals */
/* Fixing issue w/ bootstrap 3.3.4
	- Reference https://github.com/twbs/bootstrap/pull/15881
*/
.modal-dialog {
  z-index: 1050;
}
@media only screen and (min-width: 992px) {
  .modal-lg-780 {
    width: 780px;
    /* New width for large modal */
  }
}
.modal.modal-bar-chart .modal-body {
  /* graph height plus 75 */
  min-height: 475px;
}
@media only screen and (max-width: 650px) {
  .modal.modal-bar-chart .modal-body {
    min-height: 200px;
  }
}
@media only screen and (max-width: 991px) and (max-height: 510px) {
  .modal.modal-bar-chart .modal-body {
    max-height: 350px;
    min-height: 350px;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 991px) and (max-height: 370px) {
  .modal.modal-bar-chart .modal-body {
    max-height: 290px;
    min-height: 290px;
  }
}
.modal .modal-header.only-close {
  min-height: 0px;
  padding: 0;
}
.modal .modal-header.only-close .close {
  position: absolute;
  top: 25px;
  right: 20px;
  /* Allow the close button to be over the SVG graph header */
  z-index: 10;
}
/* Breadcrumbs */
.breadcrumb-wrapper {
  background-color: #f0f0f0;
  padding: 8px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.breadcrumb-wrapper .breadcrumb {
  padding: 0;
}
.breadcrumb-wrapper .breadcrumb li {
  font-size: 12px;
}
.breadcrumb-wrapper .breadcrumb li a {
  color: #3a8fc8;
  font-size: 12px !important;
}
@media (max-width: 767px) {
  .breadcrumb-wrapper {
    padding: 8px 20px;
  }
}
/* Tooltips */
.tooltip.gs-tooltip.top .tooltip-arrow {
  border-top-color: #1d1f34;
}
.tooltip.gs-tooltip.right .tooltip-arrow {
  border-right-color: #1d1f34;
}
.tooltip.gs-tooltip.bottom .tooltip-arrow {
  border-bottom-color: #1d1f34;
}
.tooltip.gs-tooltip.left .tooltip-arrow {
  border-left-color: #1d1f34;
}
.tooltip.gs-tooltip .tooltip-inner {
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.07);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.07);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  padding: 3px 8px;
  border: 1px solid #1d1f34;
  background-color: #04061e;
  font-family: Arial;
  font-size: 13px;
  color: #CCC;
}
/* Utility Classes */
.line-break {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.07);
  width: 100%;
  display: block;
}
.text-match-parent,
a.text-match-parent {
  color: inherit;
}
a.text-match-parent {
  text-decoration: underline;
}
a.text-match-parent:focus,
a.text-match-parent:hover {
  color: inherit !important;
}
.word-wrap {
  word-wrap: break-word;
}
.mb-1-percent {
  margin-bottom: 1%;
}
.ws-normal {
  white-space: normal !important;
}
.text-no-transform {
  text-transform: none !important;
}
.color-active {
  color: #0da899;
}
.color-inactive {
  color: #c64643;
}
@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  body.menu-pin .sm-t-cell.nav-tabs li {
    display: table-cell;
  }
  body.menu-pin .sm-t-cell.nav-tabs li .sm-nxt-ln {
    display: block;
  }
  body.menu-pin .sm-t-cell.nav-tabs.half li {
    width: 50%;
  }
  body.menu-pin .sm-t-cell.nav-tabs.third li {
    width: 33.33333333%;
  }
}
@media only screen and (max-width: 500px) {
  .sm-t-cell.nav-tabs li {
    display: table-cell;
  }
  .sm-t-cell.nav-tabs li .sm-nxt-ln {
    display: block;
  }
  .sm-t-cell.nav-tabs.half li {
    width: 50%;
  }
  .sm-t-cell.nav-tabs.third li {
    width: 33.33333333%;
  }
}
/* Terms of Use and Privacy Policy */
.no-list-type {
  list-style: none;
}
.legal-header {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.effective-date {
  font-family: 'Montserrat';
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: 12px;
  font-weight: 600;
  margin: 15px 0 0 0;
  padding: 0;
  display: block;
  padding-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
}
@media (max-width: 400px) {
  .header .col-xs-3 {
    width: 15%;
  }
}
@media (max-width: 320px) {
  .header .col-xs-3 {
    width: 10%;
  }
}
/* Private mode not supported message*/
.privateModeMsg {
  font-size: 20px;
}
@media (max-width: 400px) {
  .privateModeMsg {
    font-size: 15px;
  }
}
/* Maintenance */
.maintenance .logo-box {
  height: 61px;
  width: 100%;
  line-height: 61px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.maintenance .error-container {
  margin-top: 0;
  max-width: 500px;
  width: 100%;
  padding: 81px 15px;
}
/*
  Wrap any .nav-tabs in this and it will transition the placement of the
  nav tabs to top on mobile.
*/
.mobile-tabs-top {
  /*
	  @media queries are specific to string length of each list item
		  - Enterprise Usage By Day
		  - Zone Data Usage
		  - Group Data Usage
		  - Group Usage By Week
	*/
}
@media only screen and (max-width: 991px) {
  .mobile-tabs-top .nav-tabs {
    float: none;
    font-size: 0;
  }
  .mobile-tabs-top .nav-tabs.nav-tabs-left ~ .tab-content {
    border-left: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .mobile-tabs-top .nav-tabs.mobile-fifths li {
    width: 20%;
  }
  .mobile-tabs-top .nav-tabs.mobile-sixth li {
    width: 16.66666667%;
  }
  .mobile-tabs-top .nav-tabs.mobile-seventh li {
    width: 14.28571429%;
  }
  .mobile-tabs-top .nav-tabs li {
    float: left;
    width: 25%;
    vertical-align: middle;
  }
  .mobile-tabs-top .nav-tabs li:after {
    top: calc(100% - 3px);
    top: initial;
    width: 100% !important;
    height: 0;
  }
  .mobile-tabs-top .nav-tabs li.active:after,
  .mobile-tabs-top .nav-tabs li:hover:after {
    height: 3px;
  }
  .mobile-tabs-top .nav-tabs li a {
    height: 66px;
    vertical-align: middle;
    display: table-cell;
  }
  .mobile-tabs-top .nav-tabs.taller li a {
    height: 83px;
  }
  .mobile-tabs-top .nav-tabs.half li {
    width: 50% !important;
  }
}
@media only screen and (min-width: 504px) and (max-width: 556px) {
  .mobile-tabs-top .nav-tabs li a {
    height: 83px;
  }
}
@media only screen and (max-width: 504px) {
  .mobile-tabs-top .nav-tabs li a {
    height: 100px;
  }
}
/* Custom Portlet Design - Must be used on .panel */
.portlet-info.panel {
  background-color: #6d5cae;
  color: #e2deef;
}
.portlet-info.panel .panel-heading {
  color: #e2deef;
  padding: 15px 20px;
  min-height: initial;
}
.portlet-info.panel .panel-heading .panel-title {
  vertical-align: middle;
  line-height: 1;
}
.portlet-info.panel .panel-heading a {
  color: #e2deef !important;
  opacity: 0.8;
}
.portlet-info.panel .panel-heading .panel-controls {
  margin-top: 0;
}
.portlet-info.panel .panel-body a {
  color: #C5B6FF;
  cursor: pointer;
}
.portlet-info.panel .panel-body a:hover,
.portlet-info.panel .panel-body a:focus {
  color: #ffffff;
}
/* Theme Extension */
.inline-block {
  display: inline-block;
}
.display-block {
  display: block;
}
.nowrap {
  white-space: nowrap;
}
@media only screen and (max-width: 991px) {
  .md-m-t-15 {
    margin-top: 15px;
  }
}
@media only screen and (max-width: 991px) {
  .md-m-l-0 {
    margin-left: 0;
  }
}
@media only screen and (max-width: 991px) {
  .md-m-r-0 {
    margin-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .sm-m-t-0 {
    margin-top: 0;
  }
}
@media only screen and (max-width: 767px) {
  .sm-w-100 {
    width: 100% !important;
  }
}
@media only screen and (max-width: 991px) {
  .md-m-t-10 {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 991px) {
  .md-m-t-5 {
    margin-top: 5px;
  }
}
@media only screen and (max-width: 480px) {
  .xs-p-t-15 {
    padding-top: 15px;
  }
}
@media only screen and (min-width: 1011px) {
  .visible-1010 {
    display: none !important;
  }
}
@media only screen and (max-width: 1010px) {
  .visible-1010 {
    display: block !important;
  }
  .visible-1010.visible-m-t-10 {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 1010px) {
  .m-t-10-at-1010 {
    margin-top: 10px;
  }
}
/* Info Questions */
.info-question-circle {
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  height: 24px;
  width: 24px;
  line-height: 24px;
  vertical-align: middle;
  text-align: center;
  background-color: #e6e6e6;
}
.disabledComponent {
  background-color: #fafafa !important;
  opacity: 0.5;
}
/*labels in export modal*/
.export-label {
  font-family: "Segoe UI", Arial, sans-serif !important;
  font-weight: normal !important;
}
@media only screen and (max-width: 330px) {
  .xs-export-m-r-35 {
    margin-right: 35% !important;
  }
  .xs-export-m-l-9 {
    margin-left: 9%;
  }
}
.loading-activity {
  animation: none;
  background: url('../../pages/img/progress/progress-circle-success.svg') no-repeat top left;
  background-size: 100% auto;
  margin: 0 auto;
  border-width: 0;
  border-radius: 0;
  top: 50%;
  right: 50%;
  height: 50px;
  width: 50px;
  margin-top: -25px;
  margin-right: -25px;
  display: block;
  position: fixed;
  z-index: 2000;
  transform: rotate(3deg) translate(0px, -4px);
  border-top-color: #22df80;
  border-left-color: #22df80;
}
/* customised and default action buttons */
.btn-complete.customizedBtn {
  color: #626262;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}
.btn-complete.customizedBtn:focus,
.btn-complete.customizedBtn:hover {
  background-color: #f2f2f2 !important;
  border-color: #f2f2f2 !important;
}
.btn-complete.defaultActionBtn {
  background-color: #10cfbd;
  border-color: #10cfbd;
}
.btn-complete.defaultActionBtn:focus,
.btn-complete.defaultActionBtn:hover {
  background-color: #12edd7 !important;
  border-color: #12edd7 !important;
}
h5.customizedHeader {
  color: #10cfbd !important;
  font-weight: 400;
}
span.customizedSpan {
  background-color: #ccffff !important;
}
.RP-association-details {
  font-size: 12px;
  font-weight: 600;
}
.RP-association-details span {
  font-weight: 100;
}
.RP-association-details .country-modal {
  color: #3a8fc8 !important;
  opacity: unset;
}
@media only screen and (min-width: 1200px) {
  .app-logo {
    left: 50%;
  }
}
@media only screen and (max-width: 1200px) {
  .app-logo {
    left: 40%;
  }
}
@media only screen and (min-width: 900px) {
  .app-logo {
    left: 50%;
  }
}
#updateAssigneeModal p {
  color: #707070;
}
/*
	tables.less

	@templates
		tpl/app/assets/users/users.html
		tpl/app/assets/sims/sims.html
		tpl/app/assets/groups/groups.html
		tpl/app/assets/alerts/enterprise-spend-alerts.html
		tpl/app/assets/alerts/zone-spend-alerts.html
		tpl/app/assets/alerts/per-sim-default-alerts.html
		tpl/app/assets/alerts/per-zone-per-sim-default-alerts.html
*/
.gs-data-table.with-editable-input tbody td:not(.checkbox-table-cell),
.gs-data-table.with-editable-input thead td:not(.checkbox-table-cell),
.gs-data-table.with-editable-input .table tbody td:not(.checkbox-table-cell),
.gs-data-table.with-editable-input .table thead td:not(.checkbox-table-cell),
.gs-data-table.with-editable-input tbody th,
.gs-data-table.with-editable-input thead th,
.gs-data-table.with-editable-input .table tbody th,
.gs-data-table.with-editable-input .table thead th {
  padding: 10px 10px !important;
}
.gs-data-table tbody td,
.gs-data-table thead td,
.gs-data-table .table tbody td,
.gs-data-table .table thead td,
.gs-data-table tbody th,
.gs-data-table thead th,
.gs-data-table .table tbody th,
.gs-data-table .table thead th {
  padding: 10px;
  vertical-align: middle;
}
.gs-data-table tbody td:not(:first-child),
.gs-data-table thead td:not(:first-child),
.gs-data-table .table tbody td:not(:first-child),
.gs-data-table .table thead td:not(:first-child),
.gs-data-table tbody th:not(:first-child),
.gs-data-table thead th:not(:first-child),
.gs-data-table .table tbody th:not(:first-child),
.gs-data-table .table thead th:not(:first-child) {
  padding-left: 20px !important;
  padding-right: 0px;
}
.gs-data-table tbody td:last-child,
.gs-data-table thead td:last-child,
.gs-data-table .table tbody td:last-child,
.gs-data-table .table thead td:last-child,
.gs-data-table tbody th:last-child,
.gs-data-table thead th:last-child,
.gs-data-table .table tbody th:last-child,
.gs-data-table .table thead th:last-child {
  padding-right: 10px;
}
.gs-data-table tbody td.tdth-usage,
.gs-data-table thead td.tdth-usage,
.gs-data-table .table tbody td.tdth-usage,
.gs-data-table .table thead td.tdth-usage,
.gs-data-table tbody th.tdth-usage,
.gs-data-table thead th.tdth-usage,
.gs-data-table .table tbody th.tdth-usage,
.gs-data-table .table thead th.tdth-usage {
  min-width: 90px;
}
.gs-data-table tbody td.tdth-allocation,
.gs-data-table thead td.tdth-allocation,
.gs-data-table .table tbody td.tdth-allocation,
.gs-data-table .table thead td.tdth-allocation,
.gs-data-table tbody th.tdth-allocation,
.gs-data-table thead th.tdth-allocation,
.gs-data-table .table tbody th.tdth-allocation,
.gs-data-table .table thead th.tdth-allocation {
  min-width: 152px;
}
.gs-data-table tbody td.tdth-nickname,
.gs-data-table thead td.tdth-nickname,
.gs-data-table .table tbody td.tdth-nickname,
.gs-data-table .table thead td.tdth-nickname,
.gs-data-table tbody th.tdth-nickname,
.gs-data-table thead th.tdth-nickname,
.gs-data-table .table tbody th.tdth-nickname,
.gs-data-table .table thead th.tdth-nickname {
  min-width: 220px;
}
.gs-data-table tbody td.tdth-status,
.gs-data-table thead td.tdth-status,
.gs-data-table .table tbody td.tdth-status,
.gs-data-table .table thead td.tdth-status,
.gs-data-table tbody th.tdth-status,
.gs-data-table thead th.tdth-status,
.gs-data-table .table tbody th.tdth-status,
.gs-data-table .table thead th.tdth-status {
  min-width: 80px;
}
.gs-data-table .table-responsive {
  z-index: 0;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  /* Mobile Safari 5.0+ - Momentum Scrolling */
}
.gs-data-table .table-responsive::-webkit-scrollbar-track {
  border: none;
}
.gs-data-table .table.table-striped tbody tr.row-selected td,
.gs-data-table .table.table-striped tbody tr.highlighted-row td {
  background: #fffeea !important;
}
.gs-data-table table {
  border-top: 1px solid rgba(230, 230, 230, 0.7);
}
.gs-data-table table:not(.no-leading-checkbox) thead > tr > th:first-child {
  padding: 0 !important;
}
.gs-data-table table.no-leading-checkbox tbody > tr > td:first-child {
  padding-left: 20px !important;
}
.gs-data-table table.dataTable.customizedAction thead {
  background-color: #ccffff !important;
}
.gs-data-table table.dataTable.customizedAction tbody tr td {
  background-color: azure !important;
}
.gs-data-table table.table-striped.customizedAction tbody tr:nth-child(2n+1) td {
  background-color: azure;
}
.gs-data-table .checkbox-table-cell {
  width: 60px;
  padding: 0 !important;
  padding-left: 10px;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
  /* Quirk - Keep vertical align in the middle for iOS based devices */
}
.gs-data-table .checkbox-table-cell.sorting_asc {
  background-image: none !important;
}
.gs-data-table .checkbox-table-cell label {
  margin-right: 0;
}
.gs-data-table .checkbox-table-cell input[type="checkbox"] {
  display: none;
}
.gs-data-table .checkbox-table-cell .checkbox,
.gs-data-table .checkbox-table-cell .radio {
  line-height: 1;
  margin-left: 10px;
}
.gs-data-table .radio-table-cell {
  padding: 0 !important;
  text-align: center;
  touch-action: manipulation;
}
.gs-data-table .radio-table-cell .radio label {
  margin-bottom: -5px;
}
.gs-data-table .exportOptions {
  display: none;
}
.gs-data-table th.data-unit::after {
  vertical-align: baseline;
  text-transform: uppercase;
  line-height: 1;
  font-size: 80%;
  font-weight: 600;
  margin-left: 3px;
  content: 'in mb';
  display: inline-block;
  opacity: 0.7;
}
.gs-data-table th.data-unit.gb::after {
  content: 'in gb';
}
.gs-data-table th.data-unit.kb::after {
  content: 'in kb';
}
.gs-data-table .usage-value i {
  width: 26px;
  text-align: center;
}
body.modal-open .gs-data-table .table-responsive {
  overflow: hidden !important;
}
@media (max-width: 767px) {
  .gs-data-table .checkbox-table-cell .checkbox,
  .gs-data-table .checkbox-table-cell .radio {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.disableDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block !important;
  z-index: 999 !important;
  background-color: #fafafa !important;
  opacity: 0.5;
}
.table thead tr th[class*='sorting_disabled'] {
  color: #707070;
}
.dataTables_wrapper .dataTables_paginate ul > li.first a,
.dataTables_wrapper .dataTables_paginate ul > li.last a {
  opacity: 1;
}
.dataTables_wrapper .dataTables_paginate ul li.disabled a:hover,
.dataTables_wrapper .dataTables_paginate ul li.disabled a {
  opacity: 0.35 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  color: black !important;
  border: 1px solid transparent;
  background: transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  box-shadow: none;
}
.status-wrapper {
  white-space: nowrap;
}
.status-as-link .status-text {
  text-decoration: underline;
}
.status {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.status:before {
  content: '';
  display: table;
  height: 12px;
  width: 12px;
  border-width: 2px;
  border-style: solid;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
}
.status.active:before,
.status.full-access:before {
  background-color: #10cfbd;
  border-color: #0da899;
}
.status.active + .status-text,
.status.full-access + .status-text {
  color: #0da899;
}
.status.inactive:before,
.status.disable:before,
.status.no-access:before {
  background-color: #f55753;
  border-color: #c64643;
}
.status.inactive + .status-text,
.status.disable + .status-text,
.status.no-access + .status-text {
  color: #c64643;
}
.status.email:before {
  background-color: #6d5cae;
  border-color: #584b8d;
}
.status.email + .status-text {
  color: #584b8d;
}
.status.throttle:before,
.status.partial-access:before {
  background-color: #f8d053;
  border-color: #c9a843;
}
.status.throttle + .status-text,
.status.partial-access + .status-text {
  color: #c9a843;
}
.status.installed:before {
  background-color: #10cfbd;
  border-color: #0da899;
}
.status.installed + .status-text {
  color: #0da899;
}
.status.failed:before {
  background-color: #f55753;
  border-color: #c64643;
}
.status.failed + .status-text {
  color: #c64643;
}
.status.available:before {
  background-color: #30c2e2;
  border-color: #00a8cc;
}
.status.available + .status-text {
  color: #00a8cc;
}
.status.assigned:before {
  background-color: #918d8d;
  border-color: #707070;
}
.status.assigned + .status-text {
  color: #707070;
}
.status.deleted:before {
  background-color: #cccccc;
  border-color: #aaaaaa;
}
.status.deleted + .status-text {
  color: #aaaaaa;
}
.status.downloaded:before {
  background-color: #f8d053;
  border-color: #c9a843;
}
.status.downloaded + .status-text {
  color: #c9a843;
}
.status-text {
  display: inline-block;
  vertical-align: middle;
  text-transform: capitalize;
}
.status-text.yellow {
  color: #c9a843;
}
.status-text.green {
  color: #0da899;
}
.status-text.red {
  color: #c64643;
}
.enterprise-status {
  text-transform: capitalize;
}
.enterprise-status.inactive {
  color: #c9a843;
}
.enterprise-status.active {
  color: #0da899;
}
.enterprise-status.suspended {
  color: #c64643;
}
.RP-association-status.Pending {
  color: #c9a843;
}
.RP-association-status.Pending a {
  color: #c9a843 !important;
  text-decoration: underline;
  text-transform: uppercase;
}
.RP-association-status.Inprogress {
  color: #c9a843;
}
.RP-association-status.Inprogress a {
  color: #c9a843 !important;
  text-decoration: underline;
  text-transform: uppercase;
}
.RP-association-status.Complete {
  color: #0da899;
}
.RP-association-status.Complete a {
  color: #0da899 !important;
  text-decoration: underline;
  text-transform: uppercase;
}
.RP-association-status.Failed {
  color: #c64643;
}
.RP-association-status.Failed a {
  color: #c64643;
  text-decoration: underline;
  text-transform: uppercase;
}
.RP-association-status.Cancelled {
  color: #c64643;
}
.RP-association-status.Cancelled a {
  color: #c64643 !important;
  text-decoration: underline;
  text-transform: uppercase;
}
.RP-association-status.Partial {
  color: #c9a843;
}
.RP-association-status.Partial a {
  color: #c9a843 !important;
  text-decoration: underline;
  text-transform: uppercase;
}
.RP-association-status.Skipped {
  color: #c9a843;
}
.RP-association-status.Skipped a {
  color: #c9a843 !important;
  text-decoration: underline;
  text-transform: uppercase;
}
.RP-association-status.Errors {
  color: #c64643;
}
.RP-association-status.Errors a {
  color: #c64643;
  text-decoration: underline;
}
.RP-association-status.Warnings {
  color: #c9a843;
}
.RP-association-status.Warnings a {
  color: #c9a843 !important;
  text-decoration: underline;
}
.roaming-profile-status {
  display: inline-block;
  vertical-align: middle;
  text-transform: capitalize;
}
.roaming-profile-status.PENDING {
  color: #c9a843;
}
.roaming-profile-status.PENDING_HLR_UPDATE {
  color: #c9a843;
}
.roaming-profile-status.PUBLISHED {
  color: #0da899;
}
/*
	datatable-controls.less

-------------------------------------------------------------------*/
/*
	@templates
		tpl/app/users.html
		tpl/app/sims.html
		tpl/app/groups.html
		tpl/app/assets/alerts/enterprise-spend-alerts.html
*/
#datatable-controls,
#overridetable .datatable-controls {
  display: block;
  /*
	
	 - Removed
	 
	Reason: dataTables downloadable options for CSV, spreadsheet, and PDF
	have been disabled.
	
	div:not(:last-child){
		margin-right: 15px;
	}
	
	*/
  /*
  todo - This is not needed, remove once reviewed.
  #dt-noofrecords-dd{
    .ui-select-bootstrap{
      .ui-select-choices-row.active > span,
      .ui-select-choices-row:focus,
      .ui-select-choices-row:hover {
        background: #f0f0f0;
        color: #626262;
        opacity: 1;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
      }

      width: 60px;
    }
  }
*/
}
@media only screen and (max-width: 991px) {
  #datatable-controls .defaultBtnGroup,
  #overridetable .datatable-controls .defaultBtnGroup {
    width: 50%;
  }
}
@media only screen and (max-width: 991px) {
  #datatable-controls .btn-group,
  #overridetable .datatable-controls .btn-group {
    width: 100%;
  }
}
@media only screen and (max-width: 991px) {
  #datatable-controls .btn-group.sm-btn-halves button:nth-child(2n+1),
  #overridetable .datatable-controls .btn-group.sm-btn-halves button:nth-child(2n+1) {
    border-radius: 2px 0 0 2px;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
  }
  #datatable-controls .btn-group.sm-btn-halves button:nth-child(2n+2),
  #overridetable .datatable-controls .btn-group.sm-btn-halves button:nth-child(2n+2) {
    border-radius: 0 2px 2px 0;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
  }
}
@media only screen and (max-width: 767px) {
  #datatable-controls .btn-group button,
  #overridetable .datatable-controls .btn-group button {
    width: 100%;
  }
}
#datatable-controls #dt-action-dd,
#overridetable .datatable-controls #dt-action-dd {
  display: inline-block;
  vertical-align: middle;
}
#datatable-controls #dt-action-dd .dt-dropdown-toggle,
#overridetable .datatable-controls #dt-action-dd .dt-dropdown-toggle {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.07);
  padding: 0;
  height: 36px;
  width: 80px;
  -webkit-transition: "color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s";
  transition: "color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s";
}
#datatable-controls #dt-action-dd .dt-dropdown-toggle:hover,
#overridetable .datatable-controls #dt-action-dd .dt-dropdown-toggle:hover,
#datatable-controls #dt-action-dd .dt-dropdown-toggle:focus,
#overridetable .datatable-controls #dt-action-dd .dt-dropdown-toggle:focus {
  background-color: #fafafa;
  border-color: rgba(98, 98, 98, 0.27);
}
#datatable-controls #dt-action-dd .dt-dropdown-toggle .checkbox,
#overridetable .datatable-controls #dt-action-dd .dt-dropdown-toggle .checkbox {
  margin: 0;
  top: -1px;
  text-align: center;
}
#datatable-controls #dt-action-dd .dt-dropdown-toggle .checkbox label,
#overridetable .datatable-controls #dt-action-dd .dt-dropdown-toggle .checkbox label {
  margin-right: 0;
  top: 5px;
}
#datatable-controls #dt-action-dd .dt-dropdown-toggle .checkbox i,
#overridetable .datatable-controls #dt-action-dd .dt-dropdown-toggle .checkbox i {
  line-height: 36px;
  font-size: 14px;
  width: 20px;
}
#datatable-controls #dt-action-dd .dropdown-menu,
#overridetable .datatable-controls #dt-action-dd .dropdown-menu {
  background-color: #fff;
  top: 40px;
}
#datatable-controls #dt-action-dd .dropdown-menu > li > a,
#overridetable .datatable-controls #dt-action-dd .dropdown-menu > li > a {
  opacity: 0.5;
  color: #626262 !important;
  -webkit-transition: opacity ease 0.3s;
  transition: opacity ease 0.3s;
}
#datatable-controls #dt-action-dd .dropdown-menu > li > a:hover,
#overridetable .datatable-controls #dt-action-dd .dropdown-menu > li > a:hover,
#datatable-controls #dt-action-dd .dropdown-menu > li > a:focus,
#overridetable .datatable-controls #dt-action-dd .dropdown-menu > li > a:focus {
  opacity: 1;
  background-color: #f0f0f0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
#datatable-controls #search-table,
#overridetable .datatable-controls #search-table {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
  padding: 0;
}
#datatable-controls #search-table label,
#overridetable .datatable-controls #search-table label {
  padding: 6px 12px;
}
#datatable-controls #search-table input,
#overridetable .datatable-controls #search-table input {
  width: auto;
  margin-left: 5px;
  display: inline-block;
}
#datatable-controls #search-table .search-icon,
#overridetable .datatable-controls #search-table .search-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
#datatable-controls .filter-table,
#overridetable .datatable-controls .filter-table {
  font-size: initial;
  display: inline-block;
  vertical-align: middle;
}
#datatable-controls .filter-table.w-smaller .form-group .ui-select-container,
#overridetable .datatable-controls .filter-table.w-smaller .form-group .ui-select-container {
  min-width: 60px;
}
#datatable-controls .filter-table.w-small .form-group .ui-select-container,
#overridetable .datatable-controls .filter-table.w-small .form-group .ui-select-container {
  min-width: 75px;
}
#datatable-controls .filter-table.w-medium .form-group .ui-select-container,
#overridetable .datatable-controls .filter-table.w-medium .form-group .ui-select-container {
  min-width: 150px;
}
#datatable-controls .filter-table .form-group,
#overridetable .datatable-controls .filter-table .form-group {
  padding: 4px 12px 5px;
}
#datatable-controls .filter-table .form-group .form-control,
#overridetable .datatable-controls .filter-table .form-group .form-control {
  margin-top: 0;
}
#datatable-controls .filter-table .form-group label,
#overridetable .datatable-controls .filter-table .form-group label {
  display: inline-block;
  vertical-align: middle;
  color: #333;
}
#datatable-controls .filter-table .form-group .ui-select-container,
#overridetable .datatable-controls .filter-table .form-group .ui-select-container {
  display: inline-block;
  height: 25px;
  vertical-align: middle;
}
#datatable-controls .filter-table .form-group .ui-select-container .ui-select-match,
#overridetable .datatable-controls .filter-table .form-group .ui-select-container .ui-select-match {
  padding-top: 0;
  line-height: 25px;
}
#datatable-controls .filter-table .form-group .ui-select-container .ui-select-match .ui-select-toggle,
#overridetable .datatable-controls .filter-table .form-group .ui-select-container .ui-select-match .ui-select-toggle {
  line-height: inherit;
}
#datatable-controls .filter-table .form-group .ui-select-container .ui-select-search,
#overridetable .datatable-controls .filter-table .form-group .ui-select-container .ui-select-search {
  letter-spacing: 0.14px;
}
#datatable-controls #user-addition button,
#overridetable .datatable-controls #user-addition button,
#datatable-controls #group-addition button,
#overridetable .datatable-controls #group-addition button,
#datatable-controls #invoice-upload button,
#overridetable .datatable-controls #invoice-upload button {
  position: relative;
  padding-top: 7px;
}
#datatable-controls #user-addition button i:not(.fa-plus),
#overridetable .datatable-controls #user-addition button i:not(.fa-plus),
#datatable-controls #group-addition button i:not(.fa-plus),
#overridetable .datatable-controls #group-addition button i:not(.fa-plus),
#datatable-controls #invoice-upload button i:not(.fa-plus),
#overridetable .datatable-controls #invoice-upload button i:not(.fa-plus) {
  padding-right: 5px;
}
#datatable-controls #user-addition button i.fa-plus,
#overridetable .datatable-controls #user-addition button i.fa-plus,
#datatable-controls #group-addition button i.fa-plus,
#overridetable .datatable-controls #group-addition button i.fa-plus,
#datatable-controls #invoice-upload button i.fa-plus,
#overridetable .datatable-controls #invoice-upload button i.fa-plus {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 10px;
}
#datatable-controls .w-smaller .ui-select-bootstrap,
#overridetable .datatable-controls .w-smaller .ui-select-bootstrap {
  width: 60px;
}
.edit-ico {
  font-size: 10px;
  vertical-align: text-top;
  line-height: 13.5px;
}
@media only screen and (min-width: 992px) {
  .bulk-search-wrapper {
    position: relative;
    display: inline-block;
    float: left;
    left: -179px;
  }
  .bulk-search-wrapper.for-users {
    left: -290px;
  }
  .bulk-search-wrapper.for-groups {
    left: -105px;
  }
}
@media only screen and (max-width: 1010px) {
  .bulk-search-wrapper.reset-at-1010,
  .other-actions-wrapper.reset-at-1010 {
    position: static;
    left: 0;
    float: none;
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  .other-actions-wrapper {
    position: relative;
    display: inline-block;
    float: left;
    left: 335px;
  }
}
@media only screen and (max-width: 991px) {
  #datatable-controls,
  #overridetable .datatable-controls {
    font-size: 0px;
  }
  #datatable-controls [class*="col-"],
  #overridetable .datatable-controls [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
  #datatable-controls #dt-action-dd,
  #overridetable .datatable-controls #dt-action-dd {
    vertical-align: top;
    margin-right: 10px;
    float: left;
  }
  #datatable-controls #search-table,
  #overridetable .datatable-controls #search-table {
    vertical-align: top;
    margin-right: 0;
    width: calc(100% - 91px);
    float: left;
  }
  #datatable-controls #search-table input,
  #overridetable .datatable-controls #search-table input {
    width: 85%;
  }
  #datatable-controls .btn-group .btn.btn-small,
  #overridetable .datatable-controls .btn-group .btn.btn-small {
    display: table-cell;
    width: 30%;
  }
  #datatable-controls .btn-group .btn.icon-btn,
  #overridetable .datatable-controls .btn-group .btn.icon-btn {
    display: table-cell;
    width: 20%;
  }
  #datatable-controls .defaultBtnGroup .btn.btn-small,
  #overridetable .datatable-controls .defaultBtnGroup .btn.btn-small {
    display: table-cell;
    width: 50% !important;
  }
  #datatable-controls #user-addition,
  #overridetable .datatable-controls #user-addition {
    display: table;
    vertical-align: top;
    width: 100%;
    margin-right: 10px;
  }
  #datatable-controls #user-addition button i.fa-plus,
  #overridetable .datatable-controls #user-addition button i.fa-plus {
    right: calc(50% - 9px);
  }
  #datatable-controls #user-addition button i.fa-group,
  #overridetable .datatable-controls #user-addition button i.fa-group {
    padding-right: 7px;
  }
  #datatable-controls #user-addition button i.fa-group + i.fa-plus,
  #overridetable .datatable-controls #user-addition button i.fa-group + i.fa-plus {
    right: calc(50% - 12px);
  }
  #datatable-controls #group-addition,
  #overridetable .datatable-controls #group-addition,
  #datatable-controls #invoice-upload,
  #overridetable .datatable-controls #invoice-upload {
    width: 50%;
  }
  #datatable-controls #group-addition > .btn:first-child,
  #overridetable .datatable-controls #group-addition > .btn:first-child,
  #datatable-controls #invoice-upload > .btn:first-child,
  #overridetable .datatable-controls #invoice-upload > .btn:first-child {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .users-table-panel {
    padding-bottom: 10px !important;
  }
  .searchControlStyle {
    margin-bottom: 32px;
  }
  .itemsPerPageStyle {
    margin-bottom: 1%;
  }
}
@media only screen and (max-width: 480px) {
  .users-table-panel {
    padding-right: 15px !important;
  }
}
@media (max-width: 400px) {
  #datatable-controls #search-table input,
  #overridetable .datatable-controls #search-table input {
    width: 105px;
  }
}
.controls-button-wrapper {
  display: inline-block;
}
@media only screen and (max-width: 767px) {
  .controls-button-wrapper {
    display: block;
  }
  .controls-button-wrapper.no-search {
    display: inline-block;
    width: calc(100% - 90px);
    float: left;
  }
  .controls-button-wrapper .btn {
    width: 100%;
  }
}
@media (min-width: 991px) {
  .verticalCenter {
    display: inline-block;
    float: none;
  }
  .textCenterAlign {
    text-align: center;
  }
  .itemsPerPageStyle {
    width: auto;
  }
  .searchControlStyle {
    width: auto;
  }
}
@media only screen and (max-width: 320px) {
  #datatable-controls.btn-group .btn.icon-btn,
  #overridetable .datatable-controls.btn-group .btn.icon-btn,
  #datatable-controls.btn-group .btn.btn-small,
  #overridetable .datatable-controls.btn-group .btn.btn-small {
    display: table-cell;
    width: 50% !important;
  }
}
@media (min-width: 991px) and (max-width: 1131px) {
  .searchControlStyle {
    right: 0;
    margin-top: 1%;
  }
  .otherControlsStyle {
    left: 0;
    width: 40%;
  }
}
@media (min-width: 1132px) {
  .otherControlsStyle {
    left: 340px;
  }
}
/* Menu Pin Layout */
@media only screen and (min-width: 992px) and (max-width: 1215px) {
  body.menu-pin .other-actions-wrapper,
  body.menu-pin .bulk-search-wrapper {
    position: static;
    left: 0;
    float: none;
    display: block;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1215px) {
  body.menu-pin .bulk-search-wrapper {
    margin-top: 10px;
  }
}
#modal-wizard .gs-data-table tbody td,
#modal-wizard .gs-data-table thead td,
#modal-wizard .gs-data-table .table tbody td,
#modal-wizard .gs-data-table .table thead td,
#modal-wizard .gs-data-table tbody th,
#modal-wizard .gs-data-table thead th,
#modal-wizard .gs-data-table .table tbody th,
#modal-wizard .gs-data-table .table thead th {
  padding: 8px;
  vertical-align: middle;
}
/*
	forms.less

-------------------------------------------------------------------*/
.fg-wrap .form-group {
  margin-bottom: 0;
}
.fg-wrap .fg-element-error {
  margin: 5px 12px 10px;
  font-size: 10px;
  line-height: 1;
  vertical-align: middle;
  color: #f55753;
}
.radio.large input:checked + label:before,
.checkbox.large input:checked + label:before {
  border-width: 10.5px;
}
.radio.large label,
.checkbox.large label {
  padding-left: 20px;
}
.radio.large label:before,
.checkbox.large label:before,
.radio.large label:after,
.checkbox.large label:after {
  width: 20px;
  height: 20px;
}
.radio.large label:after,
.checkbox.large label:after {
  font-size: 14px;
  left: 0px;
  top: 1px;
}
.radio.no-label-text label:before,
.checkbox.no-label-text label:before {
  margin-right: 0;
}
.editable-with-label {
  background-color: #fff;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 2px;
  padding-top: 7px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  overflow: hidden;
}
.editable-with-label.editing {
  background-color: #f0f0f0;
  border-color: rgba(0, 0, 0, 0.1);
}
.editable-with-label > label {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}
.editable-wrapper {
  position: relative;
  width: 100%;
}
.editable-wrapper.allocation .editable-input {
  min-width: 99px;
  position: relative;
}
.editable-wrapper.allocation .editable-input input[type=number]::-webkit-inner-spin-button,
.editable-wrapper.allocation .editable-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.editable-wrapper .editable-input {
  width: calc(100% - 52px);
  min-width: 152px;
  display: table;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-transition: all 0.16s ease-in-out;
  transition: all 0.16s ease-in-out;
}
.editable-wrapper .editable-input .input-ico {
  -webkit-transition: all 0.16s ease-in-out;
  transition: all 0.16s ease-in-out;
  display: table-cell;
  border-right: 1px solid transparent;
  line-height: 26px;
  width: 26px;
  height: 26px;
  text-align: center;
  color: #3a8fc8;
}
.editable-wrapper .editable-input input {
  display: table-cell;
  width: 100%;
  border: none;
  background: none;
  line-height: 25px;
  padding-left: 6px;
  padding-right: 6px;
  -webkit-transition: all 0.16s ease-in-out;
  transition: all 0.16s ease-in-out;
  text-overflow: clip;
  text-overflow: ellipsis;
}
.editable-wrapper .editable-input:hover,
.editable-wrapper .editable-input.focused {
  border-color: rgba(0, 0, 0, 0.07);
}
.editable-wrapper .editable-input:hover .input-ico,
.editable-wrapper .editable-input.focused .input-ico {
  background-color: #daeffd;
  border-color: rgba(0, 0, 0, 0.07);
}
.editable-wrapper .editable-input:hover input,
.editable-wrapper .editable-input.focused input {
  background-color: #fff;
}
.editable-wrapper .editable-input + .updateInputValues {
  position: absolute;
  right: 0;
  top: 0;
}
.editable-wrapper .editable-input + .updateInputValues button {
  padding: 0;
  height: 29px;
  width: 28px;
}
.editable-wrapper .editable-input + .updateInputValues button:first-child {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.editable-wrapper .editable-input .updating-content {
  position: absolute;
  left: 211px;
  top: 0;
  line-height: 28px;
}
.switch-wrapper label {
  display: block;
}
.switch-wrapper .fg-element-error {
  margin-left: 0;
}
.ui-select-container .ui-select-match .ui-select-toggle {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 18px;
  word-wrap: normal;
}
.ui-select-container .ui-select-match .ui-select-toggle .ui-select-match-text {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 18px;
  word-wrap: normal;
  float: none !important;
}
.ui-select-bootstrap .ui-select-choices {
  width: auto;
  min-width: 100%;
}
.ui-select-bootstrap .ui-select-match-text span {
  display: inline !important;
}
input[type=number].export-range {
  width: 55px;
  text-align: center;
}
/*
	auth.less

-------------------------------------------------------------------*/
/*
	@template tpl/auth.html
*/
.header-authentication {
  height: 60px !important;
  padding-right: 0 !important;
  position: relative;
}
.header-authentication .login-logo {
  float: left;
  line-height: 60px;
  text-align: center;
}
.header-authentication .center-app-logo {
  position: absolute;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 0;
  left: 50%;
}
@media only screen and (max-width: 767px) {
  .header-authentication .center-app-logo {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .header-authentication {
    padding-left: 20px !important;
  }
}
.login-wrapper {
  background-color: #fafafa;
  position: relative;
  /*
		@template tpl/auth/login.html
	*/
  /*
		@template tpl/auth/select-account.html
	*/
  /*
		@template tpl/auth/login.html,
		@template tpl/auth/reset-password.html,
		@template tpl/auth/change-password.html,
		@template tpl/auth/forgot-password.html,
		@template tpl/auth/select-account.html
	*/
}
.login-wrapper .auth-header {
  text-align: center;
  padding: 15px 0;
  background-color: #04061e;
}
.login-wrapper .login-container {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: 496px;
}
@media only screen and (max-height: 600px) {
  .login-wrapper .login-container {
    position: relative;
    left: 0;
    top: 60px;
    height: auto;
    width: 100%;
    max-width: 496px;
    float: none;
    margin: 0 auto;
    -webkit-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}
@media only screen and (max-width: 767px) {
  .login-wrapper .login-container {
    position: relative;
    left: 0;
    top: 60px;
    margin: 0 auto;
    height: auto;
    width: 100%;
    -webkit-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}
.login-wrapper .form-group-default label {
  display: inline-block;
}
.login-wrapper .form-group-default label.error {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
}
.login-wrapper .select-account-header {
  text-align: left;
  padding: 8px 50px;
}
.login-wrapper .select-account-header h3,
.login-wrapper .select-account-header h4,
.login-wrapper .select-account-header h5 {
  margin: 0;
}
.login-wrapper .select-account-container {
  max-height: 388px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  border: 1px solid rgba(0, 0, 0, 0.07);
}
.login-wrapper .select-account-container::-webkit-scrollbar-track {
  border-top: none;
  border-right: none;
  border-bottom: none;
}
.login-wrapper .select-account-container .select-account-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.login-wrapper .select-account-container .select-account-list li {
  text-align: left;
  margin: 0;
  padding: 0;
}
.login-wrapper .select-account-container .select-account-list li:last-child a {
  border-bottom: none;
}
.login-wrapper .select-account-container .select-account-list li a {
  font-size: 16px;
  line-height: 1.2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  padding: 15px 50px;
  display: block;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.login-wrapper .select-account-container .select-account-list li a:hover,
.login-wrapper .select-account-container .select-account-list li a:active {
  background-color: rgba(0, 0, 0, 0.035);
}
.login-wrapper .select-account-container .select-account-list li a::before {
  content: "\e62a";
  display: inline-block;
  font: normal normal normal 14px/1 pages-icon;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: 35px;
  top: 50%;
  margin-top: -7px;
  font-size: 14px;
}
.login-wrapper .select-account-container .select-account-list li a i {
  margin-right: 15px;
  font-size: 80%;
}
@media only screen and (max-width: 767px) {
  .login-wrapper .select-account-container {
    max-height: none;
    height: auto;
    overflow: auto;
  }
}
.login-wrapper .auth-view-header {
  text-align: left;
  padding: 0px 50px;
}
.login-wrapper .auth-view-header h3,
.login-wrapper .auth-view-header h4,
.login-wrapper .auth-view-header h5 {
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .login-wrapper .auth-view-header {
    padding: 0px 20px;
  }
}
/*
	profile.less

-------------------------------------------------------------------*/
/*
	@templates
		tpl/app/profile.html
*/
#user-profile .info-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
#user-profile .info-list li {
  padding-left: 0;
  line-height: 1.4;
  margin-bottom: 5px;
  display: table;
  width: 100%;
}
#user-profile .info-list li span {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Montserrat';
  vertical-align: middle;
}
#user-profile .info-list li span.sim-iccid {
  display: table-cell;
  padding-right: 10px;
  width: 65px;
  border-right: 1px solid rgba(0, 0, 0, 0.07);
  opacity: 0.7;
}
#user-profile .info-list li span.sim-nickname {
  display: table-cell;
  padding-left: 10px;
  width: calc(100% - 155px);
}
#user-profile .info-list li span.association {
  opacity: 0.7;
  display: inline-block;
  min-width: 55px;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.07);
}
@media (max-width: 500px) {
  #user-profile .info-list li {
    margin-right: 0;
    padding-right: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  }
  #user-profile .info-list li span.nickname,
  #user-profile .info-list li span.association {
    border-right: none;
    display: block;
  }
}
/*
	settings.less

-------------------------------------------------------------------*/
/*
	@templates
		tpl/app/settings.html
*/
#enterprise-settings .currency-option,
#pricingDetails .currency-option {
  margin: 15px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
#enterprise-settings .cs-skin-full,
#pricingDetails .cs-skin-full {
  width: 100%;
  height: 100%;
}
#enterprise-settings .cs-skin-full.no-border .cs-backdrop,
#pricingDetails .cs-skin-full.no-border .cs-backdrop {
  border: none;
}
#enterprise-settings .zone-price,
#pricingDetails .zone-price {
  opacity: 0.7;
  float: right;
  margin-right: 15px;
}
#enterprise-settings .country-list,
#pricingDetails .country-list {
  list-style: none;
  padding-left: 10px;
}
#enterprise-settings [id^="zone_"],
#pricingDetails [id^="zone_"] {
  background-color: #fafafa;
}
#enterprise-settings [id^="zone_"] + .panel-collapse.in,
#pricingDetails [id^="zone_"] + .panel-collapse.in {
  border-top: 1px solid rgba(0, 0, 0, 0.07);
}
#enterprise-settings .badge-date,
#pricingDetails .badge-date {
  float: right;
  font-size: 10px;
  line-height: 1;
}
#pricingDetails .infinity {
  font-size: 18px;
}
#pricingDetails .basicCommitment {
  border: 1px solid #ddd;
  float: right;
}
#pricingDetails .basicCommitment #committedLabel {
  font-weight: 400;
}
#pricingDetails .basicCommitment #committedData {
  font-weight: bold;
  font-size: 120%;
}
#pricingDetails .basicCommitment #committedCost {
  font-size: 100%;
  display: inline-block;
}
#pricingDetails .widget-11-2 .widget-11-2-table {
  height: auto;
}
#pricingDetails #pricingInfoDataTable th {
  color: #626262 !important;
}
#pricingDetails #pricingInfoDataTable #tier {
  width: 60px;
}
#pricingDetails #pricingInfoDataTable #range,
#pricingDetails #pricingInfoDataTable #committed {
  width: 100px;
}
#pricingDetails #pricingInfoDataTable #price {
  width: 160px;
}
#pricingDetails #pricingInfoDataTable .p-l-10-imp {
  padding-left: 10px !important;
}
@media only screen and (max-width: 580px) {
  #pricingDetails #pricingInfoDataTable #range,
  #pricingDetails #pricingInfoDataTable #committed {
    width: 130px;
  }
  #pricingDetails #pricingInfoDataTable #price {
    width: 200px;
  }
}
@media (max-width: 480px) {
  #enterprise-settings [id^="zone_"] + .panel-collapse .panel-body {
    padding-top: 15px;
  }
}
@media (max-width: 561px) {
  #pricingDetails .basicCommitment {
    float: left !important;
    margin-top: 2%;
  }
}
/*
	data-usage.less

-------------------------------------------------------------------*/
/*
	@template tpl/app/data-usage.html
	@template tpl/app/home/graph.html
*/
#panel-graphs .tab-content {
  position: relative;
  min-height: 475px;
}
.graph-data-wrapper .show-data {
  position: absolute;
  bottom: 0;
  left: calc(50% - 75px);
  display: block;
  text-align: center;
  width: 150px;
  height: 30px;
  line-height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-bottom: none;
  text-shadow: none !important;
  color: #3a8fc8;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
  cursor: pointer;
  background-color: transparent;
}
.graph-data-wrapper .show-data:focus,
.graph-data-wrapper .show-data:hover,
.graph-data-wrapper .show-data:active {
  color: #48b0f7;
}
.graph-data-wrapper .modal .modal-header {
  padding: 10px 0;
}
.graph-data-wrapper .modal .modal-header .close {
  margin-top: 0;
  position: absolute;
  top: 25px;
  right: 20px;
}
.graph-data-wrapper .modal .modal-body {
  max-height: 220px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0 25px 0;
  margin-bottom: 25px;
}
@media only screen and (max-width: 500px) {
  .graph-data-wrapper .modal .modal-body {
    padding: 0 0 25px 0;
  }
}
@media only screen and (max-width: 400px) {
  nvd3 .nvtooltip {
    margin-top: 0px !important;
  }
  /*
     applying margin-top only for pie chart and donut chart
    */
  .nvtooltip {
    margin-top: -50px;
  }
}
.modal a[graph-upload] {
  right: 110px;
  bottom: 25px;
  position: absolute;
  z-index: 9999;
}
@media only screen and (max-width: 470px) {
  .graphs a[graph-upload],
  .zone-panel-wrapper a[graph-upload] {
    float: right;
    position: relative;
  }
}
@media only screen and (min-width: 470px) {
  .graphs a[graph-upload],
  .zone-panel-wrapper a[graph-upload] {
    float: right;
    position: relative;
  }
}
@media only screen and (min-width: 767px) {
  .graphs a[graph-upload],
  .zone-panel-wrapper a[graph-upload] {
    right: 15px;
    top: 15px;
    position: absolute;
  }
}
/*
	_nvd3.less

-------------------------------------------------------------------*/
/*
	@template #/app/home
	@template #/app/data-usage
	@template #/app/sims
*/
.pie-or-donut nvd3 .title,
.pie-or-donut nvd3 .subtitle {
  margin: 0 auto;
}
.pie-or-donut nvd3 svg {
  width: auto;
  height: auto;
  margin: 0 auto;
}
.nvd3 .nv-axis line {
  stroke: rgba(0, 0, 0, 0.07);
}
.nvd3.nv-noData {
  font: 300 14px "Segoe UI", Arial, sans-serif;
  fill: #2b6a94;
  opacity: 0.6;
}
.nvtooltip {
  border: 1px solid rgba(0, 0, 0, 0.07);
  padding: 7px 12px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
.nvtooltip .nvd3-gs-title {
  display: block;
  max-width: 200px;
}
.nvtooltip .nvd3-gs-title p {
  font-size: 12px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  text-align: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
.nvtooltip .nvd3-gs-usage {
  display: inline-block;
  font-weight: 600;
}
.nvtooltip .nvd3-gs-usage .nvd3-gs-usage-unit {
  vertical-align: baseline;
  text-transform: uppercase;
  line-height: 1;
  font-size: 80%;
  margin-left: 3px;
}
.nvtooltip .nvd3-gs-date {
  display: inline-block;
  opacity: 0.7;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.07);
}
.nvd3-modal-title {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat';
  margin-top: 15px;
  margin-bottom: 0px;
}
.nvd3-modal-subtitle {
  text-align: center;
  font-size: 10px;
  line-height: 1;
  margin-bottom: 15px;
}
/*
	_dashboard.less

-------------------------------------------------------------------*/
/*
	@template tpl/app/home.html
*/
.panel .costs-body {
  padding: 15px 15px 0;
}
.panel .costs-body .estimated-cost {
  padding: 20px 25px 35px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.07);
}
.panel.zones-panel {
  min-height: 511px;
}
.panel .panel-heading .with-sub-title {
  display: block;
}
.panel .panel-sub-title {
  color: #626262;
  font-size: 10px;
  line-height: 1;
}
/* Menu Pinned State */
@media only screen and (max-width: 1199px) {
  body.menu-pin .zone-panel-wrapper,
  body.menu-pin .estimated-cost-wrapper {
    width: 100% !important;
  }
}
.noDataMessage {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.overflow-wrapper {
  max-height: 500px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
}
.overflow-wrapper.pricing-wrapper {
  min-height: 232px;
  height: 231px;
}
.overflow-wrapper.usage-table-wrapper {
  height: 350px;
}
@media only screen and (max-width: 1199px) {
  .overflow-wrapper.usage-table-wrapper {
    height: 100%;
  }
}
.overflow-wrapper .no-data {
  margin-top: 24px;
  /* Offset for the table header */
  text-align: center;
  color: #2b6a94;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.spend-line-height {
  line-height: 28px;
}
.gs-mock-table {
  display: table;
  width: 100%;
}
.gs-mock-table.mt-row-hover .mt-row:hover {
  background-color: #FFFBDF !important;
  cursor: pointer;
}
.gs-mock-table.gs-fixed {
  table-layout: fixed;
}
.gs-mock-table.striped .mt-row:nth-child(even) {
  background-color: #f9f9f9;
}
.gs-mock-table.mt-row-hover-border-left .mt-row > div:first-child {
  border-left: 5px solid transparent;
  -webkit-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}
.gs-mock-table.mt-row-hover-border-left .mt-row:hover > div:first-child {
  border-left: 5px solid #f9d975;
}
.gs-mock-table.sim-table .mt-header > div:first-child,
.gs-mock-table.sim-table .mt-row > div:first-child {
  width: 125px;
}
.gs-mock-table.zone-usage-table {
  table-layout: fixed;
}
.gs-mock-table.zone-usage-table .mt-header .usage::after {
  display: block;
}
.gs-mock-table .usage::after {
  vertical-align: baseline;
  text-transform: uppercase;
  line-height: 1;
  font-size: 80%;
  font-weight: 600;
  margin-left: 3px;
  content: 'in mb';
  display: inline-block;
  opacity: 0.7;
}
.gs-mock-table .mt-header,
.gs-mock-table .mt-row {
  position: relative;
}
.gs-mock-table .mt-header > div,
.gs-mock-table .mt-row > div {
  display: table-cell;
  border-bottom: 1px solid rgba(235, 235, 235, 0.7);
  padding: 12px 15px;
  vertical-align: middle;
  line-height: 1;
}
.gs-mock-table .mt-header > div:first-child,
.gs-mock-table .mt-row > div:first-child,
.gs-mock-table .mt-header > div:last-child,
.gs-mock-table .mt-row > div:last-child {
  padding: 12px 15px 12px 20px;
}
.gs-mock-table .mt-header {
  display: table-row;
}
.gs-mock-table .mt-header > div {
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Montserrat';
  font-size: 13px;
  color: rgba(44, 44, 44, 0.35);
}
.gs-mock-table .mt-header > div.checkbox-header {
  width: 30px;
  padding: 12px 5px;
}
.gs-mock-table .mt-row {
  display: table-row;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.gs-mock-table .mt-row > div.checkbox-cell {
  width: 30px;
  padding: 12px 5px;
}
.gs-mock-table .mt-row > div.checkbox-cell .checkbox {
  margin: 0 auto;
}
.gs-mock-table .mt-row > div.checkbox-cell label {
  margin-left: 5px;
  margin-right: 0px !important;
}
.rd-alert {
  padding: 8px 0px 6px;
  border-top: 1px dashed #bce8f1;
  background-color: #daeffd;
  color: #2b6a94;
  opacity: 0.6;
  text-align: center;
}
.rd-alert .rd-message {
  font-size: 10px;
  line-height: 1;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .overflow-wrapper.sim-wrapper,
  .overflow-wrapper.user-wrapper,
  .overflow-wrapper.pricing-wrapper {
    height: 100% !important;
    min-height: 100% !important;
    max-height: 100% !important;
    overflow: hidden;
    -webkit-overflow-scrolling: inherit;
  }
  .overflow-wrapper .no-data {
    margin-top: 0;
    padding: 20px;
    position: static;
    -webkit-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
  .gs-mock-table.sim-table,
  .gs-mock-table.user-table {
    display: block;
    width: 100%;
  }
  .gs-mock-table.sim-table.mt-row-hover-border-left .mt-row > div,
  .gs-mock-table.user-table.mt-row-hover-border-left .mt-row > div {
    border-left: 5px solid transparent;
    -webkit-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
  }
  .gs-mock-table.sim-table.mt-row-hover-border-left .mt-row:hover > div,
  .gs-mock-table.user-table.mt-row-hover-border-left .mt-row:hover > div {
    border-left: 5px solid #f9d975;
  }
  .gs-mock-table.sim-table .mt-header,
  .gs-mock-table.user-table .mt-header {
    display: none;
  }
  .gs-mock-table.sim-table .mt-row,
  .gs-mock-table.user-table .mt-row {
    display: block;
    /* Removed until functionality is added
				&::after{
					display: inline-block;
					font: normal normal normal 14px/1 FontAwesome;
					font-size: inherit;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					transform: translate(0,0);
					
					content: "\f0c1";
					color: #3a8fc8;
					
					position: absolute;
				    right: 15px;
				    top: 15px;
				    padding: 6px;
				    background-color: #fafafa;
				    border: 1px solid rgba(0,0,0,.07);
				    .border-radius(99px);
				}*/
  }
  .gs-mock-table.sim-table .mt-row:nth-child(2n+2),
  .gs-mock-table.user-table .mt-row:nth-child(2n+2) {
    background-color: #fafafa;
  }
  .gs-mock-table.sim-table .mt-row > div,
  .gs-mock-table.user-table .mt-row > div {
    position: relative;
    display: block;
    width: 100% !important;
    padding: 7px 15px 7px 115px;
    border-bottom: 0;
  }
  .gs-mock-table.sim-table .mt-row > div::before,
  .gs-mock-table.user-table .mt-row > div::before {
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Montserrat';
    font-size: 13px;
    color: rgba(44, 44, 44, 0.35);
    width: 100px;
    position: absolute;
    left: 20px;
    top: 7px;
  }
  .gs-mock-table.sim-table .mt-row > div:first-child,
  .gs-mock-table.user-table .mt-row > div:first-child {
    padding-top: 27px;
    /* 12px + 20px additional */
    border-top: 1px solid rgba(0, 0, 0, 0.07);
  }
  .gs-mock-table.sim-table .mt-row > div:first-child::before,
  .gs-mock-table.user-table .mt-row > div:first-child::before {
    content: 'Usage';
    display: inline-block;
    top: 23px !important;
    left: 20px !important;
  }
  .gs-mock-table.sim-table .mt-row > div:first-child::after,
  .gs-mock-table.user-table .mt-row > div:first-child::after {
    vertical-align: baseline;
    text-transform: uppercase;
    line-height: 1;
    font-size: 80%;
    font-weight: 600;
    content: 'in mb';
    display: inline-block;
    opacity: 0.3;
    position: absolute;
    top: 36px;
    left: 20px;
  }
  .gs-mock-table.sim-table .mt-row > div:last-child,
  .gs-mock-table.user-table .mt-row > div:last-child {
    padding-bottom: 27px;
    /* 12px + 20px additional */
  }
  .gs-mock-table.sim-table .mt-row > div:nth-child(2)::before {
    content: 'ICCID';
    display: inline-block;
  }
  .gs-mock-table.sim-table .mt-row > div:nth-child(3)::before {
    content: 'User';
    display: inline-block;
  }
  .gs-mock-table.sim-table .mt-row > div:last-child::before {
    content: 'Group';
    display: inline-block;
  }
  .gs-mock-table.user-table .mt-row > div:nth-child(2)::before {
    content: 'User';
    display: inline-block;
  }
  .gs-mock-table.user-table .mt-row > div:nth-child(3)::before {
    content: 'Group';
    display: inline-block;
  }
  .gs-mock-table.user-table .mt-row > div:last-child::before {
    content: 'Location';
    display: inline-block;
  }
  .spend-line-height {
    line-height: 24px;
  }
}
/*
	alerts.less

-------------------------------------------------------------------*/
/*
	@template app/assets/alerts/*.html
*/
/* Header */
.alert-notifications {
  padding: 5px 15px 0;
  line-height: 50px;
  background: #36384b;
  color: #CCC;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.35s color ease-in-out;
  transition: 0.35s color ease-in-out;
}
@media only screen and (max-width: 767px) {
  .alert-notifications {
    line-height: 38px;
  }
}
.alert-notifications:hover,
.alert-notifications:focus {
  color: #FFF;
}
.alert-notifications.alerts-present {
  border-bottom: 5px solid #f55753;
}
.alert-notifications.no-alerts {
  border-bottom: 5px solid #10cfbd;
}
.alert-notifications.no-alert-count i.fa-bell {
  top: 2px;
  left: 0;
}
.alert-notifications i.fa-bell {
  font-size: 1.4em;
  position: relative;
  top: 4px;
  left: -2px;
}
.alert-notifications .alert-count {
  position: absolute;
  z-index: 1;
  top: 12px;
  left: 22px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
@media only screen and (max-width: 767px) {
  .alert-notifications .alert-count {
    top: 9px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    font-size: 10px;
  }
}
/* Right Sidebar - Quickview */
.alertview-header {
  height: 60px;
  background-color: #04061e;
  text-align: center;
}
.alertview-header span {
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
}
.alertview-header .quickview-toggle {
  right: 0;
  top: 0;
  width: 50px;
  height: 60px;
  line-height: 60px;
  padding: 0;
  background: #36384b;
  opacity: 1;
  color: #CCC;
  -webkit-transition: 0.35s color ease-in-out;
  transition: 0.35s color ease-in-out;
}
.alertview-header .quickview-toggle:hover,
.alertview-header .quickview-toggle:focus {
  color: #FFF;
}
@media only screen and (max-width: 767px) {
  .alertview-header {
    height: 48px;
  }
  .alertview-header span {
    line-height: 48px;
  }
  .alertview-header .quickview-toggle {
    height: 48px;
    line-height: 48px;
  }
}
.alertview-subheader {
  height: 40px;
  background-color: #6d5cae;
  text-align: center;
}
.alertview-subheader span {
  line-height: 40px;
  text-transform: uppercase;
  color: #FFF;
  font-size: 12px;
}
.list-alerts .alert-list {
  background-color: #36384b;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0;
}
.list-alerts .alert-list:hover,
.list-alerts .alert-listfocus {
  background-color: #36384b;
}
.list-alerts .alert-list:last-child {
  border-bottom: none;
}
.list-alerts .alert-list a {
  color: #CCC;
  padding: 0 0 0 15px;
}
.list-alerts .alert-list a:hover,
.list-alerts .alert-list afocus {
  color: #FFF;
}
.list-alerts .alert-list .date {
  width: 60px;
}
.list-alerts .alert-list .group-name {
  line-height: 1;
  display: block;
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 75%;
  font-weight: bold;
}
.list-alerts .alert-list .alert-specs {
  line-height: 1.4;
  display: block;
}
.list-alerts ul {
  border-bottom: none;
}
/* Panels */
.alerts-tab-content {
  min-height: 475px;
}
/* Content */
.alert-info-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .alert-info-list li {
    margin-bottom: 10px;
  }
}
.sim-radius {
  border-radius: 4px 12px 4px 4px;
  -webkit-border-radius: 4px 12px 4px 4px;
  -moz-border-radius: 4px 12px 4px 4px;
}
.alerts-customize-wrapper {
  border-bottom: 1px dashed #e5e5e5;
}
.alerts-customize-wrapper .acw-sim-info,
.alerts-customize-wrapper .acw-alert-info,
.alerts-customize-wrapper .acw-type-info,
.alerts-customize-wrapper .acw-group-info {
  padding: 20px;
}
@media only screen and (max-width: 1199px) {
  .alerts-customize-wrapper .acw-sim-info,
  .alerts-customize-wrapper .acw-alert-info,
  .alerts-customize-wrapper .acw-type-info,
  .alerts-customize-wrapper .acw-group-info {
    padding: 20px 0;
  }
}
@media only screen and (max-width: 480px) {
  .alerts-customize-wrapper .acw-sim-info,
  .alerts-customize-wrapper .acw-alert-info,
  .alerts-customize-wrapper .acw-type-info,
  .alerts-customize-wrapper .acw-group-info {
    padding: 10px 0;
  }
}
@media only screen and (max-width: 480px) {
  .alerts-customize-wrapper .col-xs-6 {
    width: 100%;
  }
}
@media only screen and (max-width: 1199px) {
  .alerts-customize-wrapper .acw-type-info {
    position: relative;
  }
  .alerts-customize-wrapper .acw-type-info .info-question-circle {
    position: absolute;
    top: 25px;
    left: -29px;
  }
}
@media only screen and (max-width: 767px) {
  .alerts-customize-wrapper .acw-type-info {
    padding: 0;
    margin-bottom: 25px;
    white-space: nowrap;
  }
  .alerts-customize-wrapper .acw-type-info .info-question-circle {
    position: static;
  }
  .alerts-customize-wrapper .acw-type-info button {
    width: calc(100% - 24px);
  }
}
@media only screen and (max-width: 480px) {
  .alerts-customize-wrapper .acw-type-info {
    padding: 10px 0;
    margin-bottom: 15px;
  }
}
.sim-association-wrapper {
  border-top: 1px dashed #e5e5e5;
  background-color: #fafafa;
  padding: 5px 10px;
}
.sim-association {
  display: inline-block;
  white-space: nowrap;
}
.sim-association .assoc-title {
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 12px;
  color: #626262;
  font-weight: bold;
  vertical-align: middle;
}
.sim-association .assoc-value {
  margin: 0 10px 0 5px;
  font-size: 12px;
  vertical-align: middle;
}
@media only screen and (max-width: 480px) {
  .sim-association .assoc-value {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 185px;
  }
}
/* Table Data */
.alert-level-id {
  text-transform: uppercase;
  font-size: 10px;
  color: #888888;
  font-weight: 600;
  line-height: 1;
}
.alert-target-id {
  line-height: 1.2;
}
#enterpriseBulkMsgAlert {
  max-height: 550px !important;
  overflow: auto !important;
}
#enterpriseBulkMsgAlert > .close {
  position: absolute !important;
  right: 20px !important;
}
.pgn-wrapper[data-position="top-right"] {
  height: auto !important;
  top: 92px !important;
  right: 0px !important;
}
.pgn-wrapper[data-position="top-right"] > .pgn-simple {
  height: inherit !important;
}
/*
  Any GEM lite specific styling should be used in two parts:
   1. .gem-lite is added to the body tag to identify that styling should be gem-lite specific
   2. add an additional class like ".my-style" after .gem-lite so it's only applied when GEM lite accounts are active
*/
.gem-lite .sim-man-btn-grp {
  width: 176px;
}
@media only screen and (max-width: 991px) {
  .gem-lite .sim-man-btn-grp {
    width: 100%;
  }
}
.gem-lite .user-man-btn-grp {
  width: 290px;
}
@media only screen and (max-width: 991px) {
  .gem-lite .user-man-btn-grp {
    width: 100%;
  }
  .gem-lite .user-man-btn-grp .sm-btn-halves button:nth-child(2n+2) {
    margin-top: 0 !important;
  }
}
.overflow-wrapper-lite .no-data {
  margin-top: 24px;
  /* Offset for the table header */
  text-align: center;
  color: #2b6a94;
  opacity: 0.6;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*
	mock-tables.less

-------------------------------------------------------------------*/
.sbs-wrapper {
  height: auto;
}
.sbs-wrapper.scrollable {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.sbs-wrapper.h500 {
  height: 500px;
}
.sbs-lv-table {
  display: table;
  margin: 15px 0;
}
.sbs-lv-table.no-margin {
  margin: 0 !important;
}
.sbs-lv-table.full-width {
  width: 100%;
}
.sbs-lv-table.full-width:not(.fixed-width-value) .lv-row .l-cell {
  width: 150px;
}
.sbs-lv-table.full-width:not(.fixed-width-value) .lv-row .full-cell {
  width: 100%;
}
.sbs-lv-table.fixed-width-label .lv-row .l-cell {
  width: 150px;
}
.sbs-lv-table.inline-table {
  display: inline-table;
}
.sbs-lv-table.row-border .lv-row:first-child .l-cell,
.sbs-lv-table.full-border .lv-row:first-child .l-cell,
.sbs-lv-table.row-border .lv-row:first-child .v-cell,
.sbs-lv-table.full-border .lv-row:first-child .v-cell {
  border-top: none;
}
.sbs-lv-table.row-border .lv-row .l-cell,
.sbs-lv-table.full-border .lv-row .l-cell,
.sbs-lv-table.row-border .lv-row .v-cell,
.sbs-lv-table.full-border .lv-row .v-cell {
  border-top: 1px solid rgba(0, 0, 0, 0.07);
}
.sbs-lv-table.full-border {
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
.sbs-lv-table.full-border .lv-row .l-cell {
  border-right: 1px solid rgba(0, 0, 0, 0.07);
  padding: 5px 10px;
}
.sbs-lv-table.border-top .lv-row:first-child .l-cell,
.sbs-lv-table.border-top .lv-row:first-child .v-cell {
  border-top: 1px solid rgba(0, 0, 0, 0.07) !important;
}
.sbs-lv-table.table-striped .lv-row:nth-child(2n+1) .l-cell,
.sbs-lv-table.table-striped .lv-row:nth-child(2n+1) .v-cell {
  background-color: #fafafa;
}
.sbs-lv-table.row-hover .lv-row:hover {
  background-color: #FFFBDF !important;
}
.sbs-lv-table.row-hover .lv-row:hover:nth-child(2n+1) .l-cell,
.sbs-lv-table.row-hover .lv-row:hover:nth-child(2n+1) .v-cell {
  background-color: #FFFBDF !important;
}
.sbs-lv-table.label-padding .lv-row .l-cell {
  padding: 5px 10px;
}
.sbs-lv-table.small-padding .lv-row .l-cell,
.sbs-lv-table.small-padding .lv-row .v-cell,
.sbs-lv-table.small-padding .lv-row .full-cell {
  padding: 5px 10px;
}
.sbs-lv-table.label-checkbox .lv-row.checked {
  background-color: #cff5f2;
}
.sbs-lv-table.label-checkbox .lv-row.checked:nth-child(2n+1) .l-cell,
.sbs-lv-table.label-checkbox .lv-row.checked:nth-child(2n+1) .v-cell {
  background-color: #cff5f2;
}
.sbs-lv-table.label-checkbox .lv-row .l-cell {
  width: 35px !important;
  padding-right: 0;
}
.sbs-lv-table.label-checkbox .lv-row .l-cell .checkbox {
  margin: 0;
}
.sbs-lv-table.label-checkbox .lv-row .l-cell input + label {
  margin-right: 0;
  margin-top: 0;
  min-height: 18px;
}
.sbs-lv-table.label-checkbox .lv-row .v-cell {
  padding-left: 0 !important;
}
.sbs-lv-table.label-text-right .lv-row .l-cell {
  text-align: right;
}
.sbs-lv-table.value-text-right .lv-row .v-cell {
  text-align: right;
}
.sbs-lv-table.fixed-width-value .lv-row .v-cell {
  width: 125px;
}
.sbs-lv-table.fixed-width-value.small-width-value .lv-row .v-cell {
  width: 100px;
}
.sbs-lv-table .lv-row {
  display: table-row;
  word-break: break-all;
}
.sbs-lv-table .lv-row .l-cell,
.sbs-lv-table .lv-row .v-cell,
.sbs-lv-table .lv-row .full-cell {
  display: table-cell;
  line-height: 1.4;
  font-size: 14px;
  vertical-align: top;
}
.sbs-lv-table .lv-row .l-cell {
  padding: 5px 10px;
  font-weight: 600;
}
.sbs-lv-table .lv-row .v-cell {
  padding: 5px 15px;
}
.sbs-lv-table .lv-row .v-cell .block-cell {
  display: inline-block;
  margin-top: 9px;
}
/*
	sim-details.less

-------------------------------------------------------------------*/
.sim-details-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.07);
  padding: 20px;
}
.sim-details-wrapper .like-panel-title {
  display: block;
}
.sim-details-wrapper .sbs-lv-table {
  margin: 0;
}
#divActions label {
  cursor: pointer;
  font-family: 'Montserrat';
  color: #333;
  font-weight: 600;
  margin-right: 10px;
}
#divActions .dropdown-toggle {
  display: block !important;
}
#divActions .dropdown-menu {
  background-color: #fff;
  margin-top: 5px;
}
#divActions .dropdown-menu li a {
  opacity: 0.5;
  line-height: 35px;
  color: #626262;
  padding: 0 20px;
  font-weight: 400;
  white-space: nowrap;
  text-transform: none;
}
#divActions .dropdown-menu li a:hover {
  cursor: pointer;
  opacity: 1;
  background-color: #f0f0f0;
}
#divSimDetailScrollLinks {
  margin-top: -25px;
  margin-bottom: 50px;
  margin-left: -30px;
  margin-right: -30px;
}
#divSimDetails .col-md-4 :first-child {
  padding-left: 0;
}
#divSimDetails .col-md-4 :last-child {
  padding-right: 0;
}
/*
	extension.less

-------------------------------------------------------------------*/
/* Panels */
.panel .panel-grey,
.panel .panel-gray {
  background-color: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.07);
}
.panel-with-export .panel-heading {
  height: 30px;
  vertical-align: middle;
}
.panel-with-export .panel-heading button {
  float: right;
  top: -7px;
}
/* Header to resemble panel */
.like-panel-title {
  font-family: 'Montserrat';
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.02em;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-stroke: 0;
  color: inherit;
  padding-bottom: 7px;
}
/* Content Break */
.content-break {
  width: 100%;
  margin: 25px 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.07);
}
/*
	collapse.less

-------------------------------------------------------------------*/
.simple-collapse-wrapper {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease-in;
  transition: height 0.35s ease-in;
}
.simple-collapse-wrapper .simple-collapse-content {
  padding: 20px 0;
}
/*
	layout.less

-------------------------------------------------------------------*/
/* User Details - SIM Cards Tab */
.panel-table-wrapper {
  padding: 10px 20px;
}
/* DataTables - Table Options */
.no-export-options .exportOptions {
  display: none !important;
}
/*
	info-wrapper.less

-------------------------------------------------------------------*/
/* Additional Information */
.additional-info-wrapper {
  background-color: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.07);
  padding: 10px 20px;
}
@media only screen and (max-width: 991px) {
  .additional-info-wrapper {
    margin-top: 40px;
  }
}
.additional-info-wrapper .account-action {
  margin-left: 10%;
}
/*
	helpers.less

-------------------------------------------------------------------*/
.va-middle {
  vertical-align: middle !important;
}
.ds-block {
  display: block !important;
}
.ds-inline {
  display: inline-block !important;
}
.cursor-pointer {
  cursor: pointer !important;
}
.font-inconsolata {
  font-family: "Inconsolata", monospace !important;
}
.w-50 {
  width: 50px !important;
}
.w-60 {
  width: 60px !important;
}
/*
	scroll-links.less

-------------------------------------------------------------------*/
.scroll-links-container {
  height: auto;
}
.scroll-links-container .scroll-links-wrapper {
  width: 100%;
  padding: 8px 30px;
  background-color: #6d5cae;
  color: rgba(255, 255, 255, 0.75);
}
@media only screen and (max-width: 767px) {
  .scroll-links-container .scroll-links-wrapper {
    padding: 8px 20px;
  }
}
.scroll-links-container .scroll-links-wrapper.scroll-links-fixed {
  position: fixed;
  z-index: 4;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.scroll-links-container .scroll-links-wrapper ul {
  margin: 0;
  padding: 0;
}
.scroll-links-container .scroll-links-wrapper ul li {
  display: inline-block;
  list-style-type: none;
  color: inherit;
  cursor: pointer;
  padding: 0 10px;
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1;
  font-weight: 600;
}
@media only screen and (max-width: 767px) {
  .scroll-links-container .scroll-links-wrapper ul li {
    width: 49%;
    padding: 0;
  }
}
.scroll-links-container .scroll-links-wrapper ul li:first-child {
  padding-left: 0;
}
.scroll-links-container .scroll-links-wrapper ul li:hover {
  -webkit-transition: color 0.1s linear 0s;
  transition: color 0.1s linear 0s;
  color: #ffffff;
}
.scroll-links-container .scroll-links-wrapper ul li:hover * {
  color: inherit;
}
/*
	Customer activity page css

-------------------------------------------------------------------*/
.customer-activity {
  overflow: scroll;
}
.customer-activity form[name='activityFiltersForm'] {
  padding: 0 25px;
  margin-top: 10px;
}
.customer-activity .account-search {
  z-index: 3;
}
.customer-activity .account-search.focused {
  border: 1px solid rgba(0, 0, 0, 0.07) !important;
  background-color: #fff !important;
}
.customer-activity .account-search.focused label {
  opacity: 1;
}
.customer-activity .account-search label.fade {
  opacity: 1;
}
.customer-activity .search-suggestions {
  position: relative;
  top: -5px;
  left: 4%;
}
.customer-activity .search-suggestions ul {
  display: block;
  min-width: 92% !important;
  max-height: 300px!important;
}
.customer-activity .date-range {
  height: 54px;
}
.customer-activity button {
  height: 54px;
  width: 100%;
}
.customer-activity #container {
  padding-bottom: 400px!important;
  position: relative;
  width: 900px;
  margin: 0 auto;
  max-width: 100%;
  min-width: 400px;
}
.customer-activity .hovertext {
  text-align: left;
  background: #fff;
  box-shadow: 0px 0px 5px rgba(98, 98, 98, 0.2);
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 0.01em;
  padding: 10px;
}
#legend {
  padding: 15px;
}
#legend div {
  width: 20px;
  height: 20px;
  display: inline-block;
}
#legend .low {
  background-color: #f04e42;
}
#legend .medium {
  background-color: #f7b127;
}
#legend .high {
  background-color: #008000;
}
#legend .no-data {
  background-color: #e8e1e1;
}
#legend span {
  margin: 10px;
}
